I don't think we'll ever use this for industry because we'll use the W&P unsupressed version, but I'm keeping this notebook here just in case as a reference to build on later.

# BEA API Call  
Right now (8/24/2022), this notebook outlines the first iteration of BEA API call formatting for the "At a Glance" employment poster data. This goes to two different analytics:  
1. Current Employment by Custom Industry Groups with Description and Line Code:  
**Professional:**  
+ Information (900)  
+ Finance and Insurance (1000)  
+ Real Estate & Rental & Leasing (1100)  
+ Professional Scientific & Technical Services (1200)  
+ Management of Companies and Enterprises (1300)  
+ Administrative and Support and Waste Management and Remediation Services (1400)  
+ Educational Services (1500)
+ Health Care & Social Assistance (1600)  


**Retail:**  


+ Retail Trade (700)  
+ Arts Entertainment & Recreation (1700)  
+ Accommodation & Food Services (1800)  
+ Other Services Except Government & Government Enterprises (1900)  


**Government:**  


+ Government & Government Enterprises (2000)  


**Farm**  


+ Farm Employment (70)  


**Total Jobs**  


+ Total Employment/Number of Jobs (10)


**Percentages**  


+ Sum of Each Category Divided by the Total Jobs  
  
2. Blue versus White Collar Employment  
Percentages Only  


**Blue Collar:**  


+ Mining Quarrying & Oil and Gas Extraction (200)  
+ Utilities (300)  
+ Construction (400)  
+ Manufacturing (500)  
+ Wholesale Trade (600)  
+ Transporatation and Warehousing (800)      

**White Collar:**  

+ Information (900)  
+ Finance & Insurance (1000)  
+ Real Estate & Rental & Leasing (1100)  
+ Professional Scientific & Technical Services (1200)  
+ Management of Companies & Enterprises (1300)  
+ Educational Services (1500)  
+ Health Care & Social Assistance (1600)  
+ State and Local Government (2010)

In [14]:
import requests
import pandas as pd
import pickle
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.width', 150)
def percent(x, y):
    return (x/y)*100
pd.options.mode.chained_assignment = None  # default='warn'

In [15]:
GNRC = ['47161', #Stewart
       '47125', #Montgomery
       '47083', #Houston
       '47085', #Humphreys
       '47043', #Dickson
       '47021', #Cheatham
       '47147', #Robertson
       '47165', #Sumner
       '47037', #Davidson
       '47189', #Wilson
       '47169', #Trousdale
       '47187', #Williamson
       '47149', #Rutherford
       '47119'] #Maury

In [16]:
#to read in... rb is read bite
with open('api_keys.pkl', 'rb') as keys_file:
        keys_dict_2 = pickle.load(keys_file)
#create a variable that contains your api key
census_key = keys_dict_2['CENSUS']
bea_key = keys_dict_2['BEA']

In [17]:
url_str = 'https://apps.bea.gov/api/data/?&UserID={}'.format(bea_key)
method = '&method=GetData'
dataset = '&datasetname=Regional'
table = '&TableName=CAEMP25N'
linecode = '&LineCode=ALL'
year = '&Year=2020'

In [18]:
data_appended = []
for x in GNRC:
    geo = '&GeoFips={}'.format(x)
    url = '{}{}{}{}{}{}{}'.format(url_str, method, dataset, table, linecode, geo, year)
    r = requests.get(url).json()
    data = pd.DataFrame(r['BEAAPI']['Results']['Data'])
    data_appended.append(data)
data_appended = pd.concat(data_appended).reset_index(drop = True)

In [19]:
data_appended.head(100)

             Code GeoFips         GeoName TimePeriod                                        Description         CL_UNIT UNIT_MULT DataValue NoteRef
0     CAEMP25N-10   47161     Stewart, TN       2020                  Total employment (number of jobs)  Number of jobs         0     4,664     NaN
1     CAEMP25N-20   47161     Stewart, TN       2020                         Wage and salary employment  Number of jobs         0     3,115     NaN
2     CAEMP25N-40   47161     Stewart, TN       2020                             Proprietors employment  Number of jobs         0     1,549     NaN
3     CAEMP25N-50   47161     Stewart, TN       2020                        Farm proprietors employment  Number of jobs         0       326     NaN
4     CAEMP25N-60   47161     Stewart, TN       2020                  Nonfarm proprietors employment 2/  Number of jobs         0     1,223     NaN
5     CAEMP25N-70   47161     Stewart, TN       2020                                    Farm employment  Number of jobs         0       354     NaN
6     CAEMP25N-80   47161     Stewart, TN       2020                                 Nonfarm employment  Number of jobs         0     4,310     NaN
7     CAEMP25N-90   47161     Stewart, TN       2020                         Private nonfarm employment  Number of jobs         0     3,215     NaN
8    CAEMP25N-100   47161     Stewart, TN       2020          Forestry, fishing, and related activities  Number of jobs         0       (D)     (D)
9    CAEMP25N-200   47161     Stewart, TN       2020      Mining, quarrying, and oil and gas extraction  Number of jobs         0         1     NaN
10   CAEMP25N-300   47161     Stewart, TN       2020                                          Utilities  Number of jobs         0       (D)     (D)
11   CAEMP25N-400   47161     Stewart, TN       2020                                       Construction  Number of jobs         0       (D)     (D)
12   CAEMP25N-500   47161     Stewart, TN       2020                                      Manufacturing  Number of jobs         0       702     NaN
13   CAEMP25N-600   47161     Stewart, TN       2020                                    Wholesale trade  Number of jobs         0        38     NaN
14   CAEMP25N-700   47161     Stewart, TN       2020                                       Retail trade  Number of jobs         0       (D)     (D)
15   CAEMP25N-800   47161     Stewart, TN       2020                     Transportation and warehousing  Number of jobs         0       (D)     (D)
16   CAEMP25N-900   47161     Stewart, TN       2020                                        Information  Number of jobs         0        20     NaN
17  CAEMP25N-1000   47161     Stewart, TN       2020                              Finance and insurance  Number of jobs         0       114     NaN
18  CAEMP25N-1100   47161     Stewart, TN       2020                 Real estate and rental and leasing  Number of jobs         0        96     NaN
19  CAEMP25N-1200   47161     Stewart, TN       2020   Professional, scientific, and technical services  Number of jobs         0       210     NaN
20  CAEMP25N-1300   47161     Stewart, TN       2020            Management of companies and enterprises  Number of jobs         0         0     NaN
21  CAEMP25N-1400   47161     Stewart, TN       2020  Administrative and support and waste managemen...  Number of jobs         0       174     NaN
22  CAEMP25N-1500   47161     Stewart, TN       2020                               Educational services  Number of jobs         0        15     NaN
23  CAEMP25N-1600   47161     Stewart, TN       2020                  Health care and social assistance  Number of jobs         0       206     NaN
24  CAEMP25N-1700   47161     Stewart, TN       2020                Arts, entertainment, and recreation  Number of jobs         0       (D)     (D)
25  CAEMP25N-1800   47161     Stewart, TN       2020                    Accommodation and food services  Number of jobs         0       (D)     (D)
26  CAEMP25N-1900   47161     Stewart, TN       2020  Other services (except government and governme...  Number of jobs         0       301     NaN
27  CAEMP25N-2000   47161     Stewart, TN       2020              Government and government enterprises  Number of jobs         0     1,095     NaN
28  CAEMP25N-2001   47161     Stewart, TN       2020                                   Federal civilian  Number of jobs         0       410     NaN
29  CAEMP25N-2002   47161     Stewart, TN       2020                                           Military  Number of jobs         0        38     NaN
30  CAEMP25N-2010   47161     Stewart, TN       2020                                    State and local  Number of jobs         0       647     NaN
31  CAEMP25N-2011   47161     Stewart, TN       2020                                   State government  Number of jobs         0       127     NaN
32  CAEMP25N-2012   47161     Stewart, TN       2020                                   Local government  Number of jobs         0       520     NaN
33    CAEMP25N-10   47125  Montgomery, TN       2020                  Total employment (number of jobs)  Number of jobs         0    81,903     NaN
34    CAEMP25N-20   47125  Montgomery, TN       2020                         Wage and salary employment  Number of jobs         0    60,791     NaN
35    CAEMP25N-40   47125  Montgomery, TN       2020                             Proprietors employment  Number of jobs         0    21,112     NaN
36    CAEMP25N-50   47125  Montgomery, TN       2020                        Farm proprietors employment  Number of jobs         0       732     NaN
37    CAEMP25N-60   47125  Montgomery, TN       2020                  Nonfarm proprietors employment 2/  Number of jobs         0    20,380     NaN
38    CAEMP25N-70   47125  Montgomery, TN       2020                                    Farm employment  Number of jobs         0       879     NaN
39    CAEMP25N-80   47125  Montgomery, TN       2020                                 Nonfarm employment  Number of jobs         0    81,024     NaN
40    CAEMP25N-90   47125  Montgomery, TN       2020                         Private nonfarm employment  Number of jobs         0    68,359     NaN
41   CAEMP25N-100   47125  Montgomery, TN       2020          Forestry, fishing, and related activities  Number of jobs         0       185     NaN
42   CAEMP25N-200   47125  Montgomery, TN       2020      Mining, quarrying, and oil and gas extraction  Number of jobs         0       331     NaN
43   CAEMP25N-300   47125  Montgomery, TN       2020                                          Utilities  Number of jobs         0       (D)     (D)
44   CAEMP25N-400   47125  Montgomery, TN       2020                                       Construction  Number of jobs         0     4,826     NaN
45   CAEMP25N-500   47125  Montgomery, TN       2020                                      Manufacturing  Number of jobs         0     5,940     NaN
46   CAEMP25N-600   47125  Montgomery, TN       2020                                    Wholesale trade  Number of jobs         0     2,060     NaN
47   CAEMP25N-700   47125  Montgomery, TN       2020                                       Retail trade  Number of jobs         0    11,088     NaN
48   CAEMP25N-800   47125  Montgomery, TN       2020                     Transportation and warehousing  Number of jobs         0       (D)     (D)
49   CAEMP25N-900   47125  Montgomery, TN       2020                                        Information  Number of jobs         0     1,037     NaN
50  CAEMP25N-1000   47125  Montgomery, TN       2020                              Finance and insurance  Number of jobs         0     2,342     NaN
51  CAEMP25N-1100   47125  Montgomery, TN       2020                 Real estate and rental and leasing  Number of jobs         0     4,024     NaN
52  CAEMP25N-1200   47125  Montgomery, TN       2020   Professional, scientific, and technical services  Number of jobs         0     2,860     NaN
53  CAEMP25N-1300   47125  Montgomery, TN       2020            Management of companies and enterprises  Number of jobs         0       438     NaN
54  CAEMP25N-1400   47125  Montgomery, TN       2020  Administrative and support and waste managemen...  Number of jobs         0     5,229     NaN
55  CAEMP25N-1500   47125  Montgomery, TN       2020                               Educational services  Number of jobs         0     1,443     NaN
56  CAEMP25N-1600   47125  Montgomery, TN       2020                  Health care and social assistance  Number of jobs         0     8,597     NaN
57  CAEMP25N-1700   47125  Montgomery, TN       2020                Arts, entertainment, and recreation  Number of jobs         0     1,213     NaN
58  CAEMP25N-1800   47125  Montgomery, TN       2020                    Accommodation and food services  Number of jobs         0     8,242     NaN
59  CAEMP25N-1900   47125  Montgomery, TN       2020  Other services (except government and governme...  Number of jobs         0     5,670     NaN
60  CAEMP25N-2000   47125  Montgomery, TN       2020              Government and government enterprises  Number of jobs         0    12,665     NaN
61  CAEMP25N-2001   47125  Montgomery, TN       2020                                   Federal civilian  Number of jobs         0     1,694     NaN
62  CAEMP25N-2002   47125  Montgomery, TN       2020                                           Military  Number of jobs         0       633     NaN
63  CAEMP25N-2010   47125  Montgomery, TN       2020                                    State and local  Number of jobs         0    10,338     NaN
64  CAEMP25N-2011   47125  Montgomery, TN       2020                                   State government  Number of jobs         0     2,587     NaN
65  CAEMP25N-2012   47125  Montgomery, TN       2020                                   Local government  Number of jobs         0     7,751     NaN
66    CAEMP25N-10   47083     Houston, TN       2020                  Total employment (number of jobs)  Number of jobs         0     2,626     NaN
67    CAEMP25N-20   47083     Houston, TN       2020                         Wage and salary employment  Number of jobs         0     1,595     NaN
68    CAEMP25N-40   47083     Houston, TN       2020                             Proprietors employment  Number of jobs         0     1,031     NaN
69    CAEMP25N-50   47083     Houston, TN       2020                        Farm proprietors employment  Number of jobs         0       330     NaN
70    CAEMP25N-60   47083     Houston, TN       2020                  Nonfarm proprietors employment 2/  Number of jobs         0       701     NaN
71    CAEMP25N-70   47083     Houston, TN       2020                                    Farm employment  Number of jobs         0       339     NaN
72    CAEMP25N-80   47083     Houston, TN       2020                                 Nonfarm employment  Number of jobs         0     2,287     NaN
73    CAEMP25N-90   47083     Houston, TN       2020                         Private nonfarm employment  Number of jobs         0     1,689     NaN
74   CAEMP25N-100   47083     Houston, TN       2020          Forestry, fishing, and related activities  Number of jobs         0       (D)     (D)
75   CAEMP25N-200   47083     Houston, TN       2020      Mining, quarrying, and oil and gas extraction  Number of jobs         0         1     NaN
76   CAEMP25N-300   47083     Houston, TN       2020                                          Utilities  Number of jobs         0       (D)     (D)
77   CAEMP25N-400   47083     Houston, TN       2020                                       Construction  Number of jobs         0       (D)     (D)
78   CAEMP25N-500   47083     Houston, TN       2020                                      Manufacturing  Number of jobs         0       199     NaN
79   CAEMP25N-600   47083     Houston, TN       2020                                    Wholesale trade  Number of jobs         0       (D)     (D)
80   CAEMP25N-700   47083     Houston, TN       2020                                       Retail trade  Number of jobs         0       214     NaN
81   CAEMP25N-800   47083     Houston, TN       2020                     Transportation and warehousing  Number of jobs         0       (D)     (D)
82   CAEMP25N-900   47083     Houston, TN       2020                                        Information  Number of jobs         0       (D)     (D)
83  CAEMP25N-1000   47083     Houston, TN       2020                              Finance and insurance  Number of jobs         0       (D)     (D)
84  CAEMP25N-1100   47083     Houston, TN       2020                 Real estate and rental and leasing  Number of jobs         0       (D)     (D)
85  CAEMP25N-1200   47083     Houston, TN       2020   Professional, scientific, and technical services  Number of jobs         0       (D)     (D)
86  CAEMP25N-1300   47083     Houston, TN       2020            Management of companies and enterprises  Number of jobs         0         0     NaN
87  CAEMP25N-1400   47083     Houston, TN       2020  Administrative and support and waste managemen...  Number of jobs         0       (D)     (D)
88  CAEMP25N-1500   47083     Houston, TN       2020                               Educational services  Number of jobs         0        10     NaN
89  CAEMP25N-1600   47083     Houston, TN       2020                  Health care and social assistance  Number of jobs         0       316     NaN
90  CAEMP25N-1700   47083     Houston, TN       2020                Arts, entertainment, and recreation  Number of jobs         0         9     NaN
91  CAEMP25N-1800   47083     Houston, TN       2020                    Accommodation and food services  Number of jobs         0       148     NaN
92  CAEMP25N-1900   47083     Houston, TN       2020  Other services (except government and governme...  Number of jobs         0       (D)     (D)
93  CAEMP25N-2000   47083     Houston, TN       2020              Government and government enterprises  Number of jobs         0       598     NaN
94  CAEMP25N-2001   47083     Houston, TN       2020                                   Federal civilian  Number of jobs         0        24     NaN
95  CAEMP25N-2002   47083     Houston, TN       2020                                           Military  Number of jobs         0        23     NaN
96  CAEMP25N-2010   47083     Houston, TN       2020                                    State and local  Number of jobs         0       551     NaN
97  CAEMP25N-2011   47083     Houston, TN       2020                                   State government  Number of jobs         0        42     NaN
98  CAEMP25N-2012   47083     Houston, TN       2020                                   Local government  Number of jobs         0       509     NaN
99    CAEMP25N-10   47085   Humphreys, TN       2020                  Total employment (number of jobs)  Number of jobs         0     8,506     NaN

In [20]:
data_filtered = data_appended.loc[(data_appended['Description'] == 'Total employment (number of jobs)')|
                                  (data_appended['Description'] == 'Farm employment')|
                                  (data_appended['Description'] == 'Forestry, fishing, and related activities')|
                                  (data_appended['Description'] == 'Mining, quarrying, and oil and gas extraction')|
                                  (data_appended['Description'] == 'Utilities')|
                                  (data_appended['Description'] == 'Construction')|
                                  (data_appended['Description'] == 'Manufacturing')|
                                  (data_appended['Description'] == 'Wholesale trade')|
                                  (data_appended['Description'] == 'Retail trade')|
                                  (data_appended['Description'] == 'Transportation and warehousing')|
                                  (data_appended['Description'] == 'Information')|
                                  (data_appended['Description'] == 'Finance and insurance')|
                                  (data_appended['Description'] == 'Real estate and rental and leasing')|
                                  (data_appended['Description'] == 'Professional, scientific, and technical services')|
                                  (data_appended['Description'] == 'Management of companies and enterprises')|
                                  (data_appended['Description'] == 'Administrative and support and waste management and remediation services')|
                                  (data_appended['Description'] == 'Educational services')|
                                  (data_appended['Description'] == 'Health care and social assistance')|
                                  (data_appended['Description'] == 'Arts, entertainment, and recreation')|
                                  (data_appended['Description'] == 'Accommodation and food services')|
                                  (data_appended['Description'] == 'Other services (except government and government enterprises)')|
                                  (data_appended['Description'] == 'Government and government enterprises')|
                                  (data_appended['Description'] == 'State and local')].reset_index(drop = True)
data = data_filtered[['GeoName', 'Description', 'DataValue']]

**STOP** here to see what is suppressed across different counties.

In [21]:
# allsuppressedvalues = data.loc[data['DataValue'] == '(D)']
# allsuppressedvalues

There are industries suppressed in more than one custom "sector" for the following counties: Stewart, Houston, Humphreys, Cheatham, and Trousdale.  


There are industries suppressed in only the "industry sector" for the following counties: Montgomery, Dickson, Robertson, Sumner, Wilson, Williamson, Rutherford, and Maury.  


I'm going to calculate the "industry" industry as a difference between that grouping and total employment for all counties *except* Stewart, Houston, Humphreys, Cheatham, and Trousdale.

In [22]:
suppressed = data.loc[(data['GeoName'] == 'Stewart, TN')|
                      (data['GeoName'] == 'Houston, TN')|
                      (data['GeoName'] == 'Humphreys, TN')|
                      (data['GeoName'] == 'Cheatham, TN')|
                      (data['GeoName'] == 'Trousdale, TN')].reset_index(drop = True)
notsuppressed = data.loc[(data['GeoName'] == 'Montgomery, TN')|
                         (data['GeoName'] == 'Dickson, TN')|
                         (data['GeoName'] == 'Robertson, TN')|
                         (data['GeoName'] == 'Sumner, TN')|
                         (data['GeoName'] == 'Wilson, TN')|
                         (data['GeoName'] == 'Williamson, TN')|
                         (data['GeoName'] == 'Rutherford, TN')|
                         (data['GeoName'] == 'Maury, TN')|
                         (data['GeoName'] == 'Davidson, TN')].reset_index(drop = True)
notsuppressed = notsuppressed.loc[(notsuppressed['Description'] != 'Forestry, fishing, and related activities')&
                                  (notsuppressed['Description'] != 'Mining, quarrying, and oil and gas extraction')&
                                  (notsuppressed['Description'] != 'Utilities')&
                                  (notsuppressed['Description'] != 'Construction')&
                                  (notsuppressed['Description'] != 'Manufacturing')&
                                  (notsuppressed['Description'] != 'Wholesale trade')&
                                  (notsuppressed['Description'] != 'Transportation and warehousing')].reset_index(drop = True)
notsuppressed = notsuppressed.set_index(['GeoName', 'Description'])
notsuppressed = notsuppressed.transpose()
#the datavalues are strings now, so we need to remove the commas and make them into float dtypes
cols = notsuppressed.columns
for column in cols:
    notsuppressed[column] = notsuppressed[column].str.replace(',', '')
notsuppressed[cols] = notsuppressed[cols].astype(float)
df = notsuppressed

In [23]:
#list of non suppressed counties to loop through for calculating 'industry' difference.
nonsupcounties = ['Montgomery, TN', 'Dickson, TN', 'Robertson, TN', 'Sumner, TN', 'Wilson, TN', 'Williamson, TN', 'Rutherford, TN', 'Maury, TN', 'Davidson, TN']

In [24]:
df.head()

GeoName                        Montgomery, TN                                                                                                    \
Description Total employment (number of jobs) Farm employment Retail trade Information Finance and insurance Real estate and rental and leasing
DataValue                             81903.0           879.0      11088.0      1037.0                2342.0                             4024.0

GeoName                                                                                               \
Description Professional, scientific, and technical services Management of companies and enterprises
DataValue                                             2860.0                                   438.0

GeoName                                                                                                                                      \
Description Administrative and support and waste management and remediation services Educational services Health care and social assistance
DataValue                                               5229.0                                     1443.0                            8597.0

GeoName                                                                                                                                        \
Description Arts, entertainment, and recreation Accommodation and food services Other services (except government and government enterprises)
DataValue                                1213.0                          8242.0                                             5670.0

GeoName                                                                                 Dickson, TN                                           \
Description Government and government enterprises State and local Total employment (number of jobs) Farm employment Retail trade Information
DataValue                                 12665.0         10338.0                           25651.0          1123.0       2985.0       139.0

GeoName                                                                                                                \
Description Finance and insurance Real estate and rental and leasing Professional, scientific, and technical services
DataValue                   916.0                              800.0                                            759.0

GeoName                                                                                                                                            \
Description Management of companies and enterprises Administrative and support and waste management and remediation services Educational services
DataValue                                      83.0                                             1806.0                                      185.0

GeoName                                                                                                            \
Description Health care and social assistance Arts, entertainment, and recreation Accommodation and food services
DataValue                              2908.0                               368.0                          1933.0

GeoName                                                                                                                          \
Description Other services (except government and government enterprises) Government and government enterprises State and local
DataValue                                               1497.0                                           2793.0          2541.0

GeoName                         Robertson, TN                                                                                                    \
Description Total employment (number of jobs) Farm employment Retail trade Information Finance and insurance Real estate and rental and leasing
DataValue                             34035.0          1511.0       3742.0       150.0                1134.0                             1227.0

GeoName                                                                                               \
Description Professional, scientific, and technical services Management of companies and enterprises
DataValue                                             1110.0                                   266.0

GeoName                                                                                                                                      \
Description Administrative and support and waste management and remediation services Educational services Health care and social assistance
DataValue                                               1965.0                                      480.0                            1454.0

GeoName                                                                                                                                        \
Description Arts, entertainment, and recreation Accommodation and food services Other services (except government and government enterprises)
DataValue                                 511.0                          1854.0                                             2089.0

GeoName                                                                                  Sumner, TN                                           \
Description Government and government enterprises State and local Total employment (number of jobs) Farm employment Retail trade Information
DataValue                                  3900.0          3604.0                           88436.0          1443.0       9580.0      1039.0

GeoName                                                                                                                \
Description Finance and insurance Real estate and rental and leasing Professional, scientific, and technical services
DataValue                  3875.0                             4445.0                                           6779.0

GeoName                                                                                                                                            \
Description Management of companies and enterprises Administrative and support and waste management and remediation services Educational services
DataValue                                     168.0                                             5584.0                                     1428.0

GeoName                                                                                                            \
Description Health care and social assistance Arts, entertainment, and recreation Accommodation and food services
DataValue                              7906.0                              2478.0                          5876.0

GeoName                                                                                                                          \
Description Other services (except government and government enterprises) Government and government enterprises State and local
DataValue                                               5950.0                                           9020.0          7950.0

GeoName                          Davidson, TN                                                                                                    \
Description Total employment (number of jobs) Farm employment Retail trade Information Finance and insurance Real estate and rental and leasing
DataValue                            640898.0           448.0      47927.0     17422.0               36370.0                            28973.0

GeoName                                                                                               \
Description Professional, scientific, and technical services Management of companies and enterprises
DataValue                                            56600.0                                 11683.0

GeoName                                                                                                                                      \
Description Administrative and support and waste management and remediation services Educational services Health care and social assistance
DataValue                                              53100.0                                    27029.0                           87010.0

GeoName                                                                                                                                        \
Description Arts, entertainment, and recreation Accommodation and food services Other services (except government and government enterprises)
DataValue                               24393.0                         45354.0                                            32882.0

GeoName                                                                                  Wilson, TN                                           \
Description Government and government enterprises State and local Total employment (number of jobs) Farm employment Retail trade Information
DataValue                                 48594.0         37746.0                           76738.0          1462.0       8187.0       576.0

GeoName                                                                                                                \
Description Finance and insurance Real estate and rental and leasing Professional, scientific, and technical services
DataValue                  2940.0                             3866.0                                           4440.0

GeoName                                                                                                                                            \
Description Management of companies and enterprises Administrative and support and waste management and remediation services Educational services
DataValue                                     784.0                                             3861.0                                     1424.0

GeoName                                                                                                            \
Description Health care and social assistance Arts, entertainment, and recreation Accommodation and food services
DataValue                              4831.0                              1693.0                          5335.0

GeoName                                                                                                                          \
Description Other services (except government and government enterprises) Government and government enterprises State and local
DataValue                                               4719.0                                           6397.0          5744.0

GeoName                        Williamson, TN                                                                                                    \
Description Total employment (number of jobs) Farm employment Retail trade Information Finance and insurance Real estate and rental and leasing
DataValue                            203970.0          1325.0      19423.0      6303.0               20933.0                            13224.0

GeoName                                                                                               \
Description Professional, scientific, and technical services Management of companies and enterprises
DataValue                                            27516.0                                 12563.0

GeoName                                                                                                                                      \
Description Administrative and support and waste management and remediation services Educational services Health care and social assistance
DataValue                                              14515.0                                     3598.0                           17453.0

GeoName                                                                                                                                        \
Description Arts, entertainment, and recreation Accommodation and food services Other services (except government and government enterprises)
DataValue                                6169.0                         12881.0                                            10125.0

GeoName                                                                              Rutherford, TN                                           \
Description Government and government enterprises State and local Total employment (number of jobs) Farm employment Retail trade Information
DataValue                                 13339.0         11645.0                          181221.0          1452.0      19703.0      3388.0

GeoName                                                                                                                \
Description Finance and insurance Real estate and rental and leasing Professional, scientific, and technical services
DataValue                  6372.0                             6816.0                                           7031.0

GeoName                                                                                                                                            \
Description Management of companies and enterprises Administrative and support and waste management and remediation services Educational services
DataValue                                    1571.0                                            13569.0                                     2315.0

GeoName                                                                                                            \
Description Health care and social assistance Arts, entertainment, and recreation Accommodation and food services
DataValue                             13425.0                              2782.0                         13607.0

GeoName                                                                                                                          \
Description Other services (except government and government enterprises) Government and government enterprises State and local
DataValue                                              10503.0                                          21268.0         17298.0

GeoName                             Maury, TN                                                                                                    \
Description Total employment (number of jobs) Farm employment Retail trade Information Finance and insurance Real estate and rental and leasing
DataValue                             51654.0          1548.0       5491.0       635.0                2921.0                             3227.0

GeoName                                                                                               \
Description Professional, scientific, and technical services Management of companies and enterprises
DataValue                                             2221.0                                   202.0

GeoName                                                                                                                                      \
Description Administrative and support and waste management and remediation services Educational services Health care and social assistance
DataValue                                               3280.0                                      671.0                            4385.0

GeoName                                                                                                                                        \
Description Arts, entertainment, and recreation Accommodation and food services Other services (except government and government enterprises)
DataValue                                 854.0                          3692.0                                             3161.0

GeoName
Description Government and government enterprises State and local
DataValue                                  7094.0          6627.0

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, DataValue to DataValue
Columns: 144 entries, ('Montgomery, TN', 'Total employment (number of jobs)') to ('Maury, TN', 'State and local')
dtypes: float64(144)
memory usage: 1.1+ KB

In [11]:
newstuff = {}
for county in nonsupcounties:
    newstuff[('{}'.format(county), 'Industry:Total Jobs')] = df[('{}'.format(county), 'Total employment (number of jobs)')]
    professional = [df[('{}'.format(county), 'Information')], df[('{}'.format(county), 'Finance and insurance')], 
                    df[('{}'.format(county), 'Real estate and rental and leasing')],
                    df[('{}'.format(county), 'Professional, scientific, and technical services')],
                    df[('{}'.format(county), 'Management of companies and enterprises')],
                    df[('{}'.format(county), 'Administrative and support and waste management and remediation services')], 
                    df[('{}'.format(county), 'Educational services')], df[('{}'.format(county), 'Health care and social assistance')]]
    newstuff[('{}'.format(county), 'Industry:Professional')] = sum(professional)
    newstuff[('{}'.format(county), 'Industry:Percent Professional')] = percent(newstuff[('{}'.format(county), 'Industry:Professional')], 
                                                                               df[('{}'.format(county), 'Total employment (number of jobs)')])
    retail = [df[('{}'.format(county), 'Retail trade')], df[('{}'.format(county), 'Arts, entertainment, and recreation')], 
              df[('{}'.format(county), 'Accommodation and food services')], 
              df[('{}'.format(county), 'Other services (except government and government enterprises)')]]
    newstuff[('{}'.format(county), 'Industry:Retail')] = sum(retail)
    newstuff[('{}'.format(county), 'Industry:Percent Retail')] = percent(newstuff[('{}'.format(county), 'Industry:Retail')], 
                                                                   df[('{}'.format(county), 'Total employment (number of jobs)')])
    newstuff[('{}'.format(county), 'Industry:Government')] = df[('{}'.format(county), 'Government and government enterprises')]
    newstuff[('{}'.format(county), 'Industry:Percent Government')] = percent(newstuff[('{}'.format(county), 'Industry:Government')], 
                                                                       df[('{}'.format(county), 'Total employment (number of jobs)')])
    newstuff[('{}'.format(county), 'Industry:Farm')] = df[('{}'.format(county), 'Farm employment')]
    newstuff[('{}'.format(county), 'Industry:Percent Farm')] = percent(newstuff[('{}'.format(county), 'Industry:Farm')], 
                                                                 df[('{}'.format(county), 'Total employment (number of jobs)')])
    besidesindustry = [newstuff[('{}'.format(county), 'Industry:Farm')], newstuff[('{}'.format(county), 'Industry:Government')], 
                       newstuff[('{}'.format(county), 'Industry:Retail')],newstuff[('{}'.format(county), 'Industry:Professional')]]
    newstuff[('{}'.format(county), 'Industry:Industry')] = df[('{}'.format(county), 'Total employment (number of jobs)')] - sum(besidesindustry)
    newstuff[('{}'.format(county), 'Industry:Percent Industry')] = percent(newstuff[('{}'.format(county), 'Industry:Industry')], 
                                                                     df[('{}'.format(county), 'Total employment (number of jobs)')])
    newdata = pd.concat(newstuff, axis = 1)

In [12]:
newdata.head()

               Montgomery, TN                                                                                                                  \
          Industry:Total Jobs Industry:Professional Industry:Percent Professional Industry:Retail Industry:Percent Retail Industry:Government
DataValue             81903.0               25970.0                      31.70824         26213.0               32.004933             12665.0

                                                                                                                              Dickson, TN  \
          Industry:Percent Government Industry:Farm Industry:Percent Farm Industry:Industry Industry:Percent Industry Industry:Total Jobs
DataValue                   15.463414         879.0              1.073221           16176.0                 19.750192             25651.0

                                                                                                                           \
          Industry:Professional Industry:Percent Professional Industry:Retail Industry:Percent Retail Industry:Government
DataValue                7596.0                     29.612881          6783.0               26.443414              2793.0

                                                                                                                            Robertson, TN  \
          Industry:Percent Government Industry:Farm Industry:Percent Farm Industry:Industry Industry:Percent Industry Industry:Total Jobs
DataValue                   10.888464        1123.0              4.377997            7356.0                 28.677245             34035.0

                                                                                                                           \
          Industry:Professional Industry:Percent Professional Industry:Retail Industry:Percent Retail Industry:Government
DataValue                7786.0                     22.876451          8196.0               24.081093              3900.0

                                                                                                                               Sumner, TN  \
          Industry:Percent Government Industry:Farm Industry:Percent Farm Industry:Industry Industry:Percent Industry Industry:Total Jobs
DataValue                   11.458792        1511.0              4.439548           12642.0                 37.144116             88436.0

                                                                                                                           \
          Industry:Professional Industry:Percent Professional Industry:Retail Industry:Percent Retail Industry:Government
DataValue               31224.0                     35.306889         23884.0               27.007101              9020.0

                                                                                                                               Wilson, TN  \
          Industry:Percent Government Industry:Farm Industry:Percent Farm Industry:Industry Industry:Percent Industry Industry:Total Jobs
DataValue                   10.199466        1443.0              1.631688           22865.0                 25.854855             76738.0

                                                                                                                           \
          Industry:Professional Industry:Percent Professional Industry:Retail Industry:Percent Retail Industry:Government
DataValue               22722.0                     29.609841         19934.0                 25.9767              6397.0

                                                                                                                           Williamson, TN  \
          Industry:Percent Government Industry:Farm Industry:Percent Farm Industry:Industry Industry:Percent Industry Industry:Total Jobs
DataValue                    8.336157        1462.0              1.905184           26223.0                 34.172118            203970.0

                                                                                                                           \
          Industry:Professional Industry:Percent Professional Industry:Retail Industry:Percent Retail Industry:Government
DataValue              116105.0                     56.922587         48598.0               23.826053             13339.0

                                                                                                                           Rutherford, TN  \
          Industry:Percent Government Industry:Farm Industry:Percent Farm Industry:Industry Industry:Percent Industry Industry:Total Jobs
DataValue                    6.539687        1325.0              0.649605           24603.0                 12.062068            181221.0

                                                                                                                           \
          Industry:Professional Industry:Percent Professional Industry:Retail Industry:Percent Retail Industry:Government
DataValue               54487.0                     30.066604         46595.0                 25.7117             21268.0

                                                                                                                                Maury, TN  \
          Industry:Percent Government Industry:Farm Industry:Percent Farm Industry:Industry Industry:Percent Industry Industry:Total Jobs
DataValue                   11.735947        1452.0              0.801232           57419.0                 31.684518             51654.0

                                                                                                                           \
          Industry:Professional Industry:Percent Professional Industry:Retail Industry:Percent Retail Industry:Government
DataValue               17542.0                     33.960584         13198.0                25.55078              7094.0

                                                                                                                             Davidson, TN  \
          Industry:Percent Government Industry:Farm Industry:Percent Farm Industry:Industry Industry:Percent Industry Industry:Total Jobs
DataValue                    13.73369        1548.0              2.996864           12272.0                 23.758083            640898.0

                                                                                                                           \
          Industry:Professional Industry:Percent Professional Industry:Retail Industry:Percent Retail Industry:Government
DataValue              318187.0                     49.647058        150556.0               23.491414             48594.0


          Industry:Percent Government Industry:Farm Industry:Percent Farm Industry:Industry Industry:Percent Industry
DataValue                    7.582174         448.0              0.069902          123113.0                 19.209453

In [67]:
notsuppressed = newdata
notsuppressed.head()

               Montgomery, TN                                                                                                                  \
          Industry:Total Jobs Industry:Professional Industry:Percent Professional Industry:Retail Industry:Percent Retail Industry:Government
DataValue             81903.0               25970.0                      31.70824         26213.0               32.004933             12665.0

                                                                                                                              Dickson, TN  \
          Industry:Percent Government Industry:Farm Industry:Percent Farm Industry:Industry Industry:Percent Industry Industry:Total Jobs
DataValue                   15.463414         879.0              1.073221           16176.0                 19.750192             25651.0

                                                                                                                           \
          Industry:Professional Industry:Percent Professional Industry:Retail Industry:Percent Retail Industry:Government
DataValue                7596.0                     29.612881          6783.0               26.443414              2793.0

                                                                                                                            Robertson, TN  \
          Industry:Percent Government Industry:Farm Industry:Percent Farm Industry:Industry Industry:Percent Industry Industry:Total Jobs
DataValue                   10.888464        1123.0              4.377997            7356.0                 28.677245             34035.0

                                                                                                                           \
          Industry:Professional Industry:Percent Professional Industry:Retail Industry:Percent Retail Industry:Government
DataValue                7786.0                     22.876451          8196.0               24.081093              3900.0

                                                                                                                               Sumner, TN  \
          Industry:Percent Government Industry:Farm Industry:Percent Farm Industry:Industry Industry:Percent Industry Industry:Total Jobs
DataValue                   11.458792        1511.0              4.439548           12642.0                 37.144116             88436.0

                                                                                                                           \
          Industry:Professional Industry:Percent Professional Industry:Retail Industry:Percent Retail Industry:Government
DataValue               31224.0                     35.306889         23884.0               27.007101              9020.0

                                                                                                                               Wilson, TN  \
          Industry:Percent Government Industry:Farm Industry:Percent Farm Industry:Industry Industry:Percent Industry Industry:Total Jobs
DataValue                   10.199466        1443.0              1.631688           22865.0                 25.854855             76738.0

                                                                                                                           \
          Industry:Professional Industry:Percent Professional Industry:Retail Industry:Percent Retail Industry:Government
DataValue               22722.0                     29.609841         19934.0                 25.9767              6397.0

                                                                                                                           Williamson, TN  \
          Industry:Percent Government Industry:Farm Industry:Percent Farm Industry:Industry Industry:Percent Industry Industry:Total Jobs
DataValue                    8.336157        1462.0              1.905184           26223.0                 34.172118            203970.0

                                                                                                                           \
          Industry:Professional Industry:Percent Professional Industry:Retail Industry:Percent Retail Industry:Government
DataValue              116105.0                     56.922587         48598.0               23.826053             13339.0

                                                                                                                           Rutherford, TN  \
          Industry:Percent Government Industry:Farm Industry:Percent Farm Industry:Industry Industry:Percent Industry Industry:Total Jobs
DataValue                    6.539687        1325.0              0.649605           24603.0                 12.062068            181221.0

                                                                                                                           \
          Industry:Professional Industry:Percent Professional Industry:Retail Industry:Percent Retail Industry:Government
DataValue               54487.0                     30.066604         46595.0                 25.7117             21268.0

                                                                                                                                Maury, TN  \
          Industry:Percent Government Industry:Farm Industry:Percent Farm Industry:Industry Industry:Percent Industry Industry:Total Jobs
DataValue                   11.735947        1452.0              0.801232           57419.0                 31.684518             51654.0

                                                                                                                           \
          Industry:Professional Industry:Percent Professional Industry:Retail Industry:Percent Retail Industry:Government
DataValue               17542.0                     33.960584         13198.0                25.55078              7094.0

                                                                                                                             Davidson, TN  \
          Industry:Percent Government Industry:Farm Industry:Percent Farm Industry:Industry Industry:Percent Industry Industry:Total Jobs
DataValue                    13.73369        1548.0              2.996864           12272.0                 23.758083            640898.0

                                                                                                                           \
          Industry:Professional Industry:Percent Professional Industry:Retail Industry:Percent Retail Industry:Government
DataValue              318187.0                     49.647058        150556.0               23.491414             48594.0


          Industry:Percent Government Industry:Farm Industry:Percent Farm Industry:Industry Industry:Percent Industry
DataValue                    7.582174         448.0              0.069902          123113.0                 19.209453

In [68]:
suppressed.head(40)

        GeoName                                        Description DataValue
0   Stewart, TN                  Total employment (number of jobs)     4,664
1   Stewart, TN                                    Farm employment       354
2   Stewart, TN          Forestry, fishing, and related activities       (D)
3   Stewart, TN      Mining, quarrying, and oil and gas extraction         1
4   Stewart, TN                                          Utilities       (D)
5   Stewart, TN                                       Construction       (D)
6   Stewart, TN                                      Manufacturing       702
7   Stewart, TN                                    Wholesale trade        38
8   Stewart, TN                                       Retail trade       (D)
9   Stewart, TN                     Transportation and warehousing       (D)
10  Stewart, TN                                        Information        20
11  Stewart, TN                              Finance and insurance       114
12  Stewart, TN                 Real estate and rental and leasing        96
13  Stewart, TN   Professional, scientific, and technical services       210
14  Stewart, TN            Management of companies and enterprises         0
15  Stewart, TN  Administrative and support and waste managemen...       174
16  Stewart, TN                               Educational services        15
17  Stewart, TN                  Health care and social assistance       206
18  Stewart, TN                Arts, entertainment, and recreation       (D)
19  Stewart, TN                    Accommodation and food services       (D)
20  Stewart, TN  Other services (except government and governme...       301
21  Stewart, TN              Government and government enterprises     1,095
22  Stewart, TN                                    State and local       647
23  Houston, TN                  Total employment (number of jobs)     2,626
24  Houston, TN                                    Farm employment       339
25  Houston, TN          Forestry, fishing, and related activities       (D)
26  Houston, TN      Mining, quarrying, and oil and gas extraction         1
27  Houston, TN                                          Utilities       (D)
28  Houston, TN                                       Construction       (D)
29  Houston, TN                                      Manufacturing       199
30  Houston, TN                                    Wholesale trade       (D)
31  Houston, TN                                       Retail trade       214
32  Houston, TN                     Transportation and warehousing       (D)
33  Houston, TN                                        Information       (D)
34  Houston, TN                              Finance and insurance       (D)
35  Houston, TN                 Real estate and rental and leasing       (D)
36  Houston, TN   Professional, scientific, and technical services       (D)
37  Houston, TN            Management of companies and enterprises         0
38  Houston, TN  Administrative and support and waste managemen...       (D)
39  Houston, TN                               Educational services        10

In [69]:
suppressed['DataValue'] = suppressed['DataValue'].str.replace(',', '')

Now we'll go through the other counties one at a time then append them.

In [72]:

stewart = suppressed.loc[suppressed['GeoName'] == 'Stewart, TN'].reset_index(drop = True)
stewart['DataValue'] = stewart['DataValue'].str.replace('\\(D\\)', '0')
stewart['DataValue'] = stewart['DataValue'].astype(float)

C:\Users\jmccall\AppData\Local\Temp/ipykernel_21036/852542346.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  stewart['DataValue'] = stewart['DataValue'].str.replace('\\(D\\)', '0')

In [74]:
humphreys = suppressed.loc[suppressed['GeoName'] == 'Humphreys, TN'].reset_index(drop = True)
humphreys

          GeoName                                        Description DataValue
0   Humphreys, TN                  Total employment (number of jobs)      8506
1   Humphreys, TN                                    Farm employment       623
2   Humphreys, TN          Forestry, fishing, and related activities       (D)
3   Humphreys, TN      Mining, quarrying, and oil and gas extraction        29
4   Humphreys, TN                                          Utilities       (D)
5   Humphreys, TN                                       Construction       661
6   Humphreys, TN                                      Manufacturing      1455
7   Humphreys, TN                                    Wholesale trade       (D)
8   Humphreys, TN                                       Retail trade       888
9   Humphreys, TN                     Transportation and warehousing       420
10  Humphreys, TN                                        Information        30
11  Humphreys, TN                              Finance and insurance       217
12  Humphreys, TN                 Real estate and rental and leasing       165
13  Humphreys, TN   Professional, scientific, and technical services       179
14  Humphreys, TN            Management of companies and enterprises         0
15  Humphreys, TN  Administrative and support and waste managemen...       340
16  Humphreys, TN                               Educational services       (D)
17  Humphreys, TN                  Health care and social assistance       (D)
18  Humphreys, TN                Arts, entertainment, and recreation        60
19  Humphreys, TN                    Accommodation and food services       649
20  Humphreys, TN  Other services (except government and governme...       605
21  Humphreys, TN              Government and government enterprises      1248
22  Humphreys, TN                                    State and local      1089

In [73]:
stewart.head(30)

        GeoName                                        Description  DataValue
0   Stewart, TN                  Total employment (number of jobs)     4664.0
1   Stewart, TN                                    Farm employment      354.0
2   Stewart, TN          Forestry, fishing, and related activities        0.0
3   Stewart, TN      Mining, quarrying, and oil and gas extraction        1.0
4   Stewart, TN                                          Utilities        0.0
5   Stewart, TN                                       Construction        0.0
6   Stewart, TN                                      Manufacturing      702.0
7   Stewart, TN                                    Wholesale trade       38.0
8   Stewart, TN                                       Retail trade        0.0
9   Stewart, TN                     Transportation and warehousing        0.0
10  Stewart, TN                                        Information       20.0
11  Stewart, TN                              Finance and insurance      114.0
12  Stewart, TN                 Real estate and rental and leasing       96.0
13  Stewart, TN   Professional, scientific, and technical services      210.0
14  Stewart, TN            Management of companies and enterprises        0.0
15  Stewart, TN  Administrative and support and waste managemen...      174.0
16  Stewart, TN                               Educational services       15.0
17  Stewart, TN                  Health care and social assistance      206.0
18  Stewart, TN                Arts, entertainment, and recreation        0.0
19  Stewart, TN                    Accommodation and food services        0.0
20  Stewart, TN  Other services (except government and governme...      301.0
21  Stewart, TN              Government and government enterprises     1095.0
22  Stewart, TN                                    State and local      647.0

For Stewart, the only 0 is for management of companies and enterprises. This mean's it's missing:   
+ Forestry, fishing and related activities  
+ 
I'm going to replace the suppressed data with 0's and add them, but will note this in the export. I'm also going to replace the commas with nothing and convert the string dtypes to floats.

In [ ]:
county = 
newstuff[('{}'.format(county), 'Industry:Total Jobs')] = df[('{}'.format(county), 'Total employment (number of jobs)')]
professional = [df[('{}'.format(county), 'Information')], df[('{}'.format(county), 'Finance and insurance')], 
                df[('{}'.format(county), 'Real estate and rental and leasing')],
                df[('{}'.format(county), 'Professional, scientific, and technical services')],
                df[('{}'.format(county), 'Management of companies and enterprises')],
                df[('{}'.format(county), 'Administrative and support and waste management and remediation services')], 
                df[('{}'.format(county), 'Educational services')], df[('{}'.format(county), 'Health care and social assistance')]]
newstuff[('{}'.format(county), 'Industry:Professional')] = sum(professional)
newstuff[('{}'.format(county), 'Industry:Percent Professional')] = percent(newstuff[('{}'.format(county), 'Industry:Professional')], 
                                                                           df[('{}'.format(county), 'Total employment (number of jobs)')])
retail = [df[('{}'.format(county), 'Retail trade')], df[('{}'.format(county), 'Arts, entertainment, and recreation')], 
          df[('{}'.format(county), 'Accommodation and food services')], 
          df[('{}'.format(county), 'Other services (except government and government enterprises)')]]
newstuff[('{}'.format(county), 'Industry:Retail')] = sum(retail)
newstuff[('{}'.format(county), 'Industry:Percent Retail')] = percent(newstuff[('{}'.format(county), 'Industry:Retail')], 
                                                                     df[('{}'.format(county), 'Total employment (number of jobs)')])
newstuff[('{}'.format(county), 'Industry:Government')] = df[('{}'.format(county), 'Government and government enterprises')]
newstuff[('{}'.format(county), 'Industry:Percent Government')] = percent(newstuff[('{}'.format(county), 'Industry:Government')], 
                                                                         df[('{}'.format(county), 'Total employment (number of jobs)')])
newstuff[('{}'.format(county), 'Industry:Farm')] = df[('{}'.format(county), 'Farm employment')]
newstuff[('{}'.format(county), 'Industry:Percent Farm')] = percent(newstuff[('{}'.format(county), 'Industry:Farm')], 
                                                                   df[('{}'.format(county), 'Total employment (number of jobs)')])
besidesindustry = [newstuff[('{}'.format(county), 'Industry:Farm')], newstuff[('{}'.format(county), 'Industry:Government')], 
                   newstuff[('{}'.format(county), 'Industry:Retail')],newstuff[('{}'.format(county), 'Industry:Professional')]]
newstuff[('{}'.format(county), 'Industry:Industry')] = df[('{}'.format(county), 'Total employment (number of jobs)')] - sum(besidesindustry)
newstuff[('{}'.format(county), 'Industry:Percent Industry')] = percent(newstuff[('{}'.format(county), 'Industry:Industry')], 
                                                                       df[('{}'.format(county), 'Total employment (number of jobs)')])