###### Imports and Settings

In [5]:
import pandas as pd
import numpy as np
import requests
#import io
import pickle
from collections import deque
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.width', 150)
pd.options.mode.chained_assignment = None  # default='warn'

# Comprehensive Plan Data Pull

In [6]:
#to read in... rb is read bite
with open('api_keys.pkl', 'rb') as keys_file:
        keys_dict_2 = pickle.load(keys_file)

In [7]:
#create a variable that contains your api key
api_key = keys_dict_2['CENSUS']

In [7]:
GNRC = ['111', #Macon
       '161', #Stewart
       '125', #Montgomery
       '083', #Houston
       '085', #Humphreys
       '043', #Dickson
       '021', #Cheatham
       '147', #Robertson
       '165', #Sumner
       '037', #Davidson
       '189', #Wilson
       '169', #Trousdale
       '187', #Williamson
       '149', #Rutherford
       '119'] #Maury
KY = ['003', #Allen
      '213'] #Simpson
qlaces = ['1600000US4702180', #Ashland City: Cheatham
          '1600000US4739660', #Kingston Springs: Cheatham
          '1600000US4757480', #Pegram: Cheatham
          '1600000US4759560', #Pleasant View: Cheatham
          '1600000US4704620', #Belle Meade: Davidson
          '1600000US4705140', #Berry Hill: Davidson
          '1600000US4727020', #Forest Hills: Davidson
          '1600000US4729920', #Goodlettsville: Davidson/Sumner
          '1600000US4752006', #Nashville-Davidson metropolitan government (balance): Davidson
          '1600000US4754780', #Oak Hill: Davidson
          '1600000US4763140', #Ridgetop: Davidson/Robertson
          '1600000US4709880', #Burns: Dickson
          '1600000US4713080', #Charlotte: Dickson
          '1600000US4720620', #Dickson: Dickson
          '1600000US4769080', #Slayden: Dickson
          '1600000US4776860', #Vanleer: Dickson
          '1600000US4779980', #White Bluff: Dickson
          '1600000US4724320', #Erin: Houston
          '1600000US4773460', #Tennessee Ridge: Houston/Stewart
          '1600000US4744840', #McEwen: Humphreys
          '1600000US4752820', #New Johnsonville: Humphreys
          '1600000US4778560', #Waverly: Humphreys
          '1600000US4716540', #Columbia: Maury
          '1600000US4751080', #Mount Pleasant: Maury
          '1600000US4770580', #Spring Hill: Maury/Williamson
          '1600000US4715160', #Clarksville: Montgomery
          '1600000US4700200', #Adams: Robertson
          '1600000US4711980', #Cedar Hill: Robertson
          '1600000US4716980', #Coopertown: Robertson
          '1600000US4718420', #Cross Plains: Robertson
          '1600000US4730960', #Greenbrier: Robertson
          '1600000US4748980', #Millersville: Robertson/Sumner
          '1600000US4760280', #Portland: Robertson/Sumner
          '1600000US4770500', #Springfield: Robertson
          '1600000US4780200', #White House: Robertson/Sumner
          '1600000US4722360', #Eagleville: Rutherford
          '1600000US4741200', #La Vergne: Rutherford
          '1600000US4751560', #Murfreesboro: Rutherford
          '1600000US4769420', #Smyrna: Rutherford
          '1600000US4718820', #Cumberland City: Stewart
          '1600000US4721400', #Dover: Stewart
          '1600000US4728540', #Gallatin: Sumner
          '1600000US4733280', #Hendersonville: Sumner
          '1600000US4779420', #Westmoreland: Sumner
          '1600000US4708280', #Brentwood: Williamson
          '1600000US4725440', #Fairview: Williamson
          '1600000US4727740', #Franklin: Williamson
          '1600000US4753460', #Nolensville: Williamson
          '1600000US4773900', #Thompson's Station: Williamson
          '1600000US4741520', #Lebanon: Wilson
          '1600000US4750780', #Mount Juliet: Wilson
          '1600000US4778320', #Watertown: Wilson
          '1600000US4740160', #Lafayette: Macon
          '1600000US2169114', #Scottsville city, Kentucky
          '1600000US2128918', #Franklin city, Kentucky
          '1600000US4749460'] #Mitchelville city: Sumner

## Read In Data Guide

The "head" should never be more than 2 variables, and the "tail" never more than 2. Since we can pull 50 variables at once this means that we can systematically program in 46 variables for each pull, so that's:
+ dg1: ID's 1 - 46  
+ dg2: ID's 47-92  
**This data guide stops at ID 88 as of 7/8/2022.**

### SF1

In [8]:
dataguide = pd.read_csv('../../data guides/DATA GUIDE SF12000.csv', dtype = str)
dataguide['ID'] = dataguide['ID'].astype(int)

In [9]:
dg1 = dataguide[dataguide['ID'].between(1, 46)]
dg2 = dataguide[dataguide['ID'].between(47, 92)]
url_str= 'https://api.census.gov/data/2000/dec/sf1?key='+api_key

In [10]:
# ONE 2000
# listparams
head1 = 'NAME'
head2 = 'GEO_ID'
tail_cols1 = 'StateFIPS'
tail_cols2 = 'GeoFIPS'
#make variables list
var_list = list(dg1['SF1 Variable'])
#add stuff to variables list
var_list = deque(var_list)
var_list.appendleft(head2)
var_list.appendleft(head1)
var_list = list(var_list)
#make columns list
col_list = list(dg1['Column Name'])
#add stuff to columns list
col_list.append(tail_cols1)
col_list.append(tail_cols2)
col_list = deque(col_list)
col_list.appendleft(head2)
col_list.appendleft(head1)
col_list = list(col_list)
#add stuff to columns list
predicates= {}
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "county:*"
predicates["in"]= "state:47"                                                             
data = requests.get(url_str, params= predicates)                                                                
col_names = col_list
df = pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
df = df.loc[df['GeoFIPS'].isin(GNRC)]
predicates= {}
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "county:*"
predicates["in"]= "state:21"                                                             
data = requests.get(url_str, params= predicates)                                                                
col_names = col_list
kycos = pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
kycos = kycos.loc[kycos['GeoFIPS'].isin(KY)]
df = df.append(kycos).reset_index(drop = True)
#ky places call
predicates= {}
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "place:*"
predicates["in"]= "state:21"
data= requests.get(url_str, params= predicates)
col_names = col_list
places=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
places=places.loc[places['GEO_ID'].isin(qlaces)]
df = df.append(places).reset_index(drop = True)
#places call
predicates= {}
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "place:*"
predicates["in"]= "state:47"
data= requests.get(url_str, params= predicates)
col_names = col_list
places=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
places=places.loc[places['GEO_ID'].isin(qlaces)]
df = df.append(places).reset_index(drop = True)
# #tract call
# predicates= {}
# get_vars= var_list
# predicates['get'] = ','.join(get_vars)
# predicates['for'] = 'tract:0902'
# predicates['in'] = 'state:47'
# predicates['%20'] = 'county:169'
# data= requests.get(url_str, params= predicates)
# col_names = col_list
# tract=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
# df = df.append(tract).reset_index(drop = True)
#state call
col_list.remove(tail_cols2)
predicates= {}
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "state:47"
data= requests.get(url_str, params= predicates)
col_names = col_list
state=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
state['GeoFIPS'] = '0'
df = df.append(state, ignore_index = True)
#national call
predicates= {}
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "us:*"
data= requests.get(url_str, params= predicates)
col_names = col_list
national=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
national['GeoFIPS'] = '0'
df = df.append(national, ignore_index = True)
onepull = df
print('Okay Finished')

Okay Finished

In [11]:
one = onepull

In [12]:
head1 = 'NAME' #TWO list params
head2 = 'GEO_ID'
tail_cols1 = 'StateFIPS'
tail_cols2 = 'GeoFIPS'
var_list = list(dg2['SF1 Variable']) #make variables list
var_list = deque(var_list) #add stuff to variables list
var_list.appendleft(head2)
var_list.appendleft(head1)
var_list = list(var_list)
col_list = list(dg2['Column Name']) #make columns list
col_list.append(tail_cols1) #add stuff to columns list
col_list.append(tail_cols2)
col_list = deque(col_list)
col_list.appendleft(head2)
col_list.appendleft(head1)
col_list = list(col_list)
predicates= {} #add stuff to columns list
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "county:*"
predicates["in"]= "state:47"                                                             
data = requests.get(url_str, params= predicates)                                                                
col_names = col_list
df = pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
df = df.loc[df['GeoFIPS'].isin(GNRC)]
predicates= {}
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "county:*"
predicates["in"]= "state:21"                                                             
data = requests.get(url_str, params= predicates)                                                                
col_names = col_list
kycos = pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
kycos = kycos.loc[kycos['GeoFIPS'].isin(KY)]
df = df.append(kycos).reset_index(drop = True)
predicates= {} #places call
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "place:*"
predicates["in"]= "state:47"
data= requests.get(url_str, params= predicates)
col_names = col_list
places=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
places=places.loc[places['GEO_ID'].isin(qlaces)]
df = df.append(places).reset_index(drop = True)
predicates= {} #ky places call
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "place:*"
predicates["in"]= "state:21"
data= requests.get(url_str, params= predicates)
col_names = col_list
places=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
places=places.loc[places['GEO_ID'].isin(qlaces)]
df = df.append(places).reset_index(drop = True)
col_list.remove(tail_cols2) #state call
predicates= {}
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "state:47"
data= requests.get(url_str, params= predicates)
col_names = col_list
state=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
state['GeoFIPS'] = '0'
df = df.append(state, ignore_index = True)
predicates= {} #national call
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "us:*"
data= requests.get(url_str, params= predicates)
col_names = col_list
national=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
national['GeoFIPS'] = '0'
df = df.append(national, ignore_index = True)
twopull = df
print('Okay Finished')

Okay Finished

In [13]:
two = twopull

In [14]:
last = two

## Joining

In [15]:
one = one.drop(columns = ['StateFIPS','GeoFIPS'])
last = last.drop(columns = 'NAME')

In [16]:
data = one.merge(last, on = 'GEO_ID')

In [17]:
data.head()

,NAME,GEO_ID,pop,agebysex_total_series,age_total_male,age_m_u5,age_m_5to9,age_m_10to14,age_m_15to17,age_m_18to19,age_m_20,age_m_21,age_m_22to24,age_m_25to29,age_m_30to34,age_m_35to39,age_m_40to44,age_m_45to49,age_m_50to54,age_m_55to59,age_m_60to61,age_m_62to64,age_m_65to66,age_m_67to69,age_m_70to74,age_m_75to79,age_m_80to84,age_m_85+,age_total_female,age_f_u5,age_f_5to9,age_f_10to14,age_f_15to17,age_f_18to19,age_f_20,age_f_21,age_f_22to24,age_f_25to29,age_f_30to34,age_f_35to39,age_f_40to44,age_f_45to49,age_f_50to54,age_f_55to59,age_f_60to61,age_f_62to64,age_f_65to66,age_f_67to69,age_f_70to74,age_f_75to79,age_f_80to84,age_f_85+,raceeth_total_series,raceeth_total_oneracealone,raceeth_white_alone,raceeth_blackafricanamerican_alone,raceeth_americanindianalaskanative_alone,raceeth_asian_alone,raceeth_nativehawaiianotherpacificislander_alone,raceeth_someotherrace_alone,raceeth_twoormoreraces_alone,raceeth_whitealone_nothispanicorlatino,raceeth_hispanicorlatino,hhsize_avg,units_allhousing,occupancy_total_series,occupancy_occupiedunits,occupancy_vacantunits,tenure_total_series,tenure_owneroccunits,tenure_renteroccunits,hhtype_total_series,hhtype_oneperson,hhtype_oneperson_male,hhtype_oneperson_female,hhtype_twoormore,hhtype_twoormore_family,hhtype_twoormore_family_marriedcouplefam,hhtype_twoormore_family_marriedcouplefam_ownchildrenunder18,hhtype_twoormore_family_marriedcouplefam_noownchildrenunder18,hhtype_twoormore_family_otherfam,hhtype_twoormore_family_otherfam_malenospouse,hhtype_twoormore_family_otherfam_malenospouse_ownchildrenunder18,hhtype_twoormore_family_otherfam_malenospouse_noownchildrenunder18,hhtype_twoormore_family_otherfam_femalenospouse,hhtype_twoormore_family_otherfam_femalenospouse_ownchildrenunder18,hhtype_twoormore_family_otherfam_femalenospouse_noownchildrenunder18,hhtype_twoormore_nonfamily,hhtype_twoormore_nonfamily_male,hhtype_twoormore_nonfamily_female,StateFIPS,GeoFIPS
0,"Cheatham County, Tennessee",0500000US47021,35912,35912,17981,1372,1473,1487,829,440,180,177,570,1133,1388,1787,1617,1411,1231,881,284,394,221,268,389,226,135,88,17931,1187,1330,1398,854,369,173,182,518,1201,1487,1780,1649,1372,1161,850,289,373,217,312,433,327,204,265,35912,35660,34783,532,135,63,17,130,252,34506,437,2.76,13508,13508,12878,630,12878,10773,2105,12878,2177,1042,1135,10701,10162,8356,4026,4330,1806,564,357,207,1242,714,528,539,330,209,47,021
1,"Davidson County, Tennessee",0500000US47037,569891,569891,275865,19466,18200,17089,10120,9254,4730,4558,14070,26542,24511,24019,22218,19891,16467,11655,3874,5310,3010,4378,6608,4941,2961,1993,294026,18347,17524,16143,9558,9399,4935,4832,14420,25950,23184,24029,23233,20978,17698,13313,4521,6409,4016,5878,9508,8301,5841,6009,569891,558652,381783,147696,1679,13275,403,13816,11239,371150,26091,2.30,252977,252977,237405,15572,237405,131340,106065,237405,79249,34151,45098,158156,138106,94784,39175,55609,43322,9283,4111,5172,34039,19985,14054,20050,11527,8523,47,037
2,"Dickson County, Tennessee",0500000US47043,43156,43156,21158,1538,1686,1726,957,557,250,236,701,1416,1594,1779,1756,1467,1361,1104,384,548,338,428,538,414,242,138,21998,1437,1584,1601,957,532,246,227,744,1459,1649,1753,1828,1513,1431,1129,381,556,322,505,693,579,462,410,43156,42718,40243,1978,172,116,5,204,438,40020,484,2.59,17614,17614,16473,1141,16473,12539,3934,16473,3678,1591,2087,12795,12175,9604,4322,5282,2571,670,387,283,1901,1162,739,620,384,236,47,043
3,"Houston County, Tennessee",0500000US47083,8088,8088,3999,268,311,266,174,86,36,39,146,264,256,255,300,280,266,234,83,150,73,112,158,112,77,53,4089,273,243,298,137,78,37,43,127,244,240,277,271,293,274,260,92,137,92,112,180,151,113,117,8088,8011,7650,268,15,10,5,63,77,7611,101,2.46,3901,3901,3216,685,3216,2476,740,3216,815,368,447,2401,2300,1833,746,1087,467,134,59,75,333,194,139,101,68,33,47,083
4,"Humphreys County, Tennessee",0500000US47085,17929,17929,8819,567,610,660,402,214,108,110,280,537,536,651,701,635,624,589,202,275,153,240,312,225,114,74,9110,505,597,584,357,198,89,89,278,602,571,669,668,684,633,556,192,301,174,255,394,290,236,188,17929,17777,17125,527,48,46,2,29,152,17030,148,2.44,8482,8482,7238,1244,7238,5641,1597,7238,1808,788,1020,5430,5145,4144,1616,2528,1001,266,139,127,735,441,294,285,180,105,47,085

In [18]:
data = data.set_index(['NAME', 'GEO_ID'])

In [19]:
transp = data.transpose()
transp.head()

NAME,"Cheatham County, Tennessee","Davidson County, Tennessee","Dickson County, Tennessee","Houston County, Tennessee","Humphreys County, Tennessee","Macon County, Tennessee","Maury County, Tennessee","Montgomery County, Tennessee","Robertson County, Tennessee","Rutherford County, Tennessee","Stewart County, Tennessee","Sumner County, Tennessee","Trousdale County, Tennessee","Williamson County, Tennessee","Wilson County, Tennessee","Allen County, Kentucky","Simpson County, Kentucky","Franklin city, Kentucky","Scottsville city, Kentucky","Adams city, Tennessee","Ashland City town, Tennessee","Belle Meade city, Tennessee","Berry Hill city, Tennessee","Brentwood city, Tennessee","Burns town, Tennessee","Cedar Hill city, Tennessee","Charlotte town, Tennessee","Clarksville city, Tennessee","Columbia city, Tennessee","Coopertown town, Tennessee","Cross Plains city, Tennessee","Cumberland City town, Tennessee","Dickson city, Tennessee","Dover city, Tennessee","Eagleville city, Tennessee","Erin city, Tennessee","Fairview city, Tennessee","Forest Hills city, Tennessee","Franklin city, Tennessee","Gallatin city, Tennessee","Goodlettsville city, Tennessee","Greenbrier town, Tennessee","Hendersonville city, Tennessee","Kingston Springs town, Tennessee","Lafayette city, Tennessee","La Vergne city, Tennessee","Lebanon city, Tennessee","McEwen city, Tennessee","Millersville city, Tennessee","Mitchellville city, Tennessee","Mount Juliet city, Tennessee","Mount Pleasant city, Tennessee","Murfreesboro city, Tennessee","Nashville-Davidson (balance), Tennessee","New Johnsonville city, Tennessee","Nolensville town, Tennessee","Oak Hill city, Tennessee","Pegram town, Tennessee","Pleasant View city, Tennessee","Portland city, Tennessee","Ridgetop city, Tennessee","Slayden town, Tennessee","Smyrna town, Tennessee","Springfield city, Tennessee","Spring Hill city, Tennessee","Tennessee Ridge town, Tennessee","Thompson's Station town, Tennessee","Vanleer town, Tennessee","Watertown city, Tennessee","Waverly city, Tennessee","Westmoreland town, Tennessee","White Bluff town, Tennessee","White House city, Tennessee",Tennessee,United States
GEO_ID,0500000US47021,0500000US47037,0500000US47043,0500000US47083,0500000US47085,0500000US47111,0500000US47119,0500000US47125,0500000US47147,0500000US47149,0500000US47161,0500000US47165,0500000US47169,0500000US47187,0500000US47189,0500000US21003,0500000US21213,1600000US2128918,1600000US2169114,1600000US4700200,1600000US4702180,1600000US4704620,1600000US4705140,1600000US4708280,1600000US4709880,1600000US4711980,1600000US4713080,1600000US4715160,1600000US4716540,1600000US4716980,1600000US4718420,1600000US4718820,1600000US4720620,1600000US4721400,1600000US4722360,1600000US4724320,1600000US4725440,1600000US4727020,1600000US4727740,1600000US4728540,1600000US4729920,1600000US4730960,1600000US4733280,1600000US4739660,1600000US4740160,1600000US4741200,1600000US4741520,1600000US4744840,1600000US4748980,1600000US4749460,1600000US4750780,1600000US4751080,1600000US4751560,1600000US4752006,1600000US4752820,1600000US4753460,1600000US4754780,1600000US4757480,1600000US4759560,1600000US4760280,1600000US4763140,1600000US4769080,1600000US4769420,1600000US4770500,1600000US4770580,1600000US4773460,1600000US4773900,1600000US4776860,1600000US4778320,1600000US4778560,1600000US4779420,1600000US4779980,1600000US4780200,0400000US47,0100000US
pop,35912,569891,43156,8088,17929,20386,69498,134768,54433,182023,12370,130449,7259,126638,88809,17800,16405,7996,4327,566,3641,2943,674,23445,1366,298,1153,103455,33055,3027,1381,316,12244,1442,464,1490,5800,4710,41842,23230,13780,4940,40620,2773,3885,18687,20235,1702,5308,207,12366,4491,68816,545524,1905,3099,4493,2146,2934,8458,1083,185,25569,14329,7715,1334,1283,310,1358,4028,2093,2142,7220,5689283,281421906
agebysex_total_series,35912,569891,43156,8088,17929,20386,69498,134768,54433,182023,12370,130449,7259,126638,88809,17800,16405,7996,4327,566,3641,2943,674,23445,1366,298,1153,103455,33055,3027,1381,316,12244,1442,464,1490,5800,4710,41842,23230,13780,4940,40620,2773,3885,18687,20235,1702,5308,207,12366,4491,68816,545524,1905,3099,4493,2146,2934,8458,1083,185,25569,14329,7715,1334,1283,310,1358,4028,2093,2142,7220,5689283,281421906
age_total_male,17981,275865,21158,3999,8819,10061,33782,67775,27051,90585,6158,63876,3573,62358,43830,8716,8003,3785,2014,274,1782,1425,345,11550,677,145,609,51950,15653,1548,713,151,5685,657,223,670,2800,2325,20224,11051,6552,2403,19781,1378,1780,9215,9621,796,2697,111,6037,2034,34184,264095,924,1533,2193,1089,1476,4084,540,97,12516,6901,3862,651,649,151,642,1905,934,1076,3603,2770275,138053563
age_m_u5,1372,19466,1538,268,567,734,2444,5901,1897,7027,374,4567,217,4722,3074,610,597,310,136,20,116,103,11,685,43,11,32,4749,1269,104,46,9,489,29,12,50,239,124,1850,844,466,206,1401,104,103,944,717,63,254,9,493,153,2313,18705,68,117,113,107,140,373,32,4,1147,523,434,43,51,8,61,130,83,64,365,192283,9810733
age_m_5to9,1473,18200,1686,311,610,746,2512,5751,2112,7045,430,4862,286,5507,3334,663,591,275,160,22,133,156,13,1091,51,9,35,4477,1164,124,55,13,492,40,18,50,259,189,1718,818,454,218,1501,113,117,872,698,70,237,11,505,182,2255,17313,58,142,148,95,146,345,40,10,985,481,391,52,45,8,47,138,69,103,346,203330,10523277

In [20]:
numcols = list(transp.columns)
numcols
transp[numcols] = transp[numcols].astype(float)

In [21]:
data = transp

In [22]:
GNRCCounties = [data[('Stewart County, Tennessee', '0500000US47161')],data[('Montgomery County, Tennessee', '0500000US47125')],
                data[('Houston County, Tennessee', '0500000US47083')],data[('Humphreys County, Tennessee', '0500000US47085')],
                data[('Dickson County, Tennessee', '0500000US47043')],data[('Cheatham County, Tennessee', '0500000US47021')],
                data[('Robertson County, Tennessee', '0500000US47147')],data[('Sumner County, Tennessee', '0500000US47165')],
                data[('Davidson County, Tennessee', '0500000US47037')],data[('Wilson County, Tennessee', '0500000US47189')],
                data[('Trousdale County, Tennessee', '0500000US47169')],data[('Williamson County, Tennessee', '0500000US47187')],
                data[('Rutherford County, Tennessee', '0500000US47149')]]
data['GNRC'] = sum(GNRCCounties)
GNRCCountiesAll = [data[('Stewart County, Tennessee', '0500000US47161')],data[('Montgomery County, Tennessee', '0500000US47125')],
                   data[('Houston County, Tennessee', '0500000US47083')],data[('Humphreys County, Tennessee', '0500000US47085')],
                   data[('Dickson County, Tennessee', '0500000US47043')],data[('Cheatham County, Tennessee', '0500000US47021')],
                   data[('Robertson County, Tennessee', '0500000US47147')],data[('Sumner County, Tennessee', '0500000US47165')],
                   data[('Davidson County, Tennessee', '0500000US47037')],data[('Wilson County, Tennessee', '0500000US47189')],
                   data[('Trousdale County, Tennessee', '0500000US47169')],data[('Williamson County, Tennessee', '0500000US47187')],
                   data[('Rutherford County, Tennessee', '0500000US47149')],data[('Maury County, Tennessee', '0500000US47119')]]
data['GNRC Region'] = sum(GNRCCountiesAll)
MPOCounties = [data[('Robertson County, Tennessee', '0500000US47147')],data[('Sumner County, Tennessee', '0500000US47165')],
               data[('Davidson County, Tennessee', '0500000US47037')],data[('Wilson County, Tennessee', '0500000US47189')],
               data[('Williamson County, Tennessee', '0500000US47187')],data[('Rutherford County, Tennessee', '0500000US47149')],
               data[('Maury County, Tennessee', '0500000US47119')]]
data['MPO'] = sum(MPOCounties)
RuthInc = [data[('Eagleville city, Tennessee', '1600000US4722360')],data[('La Vergne city, Tennessee', '1600000US4741200')],
           data[('Murfreesboro city, Tennessee', '1600000US4751560')],data[('Smyrna town, Tennessee', '1600000US4769420')]]
data[('Rutherford Incorporated', 'None')] = sum(RuthInc)
data[('Rutherford Unincorporated', 'None')] = data[('Rutherford County, Tennessee', '0500000US47149')] - data[('Rutherford Incorporated', 'None')]
WilsonInc = [data[('Lebanon city, Tennessee', '1600000US4741520')],data[('Mount Juliet city, Tennessee', '1600000US4750780')],
             data[('Watertown city, Tennessee', '1600000US4778320')]]
data[('Wilson Incorporated', 'None')] = sum(WilsonInc)
data[('Wilson Unincorporated', 'None')] = data[('Wilson County, Tennessee', '0500000US47189')] - data[('Wilson Incorporated', 'None')]
CheathInc = [data[('Ashland City town, Tennessee', '1600000US4702180')],data[('Kingston Springs town, Tennessee', '1600000US4739660')],
             data[('Pegram town, Tennessee', '1600000US4757480')],data[('Pleasant View city, Tennessee', '1600000US4759560')]]
data[('Cheatham Incorporated', 'None')] = sum(CheathInc)
data[('Cheatham Unincorporated', 'None')] = data[('Cheatham County, Tennessee', '0500000US47021')] - data[('Cheatham Incorporated', 'None')]
DicksInc = [data[('Burns town, Tennessee', '1600000US4709880')],data[('Charlotte town, Tennessee', '1600000US4713080')],
            data[('Dickson city, Tennessee', '1600000US4720620')],data[('Slayden town, Tennessee', '1600000US4769080')],
            data[('Vanleer town, Tennessee', '1600000US4776860')],data[('White Bluff town, Tennessee', '1600000US4779980')]]
data[('Dickson Incorporated', 'None')] = sum(DicksInc)
data[('Dickson Unincorporated', 'None')] = data[('Dickson County, Tennessee', '0500000US47043')] - data[('Dickson Incorporated', 'None')]
HumphInc = [data[('McEwen city, Tennessee', '1600000US4744840')],data[('New Johnsonville city, Tennessee', '1600000US4752820')],
            data[('Waverly city, Tennessee', '1600000US4778560')]]
data[('Humphreys Incorporated', 'None')] = sum(HumphInc)
data[('Humphreys Unincorporated', 'None')] = data[('Humphreys County, Tennessee', '0500000US47085')] - data[('Humphreys Incorporated', 'None')]
data[('Montgomery Incorporated', 'None')] = data[('Clarksville city, Tennessee', '1600000US4715160')]
data[('Montgomery Unincorporated', 'None')] = data[('Montgomery County, Tennessee', '0500000US47125')] - data[('Montgomery Incorporated', 'None')]

In [23]:
data = data.transpose().reset_index()

In [24]:
data.head(30)

,NAME,GEO_ID,pop,agebysex_total_series,age_total_male,age_m_u5,age_m_5to9,age_m_10to14,age_m_15to17,age_m_18to19,age_m_20,age_m_21,age_m_22to24,age_m_25to29,age_m_30to34,age_m_35to39,age_m_40to44,age_m_45to49,age_m_50to54,age_m_55to59,age_m_60to61,age_m_62to64,age_m_65to66,age_m_67to69,age_m_70to74,age_m_75to79,age_m_80to84,age_m_85+,age_total_female,age_f_u5,age_f_5to9,age_f_10to14,age_f_15to17,age_f_18to19,age_f_20,age_f_21,age_f_22to24,age_f_25to29,age_f_30to34,age_f_35to39,age_f_40to44,age_f_45to49,age_f_50to54,age_f_55to59,age_f_60to61,age_f_62to64,age_f_65to66,age_f_67to69,age_f_70to74,age_f_75to79,age_f_80to84,age_f_85+,raceeth_total_series,raceeth_total_oneracealone,raceeth_white_alone,raceeth_blackafricanamerican_alone,raceeth_americanindianalaskanative_alone,raceeth_asian_alone,raceeth_nativehawaiianotherpacificislander_alone,raceeth_someotherrace_alone,raceeth_twoormoreraces_alone,raceeth_whitealone_nothispanicorlatino,raceeth_hispanicorlatino,hhsize_avg,units_allhousing,occupancy_total_series,occupancy_occupiedunits,occupancy_vacantunits,tenure_total_series,tenure_owneroccunits,tenure_renteroccunits,hhtype_total_series,hhtype_oneperson,hhtype_oneperson_male,hhtype_oneperson_female,hhtype_twoormore,hhtype_twoormore_family,hhtype_twoormore_family_marriedcouplefam,hhtype_twoormore_family_marriedcouplefam_ownchildrenunder18,hhtype_twoormore_family_marriedcouplefam_noownchildrenunder18,hhtype_twoormore_family_otherfam,hhtype_twoormore_family_otherfam_malenospouse,hhtype_twoormore_family_otherfam_malenospouse_ownchildrenunder18,hhtype_twoormore_family_otherfam_malenospouse_noownchildrenunder18,hhtype_twoormore_family_otherfam_femalenospouse,hhtype_twoormore_family_otherfam_femalenospouse_ownchildrenunder18,hhtype_twoormore_family_otherfam_femalenospouse_noownchildrenunder18,hhtype_twoormore_nonfamily,hhtype_twoormore_nonfamily_male,hhtype_twoormore_nonfamily_female,StateFIPS,GeoFIPS
0,"Cheatham County, Tennessee",0500000US47021,35912.0,35912.0,17981.0,1372.0,1473.0,1487.0,829.0,440.0,180.0,177.0,570.0,1133.0,1388.0,1787.0,1617.0,1411.0,1231.0,881.0,284.0,394.0,221.0,268.0,389.0,226.0,135.0,88.0,17931.0,1187.0,1330.0,1398.0,854.0,369.0,173.0,182.0,518.0,1201.0,1487.0,1780.0,1649.0,1372.0,1161.0,850.0,289.0,373.0,217.0,312.0,433.0,327.0,204.0,265.0,35912.0,35660.0,34783.0,532.0,135.0,63.0,17.0,130.0,252.0,34506.0,437.0,2.76,13508.0,13508.0,12878.0,630.0,12878.0,10773.0,2105.0,12878.0,2177.0,1042.0,1135.0,10701.0,10162.0,8356.0,4026.0,4330.0,1806.0,564.0,357.0,207.0,1242.0,714.0,528.0,539.0,330.0,209.0,47.0,21.0
1,"Davidson County, Tennessee",0500000US47037,569891.0,569891.0,275865.0,19466.0,18200.0,17089.0,10120.0,9254.0,4730.0,4558.0,14070.0,26542.0,24511.0,24019.0,22218.0,19891.0,16467.0,11655.0,3874.0,5310.0,3010.0,4378.0,6608.0,4941.0,2961.0,1993.0,294026.0,18347.0,17524.0,16143.0,9558.0,9399.0,4935.0,4832.0,14420.0,25950.0,23184.0,24029.0,23233.0,20978.0,17698.0,13313.0,4521.0,6409.0,4016.0,5878.0,9508.0,8301.0,5841.0,6009.0,569891.0,558652.0,381783.0,147696.0,1679.0,13275.0,403.0,13816.0,11239.0,371150.0,26091.0,2.30,252977.0,252977.0,237405.0,15572.0,237405.0,131340.0,106065.0,237405.0,79249.0,34151.0,45098.0,158156.0,138106.0,94784.0,39175.0,55609.0,43322.0,9283.0,4111.0,5172.0,34039.0,19985.0,14054.0,20050.0,11527.0,8523.0,47.0,37.0
2,"Dickson County, Tennessee",0500000US47043,43156.0,43156.0,21158.0,1538.0,1686.0,1726.0,957.0,557.0,250.0,236.0,701.0,1416.0,1594.0,1779.0,1756.0,1467.0,1361.0,1104.0,384.0,548.0,338.0,428.0,538.0,414.0,242.0,138.0,21998.0,1437.0,1584.0,1601.0,957.0,532.0,246.0,227.0,744.0,1459.0,1649.0,1753.0,1828.0,1513.0,1431.0,1129.0,381.0,556.0,322.0,505.0,693.0,579.0,462.0,410.0,43156.0,42718.0,40243.0,1978.0,172.0,116.0,5.0,204.0,438.0,40020.0,484.0,2.59,17614.0,17614.0,16473.0,1141.0,16473.0,12539.0,3934.0,16473.0,3678.0,1591.0,2087.0,12795.0,12175.0,9604.0,4322.0,5282.0,2571.0,670.0,387.0,283.0,1901.0,1162.0,739.0,620.0,384.0,236.0,47.0,43.0
3,"Houston County, Tennessee",0500000US47083,8088.0,8088.0,3999.0,268.0,311.0,266.0,174.0,86.0,36.0,39.0,146.0,264.0,256.0,255.0,300.0,280.0,266.0,234.0,83.0,150.0,73.0,112.0,158.0,112.0,77.0,53.0,4089.0,273.0,243.0,298.0,137.0,78.0,37.0,43.0,127.0,244.0,240.0,277.0,271.0,293.0,274.0,260.0,92.0,137.0,92.0,112.0,180.0,151.0,113.0,117.0,8088.0,8011.0,7650.0,268.0,15.0,10.0,5.0,63.0,77.0,7611.0,101.0,2.46,3901.0,3901.0,3216.0,685.0,3216.0,2476.0,740.0,3216.0,815.0,368.0,447.0,2401.0,2300.0,1833.0,746.0,1087.0,467.0,134.0,59.0,75.0,333.0,194.0,139.0,101.0,68.0,33.0,47.0,83.0
4,"Humphreys County, Tennessee",0500000US47085,17929.0,17929.0,8819.0,567.0,610.0,660.0,402.0,214.0,108.0,110.0,280.0,537.0,536.0,651.0,701.0,635.0,624.0,589.0,202.0,275.0,153.0,240.0,312.0,225.0,114.0,74.0,9110.0,505.0,597.0,584.0,357.0,198.0,89.0,89.0,278.0,602.0,571.0,669.0,668.0,684.0,633.0,556.0,192.0,301.0,174.0,255.0,394.0,290.0,236.0,188.0,17929.0,17777.0,17125.0,527.0,48.0,46.0,2.0,29.0,152.0,17030.0,148.0,2.44,8482.0,8482.0,7238.0,1244.0,7238.0,5641.0,1597.0,7238.0,1808.0,788.0,1020.0,5430.0,5145.0,4144.0,1616.0,2528.0,1001.0,266.0,139.0,127.0,735.0,441.0,294.0,285.0,180.0,105.0,47.0,85.0
5,"Macon County, Tennessee",0500000US47111,20386.0,20386.0,10061.0,734.0,746.0,766.0,469.0,274.0,126.0,150.0,342.0,743.0,801.0,779.0,705.0,720.0,664.0,574.0,158.0,256.0,164.0,208.0,295.0,195.0,120.0,72.0,10325.0,712.0,717.0,727.0,443.0,226.0,124.0,125.0,376.0,669.0,765.0,783.0,742.0,683.0,655.0,585.0,187.0,278.0,150.0,245.0,322.0,332.0,247.0,232.0,20386.0,20297.0,19949.0,44.0,85.0,48.0,14.0,157.0,89.0,19784.0,349.0,2.55,8894.0,8894.0,7916.0,978.0,7916.0,6225.0,1691.0,7916.0,1887.0,809.0,1078.0,6029.0,5806.0,4802.0,2202.0,2600.0,1004.0,307.0,160.0,147.0,697.0,411.0,286.0,223.0,145.0,78.0,47.0,111.0
6,"Maury County, Tennessee",0500000US47119,69498.0,69498.0,33782.0,2444.0,2512.0,2746.0,1748.0,967.0,460.0,429.0,1168.0,2177.0,2249.0,2615.0,3068.0,2707.0,2296.0,1661.0,527.0,718.0,416.0,654.0,908.0,625.0,396.0,291.0,35716.0,2322.0,2324.0,2617.0,1521.0,931.0,427.0,435.0,1262.0,2169.0,2397.0,2928.0,3123.0,2739.0,2316.0,1702.0,606.0,821.0,507.0,794.0,1265.0,1029.0,779.0,702.0,69498.0,68629.0,57262.0,9904.0,214.0,232.0,14.0,1003.0,869.0,56327.0,2264.0,2.58,28674.0,28674.0,26444.0,2230.0,26444.0,19247.0,7197.0,26444.0,6126.0,2569.0,3557.0,20318.0,19274.0,14792.0,6660.0,8132.0,4482.0,1075.0,556.0,519.0,3407.0,1994.0,1413.0,1044.0,625.0,419.0,47.0,119.0
7,"Montgomery County, Tennessee",0500000US47125,134768.0,134768.0,67775.0,5901.0,5751.0,5340.0,2863.0,2128.0,1317.0,1380.0,4050.0,6608.0,6027.0,5842.0,5081.0,3888.0,3200.0,2251.0,772.0,1070.0,654.0,1011.0,1224.0,704.0,417.0,296.0,66993.0,5552.0,5335.0,4878.0,2709.0,1987.0,1148.0,1168.0,3374.0,5987.0,5619.0,5840.0,5196.0,4018.0,3294.0,2529.0,881.0,1285.0,779.0,1068.0,1440.0,1279.0,844.0,783.0,134768.0,130849.0,98611.0,25848.0,709.0,2455.0,287.0,2939.0,3919.0,95515.0,6960.0,2.70,52167.0,52167.0,48330.0,3837.0,48330.0,30700.0,17630.0,48330.0,9740.0,4727.0,5013.0,38590.0,35964.0,28371.0,14702.0,13669.0,7593.0,1701.0,1011.0,690.0,5892.0,3951.0,1941.0,2626.0,1736.0,890.0,47.0,125.0
8,"Robertson County, Tennessee",0500000US47147,54433.0,54433.0,27051.0,1897.0,2112.0,2267.0,1285.0,771.0,358.0,316.0,997.0,1774.0,2035.0,2390.0,2299.0,1979.0,1740.0,1291.0,445.0,623.0,365.0,507.0,686.0,470.0,263.0,181.0,27382.0,1823.0,2019.0,2027.0,1152.0,623.0,331.0,315.0,906.0,1749.0,2123.0,2429.0,2289.0,2035.0,1726.0,1305.0,431.0,684.0,420.0,598.0,789.0,682.0,495.0,431.0,54433.0,53995.0,48518.0,4691.0,154.0,169.0,12.0,451.0,438.0,47644.0,1447.0,2.71,20995.0,20995.0,19906.0,1089.0,19906.0,15222.0,4684.0,19906.0,3711.0,1611.0,2100.0,16195.0,15442.0,12327.0,5666.0,6661.0,3115.0,882.0,441.0,441.0,2233.0,1335.0,898.0,753.0,471.0,282.0,47.0,147.0
9,"Rutherford County, Tennessee",0500000US47149,182023.0,182023.0,90585.0,7027.0,7045.0,6692.0,3821.0,3338.0,1861.0,1899.0,5023.0,7662.0,7512.0,8195.0,7231.0,6140.0,5079.0,3708.0,1149.0,1497.0,811.0,1183.0,1566.0,1107.0,635.0,404.0,91438.0,6629.0,6688.0,6487.0,3722.0,3520.0,1994.0,1894.0,4479.0,7340.0,7374.0,8153.0,7500.0,6162.0,5102.0,3719.0,1195.0,1564.0,943.0,1308.0,1941.0,1600.0,1054.0,1070.0,182023.0,179833.0,156050.0,17312.0,522.0,3467.0,74.0,2408.0,2190.0,153762.0,5065.0,2.65,70616.0,70616.0,66443.0,4173.0,66443.0,46399.0,20044.0,66443.0,13835.0,6523.0,7312.0,52608.0,47457.0,37394.0,18935.0,18459.0,10063.0,2641.0,1408.0,1233.0,7422.0,4755.0,2667.0,5151.0,3008.0,2143.0,47.0,149.0
10,"Stewart County, Tennessee",0500000US47161,12370.0,12370.0,6158.0,374.0,430.0,465.0,267.0,168.0,67.0,70.0,167.0,359.0,418.0,520.0,454.0,456.0,450.0,366.0,125.0,173.0,111.0,191.0,203.0,173.0,83.0,68.0,6212.0,353.0,420.0,417.0,234.0,161.0,42.0,61.0,187.0,378.0,391.0,488.0,499.0,445.0,397.0,371.0,144.0,210.0,121.0,165.0,257.0,193.0,136.0,142.0,12370.0,12234.0,11785.0,159.0,75.0,180.0,6.0,29.0,136.0,11701.0,124.0,2.49,5977.0,5977.0,4930.0,1047.0,4930.0,3904.0,1026.0,4930.0,1140.0,527.0,613.0,3790.0,3652.0,3071.0,1208.0,1863.0,581.0,183.0,104.0,79.0,398.0,241.0,157.0,138.0,90.0,48.0,47.0,161.0
11,"Sumner County, Tennessee",0500000US47165,130449.0,130449.0,63876.0,4567.0,4862.0,5077.0,3242.0,1792.0,798.0,685.0,2098.0,4180.0,4614.0,5440.0,5310.0,4923.0,4455.0,3507.0,1151.0,1510.0,836.0,1144.0,1544.0,1119.0,600.0,422.0,66573.0,4266.0,4574.0,4773.0,2976.0,1628.0,686.0,690.0,2108.0,4240.0,4796.0,5849.0,5619.0,5083.0,4494.0,3753.0,1202.0,1585.0,947.0,1323.0,1904.0,1650.0,1218.0,1209.0,130449.0,129198.0,119344.0,7540.0,373.0,856.0,38.0,1047.0,1251.0,118221.0,2291.0,2.64,51657.0,51657.0,48941.0,2716.0,48941.0,36975.0,11966.0,48941.0,9940.0,4205.0,5735.0,39001.0,37054.0,29897.0,13651.0,16246.0,7157.0,1885.0,1038.0,847.0,5272.0,3090.0,2182.0,1947.0,1202.0,745.0,47.0,165.0
12,"Trousdale County, Tennessee",0500000US47169,7259.0,7259.0,3573.0,217.0,286.0,264.0,163.0,97.0,54.0,37.0,123.0,206.0,232.0,278.0,285.0,250.0,268.0,211.0,73.0,100.0,47.0,93.0,112.0,80.0,62.0,35.0,3686.0,222.0,236.0,231.0,138.0,96.0,44.0,50.0,115.0,213.0,260.0,278.0,287.0,272.0,250.0,205.0,84.0,96.0,58.0,83.0,137.0,134.0,98.0,99.0,7259.0,7207.0,6284.0,824.0,17.0,8.0,2.0,72.0,52.0,6249.0,110.0,2.55,3095.0,3095.0,2780.0,315.0,2780.0,2125.0,655.0,2780.0,640.0,279.0,361.0,2140.0,2036.0,1621.0,671.0,950.0,415.0,101.0,59.0,42.0,314.0,156.0,158.0,104.0,62.0,42.0,47.0,169.0
13,"Williamson County, Tennessee",0500000US47187,126638.0,126638.0,62358.0,4722.0,5507.0,5676.0,3269.0,1513.0,531.0,508.0,1537.0,3300.0,4079.0,5323.0,6263.0,5704.0,4959.0,3167.0,953.0,1134.0,664.0,863.0,1134.0,847.0,441.0,264.0,64280.0,4447.0,5158.0,5525.0,3046.0,1277.0,484.0,455.0,1552.0,3522.0,4604.0,6232.0,6717.0,5944.0,4636.0,2997.0,894.0,1192.0,679.0,966.0,1385.0,1070.0,753.0,745.0,126638.0,125594.0,115941.0,6564.0,248.0,1583.0,32.0,1226.0,1044.0,114177.0,3197.0,2.81,47005.0,47005.0,44725.0,2280.0,44725.0,36443.0,8282.0,44725.0,7430.0,3066.0,4364.0,37295.0,35758.0,31211.0,16629.0,14582.0,4547.0,1054.0,534.0,520.0,3493.0,2074.0,1419.0,1537.0,871.0,666.0,47.0,187.0
14,"Wilson County, Tennessee",0500000US47189,88809.0,88809.0,43830.0,3074.0,3334.0,3531.0,2007.0,1185.0,478.0,491.0,1416.0,2724.0,3261.0,3866.0,3823.0,3496.0,3153.0,2526.0,844.0,1059.0,544.0,767.0,950.0,661.0,369.0,271.0,44979.0,2964.0,3214.0,3315.0,1866.0,1010.0,471.0,459.0,1310.0,2811.0,3390.0,4241.0,4039.0,3461.0,3166.0,2417.0,822.0,1005.0,643.0,779.0,1168.0,1001.0,689.0,738.0,88809.0,87990.0,81261.0,5563.0,288.0,426.0,24.0,428.0,819.0,80638.0,1127.0,2.67,34921.0,34921.0,32798.0,2123.0,32798.0,26707.0,6091.0,32798.0,5930.0,2692.0,3238.0,26868.0,25595.0,21069.0,9543.0,11526.0,4526.0,1212.0,700.0,512.0,3314.0,1942.0,1372.0,1273.0,789.0,484.0,47.0,189.0
15,"Allen County, Kentucky",0500000US21003,17800.0,17800.0,8716.0,610.0,663.0,671.0,402.0,250.0,127.0,107.0,312.0,626.0,577.0,638.0,690.0,581.0,548.0,457.0,185.0,244.0,149.0,200.0,284.0,186.0,118.0,91.0,9084.0,562.0,646.0,639.0,408.0,257.0,98.0,101.0,324.0,550.0,638.0,698.0,651.0,592.0,611.0,481.0,175.0,244.0,167.0,214.0,335.0,282.0,235.0,176.0,17800.0,17683.0,17376.0,191.0,29.0,21.0,2.0,64.0,117.0,17293.0,147.0,2.55,8057.0,8057.0,6910.0,1147.0,6910.0,5461.0,1449.0,6910.0,1598.0,692.0,906.0,5312.0,5110.0,4188.0,1830.0,2358.0,922.0,243.0,128.0,115.0,679.0,395.0,284.0,202.0,136.0,66.0,21.0,3.0
16,"Simpson County, Kentucky",0500000US21213,16405.0,16405.0,8003.0,597.0,591.0,667.0,363.0,194.0,109.0,89.0,293.0,544.0,569.0,668.0,616.0,576.0,491.0,411.0,167.0,199.0,109.0,153.0,224.0,183.0,110.0,80.0,8402.0,631.0,596.0,540.0,320.0,199.0,98.0,99.0,314.0,542.0,600.0,634.0,613.0,599.0,535.0,426.0,166.0,196.0,115.0,208.0,268.0,278.0,226.0,199.0,16405.0,16263.0,14410.0,1676.0,28.0,90.0,10.0,49.0,142.0,14314.0,150.0,2.52,7016.0,7016.0,6415.0,601.0,6415.0,4603.0,1812.0,6415.0,1551.0,627.0,924.0,4864.0,4637.0,3645.0,1580.0,2065.0,992.0,257.0,140.0,117.0,735.0,448.0,287.0,227.0,134.0,93.0,21.0,213.0
17,"Franklin city, Kentucky",1600000US2128918,7996.0,7996.0,3785.0,310.0,275.0,282.0,159.0,86.0,62.0,52.0,154.0,284.0,283.0,296.0,281.0,253.0,222.0,182.0,74.0,90.0,50.0,74.0,104.0,100.0,60.0,52.0,4211.0,308.0,287.0,233.0,163.0,99.0,51.0,58.0,165.0,273.0,290.0,288.0,281.0,278.0,270.0,205.0,73.0,94.0,55.0,113.0,165.0,177.0,149.0,136.0,7996.0,7923.0,6476.0,1340.0,17.0,61.0,8.0,21.0,73.0,6441.0,65.0,2.39,3609.0,3609.0,3251.0,358.0,3251.0,2132.0,1119.0,3251.0,958.0,333.0,625.0,2293.0,2176.0,1565.0,663.0,902.0,611.0,129.0,63.0,66.0,482.0,286.0,196.0,117.0,70.0,47.0,21.0,28918.0
18,"Scottsville city, Kentucky",1600000US2169114,4327.0,4327.0,2014.0,136.0,160.0,153.0,94.0,76.0,34.0,30.0,62.0,131.0,128.0,149.0,155.0,130.0,109.0,104.0,45.0,55.0,38.0,45.0,61.0,63.0,35.0,21.0,2313.0,117.0,155.0,123.0,104.0,65.0,24.0,28.0,80.0,134.0,151.0,158.0,146.0,141.0,152.0,128.0,45.0,65.0,51.0,68.0,125.0,98.0,88.0,67.0,4327.0,4296.0,4132.0,142.0,1.0,4.0,1.0,16.0,31.0,4112.0,35.0,2.30,2059.0,2059.0,1839.0,220.0,1839.0,1159.0,680.0,1839.0,604.0,193.0,411.0,1235.0,1191.0,860.0,350.0,510.0,331.0,54.0,29.0,25.0,277.0,156.0,121.0,44.0,26.0,18.0,21.0,69114.0
19,"Adams city, Tennessee",1600000US4700200,566.0,566.0,274.0,20.0,22.0,25.0,19.0,11.0,1.0,5.0,10.0,19.0,13.0,23.0,17.0,24.0,14.0,13.0,3.0,9.0,4.0,7.0,9.0,2.0,3.0,1.0,292.0,17.0,25.0,21.0,16.0,4.0,1.0,2.0,12.0,19.0,17.0,23.0,20.0,26.0,21.0,8.0,7.0,9.0,3.0,8.0,13.0,9.0,6.0,5.0,566.0,566.0,510.0,48.0,1.0,2.0,0.0,5.0,0.0,504.0,11.0,2.79,230.0,230.0,203.0,27.0,203.0,166.0,37.0,203.0,36.0,13.0,23.0,167.0,159.0,120.0,62.0,58.0,39.0,7.0,5.0,2.0,32.0,17.0,15.0,8.0,5.0,3.0,47.0,200.0
20,"Ashland City town, Tennessee",1600000US4702180,3641.0,3641.0,1782.0,116.0,133.0,137.0,77.0,58.0,19.0,27.0,85.0,157.0,160.0,148.0,127.0,117.0,118.0,69.0,26.0,29.0,19.0,42.0,36.0,38.0,23.0,21.0,1859.0,112.0,145.0,123.0,70.0,43.0,24.0,22.0,72.0,162.0,141.0,148.0,149.0,118.0,97.0,68.0,28.0,38.0,27.0,44.0,66.0,62.0,35.0,65.0,3641.0,3617.0,3424.0,136.0,10.0,9.0,0.0,38.0,24.0,3391.0,74.0,2.44,1508.0,1508.0,1416.0,92.0,1416.0,860.0,556.0,1416.0,391.0,159.0,232.0,1025.0,944.0,670.0,292.0,378.0,274.0,70.0,44.0,26.0,204.0,135.0,69.0,81.0,55.0,26.0,47.0,2180.0
21,"Belle Meade city, Tennessee",1600000US4704620,2943.0,2943.0,1425.0,103.0,156.0,133.0,54.0,23.0,1.0,2.0,14.0,22.0,28.0,86.0,128.0,147.0,130.0,129.0,21.0,36.0,24.0,42.0,65.0,44.0,28.0,9.0,1518.0,85.0,129.0,149.0,75.0,19.0,8.0,3.0,11.0,23.0,41.0,127.0,163.0,149.0,120.0,119.0,20.0,40.0,26.0,47.0,63.0,53.0,25.0,23.0,2943.0,2934.0,2903.0,10.0,1.0,14.0,0.0,6.0,9.0,2893.0,21.0,2.76,1133.0,1133.0,1067.0,66.0,1067.0,1016.0,51.0,1067.0,165.0,46.0,119.0,902.0,882.0,837.0,407.0,430.0,45.0,12.0,5.0,7.0,33.0,14.0,19.0,20.0,12.0,8.0,47.0,4620.0
22,"Berry Hill city, Tennessee",1600000US4705140,674.0,674.0,345.0,11.0,13.0,6.0,7.0,7.0,5.0,2.0,29.0,46.0,32.0,43.0,23.0,33.0,26.0,15.0,11.0,9.0,5.0,6.0,8.0,3.0,3.0,2.0,329.0,12.0,7.0,6.0,9.0,6.0,3.0,4.0,21.0,36.0,27.0,33.0,28.0,25.0,15.0,16.0,11.0,8.0,6.0,9.0,18.0,14.0,10.0,5.0,674.0,654.0,515.0,109.0,1.0,16.0,0.0,13.0,20.0,506.0,23.0,1.65,442.0,442.0,399.0,43.0,399.0,128.0,271.0,399.0,235.0,128.0,107.0,164.0,126.0,79.0,22.0,57.0,47.0,14.0,6.0,8.0,33.0,13.0,20.0,38.0,17.0,21.0,47.0,5140.0
23,"Brentwood city, Tennessee",1600000US4708280,23445.0,23445.0,11550.0,685.0,1091.0,1266.0,767.0,270.0,63.0,48.0,150.0,217.0,313.0,735.0,1183.0,1253.0,1223.0,872.0,233.0,285.0,140.0,204.0,250.0,182.0,78.0,42.0,11895.0,654.0,978.0,1251.0,703.0,226.0,58.0,47.0,142.0,235.0,451.0,1013.0,1384.0,1355.0,1136.0,748.0,205.0,279.0,137.0,182.0,263.0,185.0,131.0,132.0,23445.0,23295.0,22187.0,442.0,37.0,585.0,0.0,44.0,150.0,21976.0,259.0,3.02,7889.0,7889.0,7693.0,196.0,7693.0,7338.0,355.0,7693.0,766.0,290.0,476.0,6927.0,6812.0,6326.0,3410.0,2916.0,486.0,107.0,64.0,43.0,379.0,233.0,146.0,115.0,64.0,51.0,47.0,8280.0
24,"Burns town, Tennessee",1600000US4709880,1366.0,1366.0,677.0,43.0,51.0,45.0,27.0,15.0,11.0,9.0,27.0,62.0,46.0,63.0,59.0,34.0,48.0,36.0,17.0,20.0,11.0,16.0,15.0,9.0,7.0,6.0,689.0,37.0,52.0,35.0,26.0,15.0,5.0,15.0,20.0,53.0,59.0,56.0,55.0,40.0,53.0,37.0,10.0,21.0,5.0,25.0,16.0,24.0,18.0,12.0,1366.0,1356.0,1314.0,24.0,13.0,0.0,0.0,5.0,10.0,1313.0,7.0,2.48,582.0,582.0,549.0,33.0,549.0,400.0,149.0,549.0,119.0,50.0,69.0,430.0,397.0,299.0,118.0,181.0,98.0,28.0,17.0,11.0,70.0,42.0,28.0,33.0,23.0,10.0,47.0,9880.0
25,"Cedar Hill city, Tennessee",1600000US4711980,298.0,298.0,145.0,11.0,9.0,14.0,12.0,3.0,2.0,3.0,5.0,8.0,8.0,10.0,14.0,9.0,10.0,11.0,2.0,3.0,0.0,6.0,1.0,1.0,1.0,2.0,153.0,12.0,13.0,13.0,5.0,2.0,0.0,3.0,6.0,12.0,15.0,7.0,12.0,12.0,9.0,8.0,1.0,5.0,2.0,3.0,5.0,4.0,3.0,1.0,298.0,297.0,230.0,64.0,1.0,0.0,0.0,2.0,1.0,230.0,3.0,3.04,111.0,111.0,98.0,13.0,98.0,77.0,21.0,98.0,16.0,9.0,7.0,82.0,80.0,57.0,27.0,30.0,23.0,4.0,0.0,4.0,19.0,10.0,9.0,2.0,2.0,0.0,47.0,11980.0
26,"Charlotte town, Tennessee",1600000US4713080,1153.0,1153.0,609.0,32.0,35.0,44.0,7.0,14.0,19.0,4.0,31.0,60.0,73.0,56.0,53.0,44.0,34.0,33.0,4.0,16.0,5.0,11.0,14.0,12.0,5.0,3.0,544.0,32.0,36.0,40.0,27.0,14.0,9.0,11.0,13.0,44.0,40.0,39.0,44.0,33.0,26.0,21.0,9.0,14.0,10.0,20.0,10.0,24.0,14.0,14.0,1153.0,1134.0,1001.0,123.0,4.0,2.0,1.0,3.0,19.0,994.0,14.0,2.50,413.0,413.0,395.0,18.0,395.0,287.0,108.0,395.0,106.0,42.0,64.0,289.0,272.0,206.0,87.0,119.0,66.0,19.0,8.0,11.0,47.0,24.0,23.0,17.0,12.0,5.0,47.0,13080.0
27,"Clarksville city, Tennessee",1600000US4715160,103455.0,103455.0,51950.0,4749.0,4477.0,4028.0,2142.0,1709.0,1134.0,1199.0,3514.0,5530.0,4756.0,4368.0,3684.0,2755.0,2201.0,1509.0,517.0,704.0,446.0,690.0,841.0,501.0,287.0,209.0,51505.0,4546.0,4112.0,3679.0,2072.0,1630.0,1004.0,1001.0,2883.0,5008.0,4373.0,4374.0,3802.0,2898.0,2294.0,1747.0,655.0,888.0,557.0,754.0,1061.0,934.0,627.0,606.0,103455.0,100044.0,70254.0,24030.0,560.0,2233.0,262.0,2705.0,3411.0,67562.0,6241.0,2.69,40041.0,40041.0,36969.0,3072.0,36969.0,21275.0,15694.0,36969.0,7792.0,3786.0,4006.0,29177.0,26965.0,20834.0,11139.0,9695.0,6131.0,1299.0,784.0,515.0,4832.0,3340.0,1492.0,2212.0,1453.0,759.0,47.0,15160.0
28,"Columbia city, Tennessee",1600000US4716540,33055.0,33055.0,15653.0,1269.0,1164.0,1216.0,801.0,450.0,239.0,223.0,632.0,1127.0,1052.0,1168.0,1221.0,1116.0,943.0,680.0,227.0,323.0,206.0,314.0,486.0,362.0,250.0,184.0,17402.0,1205.0,1086.0,1148.0,637.0,483.0,250.0,244.0,702.0,1105.0,1118.0,1305.0,1357.0,1154.0,1012.0,775.0,285.0,420.0,281.0,423.0,748.0,662.0,516.0,486.0,33055.0,32571.0,24669.0,6984.0,92.0,137.0,9.0,680.0,484.0,24049.0,1554.0,2.46,14322.0,14322.0,13059.0,1263.0,13059.0,8298.0,4761.0,13059.0,3634.0,1415.0,2219.0,9425.0,8807.0,6106.0,2665.0,3441.0,2701.0,568.0,271.0,297.0,2133.0,1293.0,840.0,618.0,363.0,255.0,47.0,16540.0

In [25]:
data.to_csv('../../data/SF12000.csv', index = False)