###### Imports and Settings

In [1]:
import pandas as pd
import numpy as np
import requests
#import io
import pickle
from collections import deque
from functools import reduce
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.width', 150)
pd.options.mode.chained_assignment = None  # default='warn'

# Comprehensive Plan Data Pull

In [2]:
#to read in... rb is read bite
with open('api_keys.pkl', 'rb') as keys_file:
        keys_dict_2 = pickle.load(keys_file)

In [3]:
#create a variable that contains your api key
api_key = keys_dict_2['CENSUS']

In [4]:
GNRC = ['111', #Macon
       '161', #Stewart
       '125', #Montgomery
       '083', #Houston
       '085', #Humphreys
       '043', #Dickson
       '021', #Cheatham
       '147', #Robertson
       '165', #Sumner
       '037', #Davidson
       '189', #Wilson
       '169', #Trousdale
       '187', #Williamson
       '149', #Rutherford
       '119'] #Maury
KY = ['003', #Allen
      '213'] #Simpson
qlaces = ['1600000US4702180', #Ashland City: Cheatham
          '1600000US4739660', #Kingston Springs: Cheatham
          '1600000US4757480', #Pegram: Cheatham
          '1600000US4759560', #Pleasant View: Cheatham
          '1600000US4704620', #Belle Meade: Davidson
          '1600000US4705140', #Berry Hill: Davidson
          '1600000US4727020', #Forest Hills: Davidson
          '1600000US4729920', #Goodlettsville: Davidson/Sumner
          '1600000US4752006', #Nashville-Davidson metropolitan government (balance): Davidson
          '1600000US4754780', #Oak Hill: Davidson
          '1600000US4763140', #Ridgetop: Davidson/Robertson
          '1600000US4709880', #Burns: Dickson
          '1600000US4713080', #Charlotte: Dickson
          '1600000US4720620', #Dickson: Dickson
          '1600000US4769080', #Slayden: Dickson
          '1600000US4776860', #Vanleer: Dickson
          '1600000US4779980', #White Bluff: Dickson
          '1600000US4724320', #Erin: Houston
          '1600000US4773460', #Tennessee Ridge: Houston/Stewart
          '1600000US4744840', #McEwen: Humphreys
          '1600000US4752820', #New Johnsonville: Humphreys
          '1600000US4778560', #Waverly: Humphreys
          '1600000US4716540', #Columbia: Maury
          '1600000US4751080', #Mount Pleasant: Maury
          '1600000US4770580', #Spring Hill: Maury/Williamson
          '1600000US4715160', #Clarksville: Montgomery
          '1600000US4700200', #Adams: Robertson
          '1600000US4711980', #Cedar Hill: Robertson
          '1600000US4716980', #Coopertown: Robertson
          '1600000US4718420', #Cross Plains: Robertson
          '1600000US4730960', #Greenbrier: Robertson
          '1600000US4748980', #Millersville: Robertson/Sumner
          '1600000US4760280', #Portland: Robertson/Sumner
          '1600000US4770500', #Springfield: Robertson
          '1600000US4780200', #White House: Robertson/Sumner
          '1600000US4722360', #Eagleville: Rutherford
          '1600000US4741200', #La Vergne: Rutherford
          '1600000US4751560', #Murfreesboro: Rutherford
          '1600000US4769420', #Smyrna: Rutherford
          '1600000US4718820', #Cumberland City: Stewart
          '1600000US4721400', #Dover: Stewart
          '1600000US4728540', #Gallatin: Sumner
          '1600000US4733280', #Hendersonville: Sumner
          '1600000US4779420', #Westmoreland: Sumner
          '1600000US4708280', #Brentwood: Williamson
          '1600000US4725440', #Fairview: Williamson
          '1600000US4727740', #Franklin: Williamson
          '1600000US4753460', #Nolensville: Williamson
          '1600000US4773900', #Thompson's Station: Williamson
          '1600000US4741520', #Lebanon: Wilson
          '1600000US4750780', #Mount Juliet: Wilson
          '1600000US4778320', #Watertown: Wilson
          '1600000US4740160', #Lafayette: Macon
          '1600000US2169114', #Scottsville city, Kentucky
          '1600000US2128918', #Franklin city, Kentucky
          '1600000US4749460'] #Mitchelville city: Sumner

## Read In Data Guide

The "head" should never be more than 2 variables, and the "tail" never more than 2. Since we can pull 50 variables at once this means that we can systematically program in 46 variables for each pull, so that's:
+ dg1: ID's 1 - 46  
+ dg2: ID's 47-92  
+ dg3: ID's 93-138  
+ dg4: ID's 139-184  
+ dg5: ID's 185-230  
+ dg6: ID's 231-276  
+ dg7: ID's 277-322  
+ dg8: ID's 323-368  
+ dg9: ID's 369-414  
+ dg10: ID's 415-460  
+ dg11: ID's 461-506  
+ dg12: ID's 507-552  
+ dg13: ID's 553-598  
+ dg14: ID's 599-644   
**This data guide stops at ID 585 as of 7/8/2022.**

### SF3

In [5]:
dataguide = pd.read_csv('../../data guides/DATA GUIDE SF3.csv', dtype = str)
dataguide['ID'] = dataguide['ID'].astype(int)

In [6]:
dg1 = dataguide[dataguide['ID'].between(1, 46)]
dg2 = dataguide[dataguide['ID'].between(47, 92)]
dg3 = dataguide[dataguide['ID'].between(93, 138)]
dg4 = dataguide[dataguide['ID'].between(139, 184)]
dg5 = dataguide[dataguide['ID'].between(185, 230)]
dg6 = dataguide[dataguide['ID'].between(231, 276)]
dg7 = dataguide[dataguide['ID'].between(277, 322)]
dg8 = dataguide[dataguide['ID'].between(323, 368)]
dg9 = dataguide[dataguide['ID'].between(369, 414)]
dg10 = dataguide[dataguide['ID'].between(415, 460)]
dg11 = dataguide[dataguide['ID'].between(461, 506)]
dg12 = dataguide[dataguide['ID'].between(507, 552)]
dg13 = dataguide[dataguide['ID'].between(553, 598)]
dg14 = dataguide[dataguide['ID'].between(599, 644)]
dg15 = dataguide[dataguide['ID'].between(645, 690)]
dg16 = dataguide[dataguide['ID'].between(691, 736)]
dg17 = dataguide[dataguide['ID'].between(737, 782)]

dg18 = dataguide[dataguide['ID'].between(783, 828)]

dg19 = dataguide[dataguide['ID'].between(829, 874)]

dg20 = dataguide[dataguide['ID'].between(875, 920)]
dg21 = dataguide[dataguide['ID'].between(921, 966)]
dg22 = dataguide[dataguide['ID'].between(967, 1012)]
dg23 = dataguide[dataguide['ID'].between(1013, 1058)]
dg24 = dataguide[dataguide['ID'].between(1059, 1104)]
dg25 = dataguide[dataguide['ID'].between(1105, 1150)]
dg26 = dataguide[dataguide['ID'].between(1151, 1196)]
dg27 = dataguide[dataguide['ID'].between(1197, 1242)]
dg28 = dataguide[dataguide['ID'].between(1243, 1287)]
dg29 = dataguide[dataguide['ID'].between(1288, 1332)]
dg30 = dataguide[dataguide['ID'].between(1333, 1377)]
dg31 = dataguide[dataguide['ID'].between(1378, 1422)]
dg32 = dataguide[dataguide['ID'].between(1423, 1467)]
dg33 = dataguide[dataguide['ID'].between(1468, 1512)]
dg34 = dataguide[dataguide['ID'].between(1513, 1557)]
dg35 = dataguide[dataguide['ID'].between(1558, 1602)]
dg36 = dataguide[dataguide['ID'].between(1603, 1647)]
dg37 = dataguide[dataguide['ID'].between(1648, 1692)]

In [7]:
#url string and list parameters for column head and tail
url_str= 'https://api.census.gov/data/2000/dec/sf3?key='+api_key
head1 = 'NAME' 
head2 = 'GEO_ID'
tail_cols1 = 'StateFIPS'
tail_cols2 = 'GeoFIPS'

In [8]:
dataguide = dg1
var_list = list(dataguide['SF3 Variable']) #make variables list
var_list = deque(var_list)
var_list.appendleft(head2)
var_list.appendleft(head1)
col_list = list(dataguide['Column Name']) #make columns list
col_list.append(tail_cols1)
col_list.append(tail_cols2)
col_list = deque(col_list)
col_list.appendleft(head2)
col_list.appendleft(head1)
predicates= {} #call for all counties in state of TN
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "county:*"
predicates["in"]= "state:47"                                                             
data = requests.get(url_str, params= predicates)                                                                
col_names = col_list
df = pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
df = df.loc[df['GeoFIPS'].isin(GNRC)] #filter for counties in the region
predicates= {} #call for all counties in state of KY
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "county:*"
predicates["in"]= "state:21"                                                             
data = requests.get(url_str, params= predicates)                                                                
col_names = col_list
kycos = pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
kycos = kycos.loc[kycos['GeoFIPS'].isin(KY)] #filter for counties of concern in KY
df = df.append(kycos).reset_index(drop = True)
predicates= {} #call for all places in TN
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "place:*"
predicates["in"]= "state:47"
data= requests.get(url_str, params= predicates)
col_names = col_list
places=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
places=places.loc[places['GEO_ID'].isin(qlaces)] #filter for places in the region
df = df.append(places).reset_index(drop = True)
predicates= {} #call for all places in KY
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "place:*"
predicates["in"]= "state:21"
data= requests.get(url_str, params= predicates)
col_names = col_list
places=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
places=places.loc[places['GEO_ID'].isin(qlaces)] #filter for places of concern in KY
df = df.append(places).reset_index(drop = True)
col_list.remove(tail_cols2) #adjust the column list for different formats of geos
predicates= {} #call for state of TN
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "state:47"
data= requests.get(url_str, params= predicates)
col_names = col_list
state=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
state['GeoFIPS'] = '0' #fill in the blank GeoFIPS column
df = df.append(state, ignore_index = True)
predicates= {} #call for US
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "us:*"
data= requests.get(url_str, params= predicates)
col_names = col_list
national=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
national['GeoFIPS'] = '0' #fill in the blank GeoFIPS column
df = df.append(national, ignore_index = True)
savename = df
print('Okay Finished')

Okay Finished

In [9]:
first = savename

In [11]:
dataguide = dg2
var_list = list(dataguide['SF3 Variable']) #make variables list
var_list = deque(var_list)
var_list.appendleft(head2)
var_list.appendleft(head1)
col_list = list(dataguide['Column Name']) #make columns list
col_list.append(tail_cols1)
col_list.append(tail_cols2)
col_list = deque(col_list)
col_list.appendleft(head2)
col_list.appendleft(head1)
predicates= {} #call for all counties in state of TN
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "county:*"
predicates["in"]= "state:47"                                                             
data = requests.get(url_str, params= predicates)                                                                
col_names = col_list
df = pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
df = df.loc[df['GeoFIPS'].isin(GNRC)] #filter for counties in the region
predicates= {} #call for all counties in state of KY
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "county:*"
predicates["in"]= "state:21"                                                             
data = requests.get(url_str, params= predicates)                                                                
col_names = col_list
kycos = pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
kycos = kycos.loc[kycos['GeoFIPS'].isin(KY)] #filter for counties of concern in KY
df = df.append(kycos).reset_index(drop = True)
predicates= {} #call for all places in TN
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "place:*"
predicates["in"]= "state:47"
data= requests.get(url_str, params= predicates)
col_names = col_list
places=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
places=places.loc[places['GEO_ID'].isin(qlaces)] #filter for places in the region
df = df.append(places).reset_index(drop = True)
predicates= {} #call for all places in KY
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "place:*"
predicates["in"]= "state:21"
data= requests.get(url_str, params= predicates)
col_names = col_list
places=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
places=places.loc[places['GEO_ID'].isin(qlaces)] #filter for places of concern in KY
df = df.append(places).reset_index(drop = True)
col_list.remove(tail_cols2) #adjust the column list for different formats of geos
predicates= {} #call for state of TN
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "state:47"
data= requests.get(url_str, params= predicates)
col_names = col_list
state=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
state['GeoFIPS'] = '0' #fill in the blank GeoFIPS column
df = df.append(state, ignore_index = True)
predicates= {} #call for US
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "us:*"
data= requests.get(url_str, params= predicates)
col_names = col_list
national=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
national['GeoFIPS'] = '0' #fill in the blank GeoFIPS column
df = df.append(national, ignore_index = True)
savename = df
print('Okay Finished')

Okay Finished

In [12]:
two = savename

In [13]:
dataguide = dg3
var_list = list(dataguide['SF3 Variable']) #make variables list
var_list = deque(var_list)
var_list.appendleft(head2)
var_list.appendleft(head1)
col_list = list(dataguide['Column Name']) #make columns list
col_list.append(tail_cols1)
col_list.append(tail_cols2)
col_list = deque(col_list)
col_list.appendleft(head2)
col_list.appendleft(head1)
predicates= {} #call for all counties in state of TN
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "county:*"
predicates["in"]= "state:47"                                                             
data = requests.get(url_str, params= predicates)                                                                
col_names = col_list
df = pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
df = df.loc[df['GeoFIPS'].isin(GNRC)] #filter for counties in the region
predicates= {} #call for all counties in state of KY
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "county:*"
predicates["in"]= "state:21"                                                             
data = requests.get(url_str, params= predicates)                                                                
col_names = col_list
kycos = pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
kycos = kycos.loc[kycos['GeoFIPS'].isin(KY)] #filter for counties of concern in KY
df = df.append(kycos).reset_index(drop = True)
predicates= {} #call for all places in TN
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "place:*"
predicates["in"]= "state:47"
data= requests.get(url_str, params= predicates)
col_names = col_list
places=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
places=places.loc[places['GEO_ID'].isin(qlaces)] #filter for places in the region
df = df.append(places).reset_index(drop = True)
predicates= {} #call for all places in KY
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "place:*"
predicates["in"]= "state:21"
data= requests.get(url_str, params= predicates)
col_names = col_list
places=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
places=places.loc[places['GEO_ID'].isin(qlaces)] #filter for places of concern in KY
df = df.append(places).reset_index(drop = True)
col_list.remove(tail_cols2) #adjust the column list for different formats of geos
predicates= {} #call for state of TN
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "state:47"
data= requests.get(url_str, params= predicates)
col_names = col_list
state=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
state['GeoFIPS'] = '0' #fill in the blank GeoFIPS column
df = df.append(state, ignore_index = True)
predicates= {} #call for US
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "us:*"
data= requests.get(url_str, params= predicates)
col_names = col_list
national=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
national['GeoFIPS'] = '0' #fill in the blank GeoFIPS column
df = df.append(national, ignore_index = True)
savename = df
print('Okay Finished')

Okay Finished

In [14]:
three = savename

In [15]:
dataguide = dg4
var_list = list(dataguide['SF3 Variable']) #make variables list
var_list = deque(var_list)
var_list.appendleft(head2)
var_list.appendleft(head1)
col_list = list(dataguide['Column Name']) #make columns list
col_list.append(tail_cols1)
col_list.append(tail_cols2)
col_list = deque(col_list)
col_list.appendleft(head2)
col_list.appendleft(head1)
predicates= {} #call for all counties in state of TN
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "county:*"
predicates["in"]= "state:47"                                                             
data = requests.get(url_str, params= predicates)                                                                
col_names = col_list
df = pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
df = df.loc[df['GeoFIPS'].isin(GNRC)] #filter for counties in the region
predicates= {} #call for all counties in state of KY
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "county:*"
predicates["in"]= "state:21"                                                             
data = requests.get(url_str, params= predicates)                                                                
col_names = col_list
kycos = pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
kycos = kycos.loc[kycos['GeoFIPS'].isin(KY)] #filter for counties of concern in KY
df = df.append(kycos).reset_index(drop = True)
predicates= {} #call for all places in TN
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "place:*"
predicates["in"]= "state:47"
data= requests.get(url_str, params= predicates)
col_names = col_list
places=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
places=places.loc[places['GEO_ID'].isin(qlaces)] #filter for places in the region
df = df.append(places).reset_index(drop = True)
predicates= {} #call for all places in KY
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "place:*"
predicates["in"]= "state:21"
data= requests.get(url_str, params= predicates)
col_names = col_list
places=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
places=places.loc[places['GEO_ID'].isin(qlaces)] #filter for places of concern in KY
df = df.append(places).reset_index(drop = True)
col_list.remove(tail_cols2) #adjust the column list for different formats of geos
predicates= {} #call for state of TN
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "state:47"
data= requests.get(url_str, params= predicates)
col_names = col_list
state=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
state['GeoFIPS'] = '0' #fill in the blank GeoFIPS column
df = df.append(state, ignore_index = True)
predicates= {} #call for US
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "us:*"
data= requests.get(url_str, params= predicates)
col_names = col_list
national=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
national['GeoFIPS'] = '0' #fill in the blank GeoFIPS column
df = df.append(national, ignore_index = True)
savename = df
print('Okay Finished')

Okay Finished

In [16]:
four = savename

In [17]:
dataguide = dg5
var_list = list(dataguide['SF3 Variable']) #make variables list
var_list = deque(var_list)
var_list.appendleft(head2)
var_list.appendleft(head1)
col_list = list(dataguide['Column Name']) #make columns list
col_list.append(tail_cols1)
col_list.append(tail_cols2)
col_list = deque(col_list)
col_list.appendleft(head2)
col_list.appendleft(head1)
predicates= {} #call for all counties in state of TN
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "county:*"
predicates["in"]= "state:47"                                                             
data = requests.get(url_str, params= predicates)                                                                
col_names = col_list
df = pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
df = df.loc[df['GeoFIPS'].isin(GNRC)] #filter for counties in the region
predicates= {} #call for all counties in state of KY
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "county:*"
predicates["in"]= "state:21"                                                             
data = requests.get(url_str, params= predicates)                                                                
col_names = col_list
kycos = pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
kycos = kycos.loc[kycos['GeoFIPS'].isin(KY)] #filter for counties of concern in KY
df = df.append(kycos).reset_index(drop = True)
predicates= {} #call for all places in TN
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "place:*"
predicates["in"]= "state:47"
data= requests.get(url_str, params= predicates)
col_names = col_list
places=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
places=places.loc[places['GEO_ID'].isin(qlaces)] #filter for places in the region
df = df.append(places).reset_index(drop = True)
predicates= {} #call for all places in KY
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "place:*"
predicates["in"]= "state:21"
data= requests.get(url_str, params= predicates)
col_names = col_list
places=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
places=places.loc[places['GEO_ID'].isin(qlaces)] #filter for places of concern in KY
df = df.append(places).reset_index(drop = True)
col_list.remove(tail_cols2) #adjust the column list for different formats of geos
predicates= {} #call for state of TN
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "state:47"
data= requests.get(url_str, params= predicates)
col_names = col_list
state=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
state['GeoFIPS'] = '0' #fill in the blank GeoFIPS column
df = df.append(state, ignore_index = True)
predicates= {} #call for US
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "us:*"
data= requests.get(url_str, params= predicates)
col_names = col_list
national=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
national['GeoFIPS'] = '0' #fill in the blank GeoFIPS column
df = df.append(national, ignore_index = True)
savename = df
print('Okay Finished')

Okay Finished

In [18]:
five = savename

In [19]:
dataguide = dg6
var_list = list(dataguide['SF3 Variable']) #make variables list
var_list = deque(var_list)
var_list.appendleft(head2)
var_list.appendleft(head1)
col_list = list(dataguide['Column Name']) #make columns list
col_list.append(tail_cols1)
col_list.append(tail_cols2)
col_list = deque(col_list)
col_list.appendleft(head2)
col_list.appendleft(head1)
predicates= {} #call for all counties in state of TN
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "county:*"
predicates["in"]= "state:47"                                                             
data = requests.get(url_str, params= predicates)                                                                
col_names = col_list
df = pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
df = df.loc[df['GeoFIPS'].isin(GNRC)] #filter for counties in the region
predicates= {} #call for all counties in state of KY
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "county:*"
predicates["in"]= "state:21"                                                             
data = requests.get(url_str, params= predicates)                                                                
col_names = col_list
kycos = pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
kycos = kycos.loc[kycos['GeoFIPS'].isin(KY)] #filter for counties of concern in KY
df = df.append(kycos).reset_index(drop = True)
predicates= {} #call for all places in TN
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "place:*"
predicates["in"]= "state:47"
data= requests.get(url_str, params= predicates)
col_names = col_list
places=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
places=places.loc[places['GEO_ID'].isin(qlaces)] #filter for places in the region
df = df.append(places).reset_index(drop = True)
predicates= {} #call for all places in KY
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "place:*"
predicates["in"]= "state:21"
data= requests.get(url_str, params= predicates)
col_names = col_list
places=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
places=places.loc[places['GEO_ID'].isin(qlaces)] #filter for places of concern in KY
df = df.append(places).reset_index(drop = True)
col_list.remove(tail_cols2) #adjust the column list for different formats of geos
predicates= {} #call for state of TN
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "state:47"
data= requests.get(url_str, params= predicates)
col_names = col_list
state=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
state['GeoFIPS'] = '0' #fill in the blank GeoFIPS column
df = df.append(state, ignore_index = True)
predicates= {} #call for US
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "us:*"
data= requests.get(url_str, params= predicates)
col_names = col_list
national=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
national['GeoFIPS'] = '0' #fill in the blank GeoFIPS column
df = df.append(national, ignore_index = True)
savename = df
print('Okay Finished')

Okay Finished

In [20]:
six = savename

In [21]:
dataguide = dg7
var_list = list(dataguide['SF3 Variable']) #make variables list
var_list = deque(var_list)
var_list.appendleft(head2)
var_list.appendleft(head1)
col_list = list(dataguide['Column Name']) #make columns list
col_list.append(tail_cols1)
col_list.append(tail_cols2)
col_list = deque(col_list)
col_list.appendleft(head2)
col_list.appendleft(head1)
predicates= {} #call for all counties in state of TN
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "county:*"
predicates["in"]= "state:47"                                                             
data = requests.get(url_str, params= predicates)                                                                
col_names = col_list
df = pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
df = df.loc[df['GeoFIPS'].isin(GNRC)] #filter for counties in the region
predicates= {} #call for all counties in state of KY
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "county:*"
predicates["in"]= "state:21"                                                             
data = requests.get(url_str, params= predicates)                                                                
col_names = col_list
kycos = pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
kycos = kycos.loc[kycos['GeoFIPS'].isin(KY)] #filter for counties of concern in KY
df = df.append(kycos).reset_index(drop = True)
predicates= {} #call for all places in TN
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "place:*"
predicates["in"]= "state:47"
data= requests.get(url_str, params= predicates)
col_names = col_list
places=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
places=places.loc[places['GEO_ID'].isin(qlaces)] #filter for places in the region
df = df.append(places).reset_index(drop = True)
predicates= {} #call for all places in KY
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "place:*"
predicates["in"]= "state:21"
data= requests.get(url_str, params= predicates)
col_names = col_list
places=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
places=places.loc[places['GEO_ID'].isin(qlaces)] #filter for places of concern in KY
df = df.append(places).reset_index(drop = True)
col_list.remove(tail_cols2) #adjust the column list for different formats of geos
predicates= {} #call for state of TN
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "state:47"
data= requests.get(url_str, params= predicates)
col_names = col_list
state=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
state['GeoFIPS'] = '0' #fill in the blank GeoFIPS column
df = df.append(state, ignore_index = True)
predicates= {} #call for US
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "us:*"
data= requests.get(url_str, params= predicates)
col_names = col_list
national=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
national['GeoFIPS'] = '0' #fill in the blank GeoFIPS column
df = df.append(national, ignore_index = True)
savename = df
print('Okay Finished')

Okay Finished

In [22]:
seven = savename

In [23]:
dataguide = dg8
var_list = list(dataguide['SF3 Variable']) #make variables list
var_list = deque(var_list)
var_list.appendleft(head2)
var_list.appendleft(head1)
col_list = list(dataguide['Column Name']) #make columns list
col_list.append(tail_cols1)
col_list.append(tail_cols2)
col_list = deque(col_list)
col_list.appendleft(head2)
col_list.appendleft(head1)
predicates= {} #call for all counties in state of TN
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "county:*"
predicates["in"]= "state:47"                                                             
data = requests.get(url_str, params= predicates)                                                                
col_names = col_list
df = pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
df = df.loc[df['GeoFIPS'].isin(GNRC)] #filter for counties in the region
predicates= {} #call for all counties in state of KY
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "county:*"
predicates["in"]= "state:21"                                                             
data = requests.get(url_str, params= predicates)                                                                
col_names = col_list
kycos = pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
kycos = kycos.loc[kycos['GeoFIPS'].isin(KY)] #filter for counties of concern in KY
df = df.append(kycos).reset_index(drop = True)
predicates= {} #call for all places in TN
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "place:*"
predicates["in"]= "state:47"
data= requests.get(url_str, params= predicates)
col_names = col_list
places=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
places=places.loc[places['GEO_ID'].isin(qlaces)] #filter for places in the region
df = df.append(places).reset_index(drop = True)
predicates= {} #call for all places in KY
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "place:*"
predicates["in"]= "state:21"
data= requests.get(url_str, params= predicates)
col_names = col_list
places=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
places=places.loc[places['GEO_ID'].isin(qlaces)] #filter for places of concern in KY
df = df.append(places).reset_index(drop = True)
col_list.remove(tail_cols2) #adjust the column list for different formats of geos
predicates= {} #call for state of TN
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "state:47"
data= requests.get(url_str, params= predicates)
col_names = col_list
state=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
state['GeoFIPS'] = '0' #fill in the blank GeoFIPS column
df = df.append(state, ignore_index = True)
predicates= {} #call for US
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "us:*"
data= requests.get(url_str, params= predicates)
col_names = col_list
national=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
national['GeoFIPS'] = '0' #fill in the blank GeoFIPS column
df = df.append(national, ignore_index = True)
savename = df
print('Okay Finished')

Okay Finished

In [24]:
eight = savename

In [25]:
dataguide = dg9
var_list = list(dataguide['SF3 Variable']) #make variables list
var_list = deque(var_list)
var_list.appendleft(head2)
var_list.appendleft(head1)
col_list = list(dataguide['Column Name']) #make columns list
col_list.append(tail_cols1)
col_list.append(tail_cols2)
col_list = deque(col_list)
col_list.appendleft(head2)
col_list.appendleft(head1)
predicates= {} #call for all counties in state of TN
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "county:*"
predicates["in"]= "state:47"                                                             
data = requests.get(url_str, params= predicates)                                                                
col_names = col_list
df = pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
df = df.loc[df['GeoFIPS'].isin(GNRC)] #filter for counties in the region
predicates= {} #call for all counties in state of KY
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "county:*"
predicates["in"]= "state:21"                                                             
data = requests.get(url_str, params= predicates)                                                                
col_names = col_list
kycos = pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
kycos = kycos.loc[kycos['GeoFIPS'].isin(KY)] #filter for counties of concern in KY
df = df.append(kycos).reset_index(drop = True)
predicates= {} #call for all places in TN
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "place:*"
predicates["in"]= "state:47"
data= requests.get(url_str, params= predicates)
col_names = col_list
places=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
places=places.loc[places['GEO_ID'].isin(qlaces)] #filter for places in the region
df = df.append(places).reset_index(drop = True)
predicates= {} #call for all places in KY
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "place:*"
predicates["in"]= "state:21"
data= requests.get(url_str, params= predicates)
col_names = col_list
places=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
places=places.loc[places['GEO_ID'].isin(qlaces)] #filter for places of concern in KY
df = df.append(places).reset_index(drop = True)
col_list.remove(tail_cols2) #adjust the column list for different formats of geos
predicates= {} #call for state of TN
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "state:47"
data= requests.get(url_str, params= predicates)
col_names = col_list
state=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
state['GeoFIPS'] = '0' #fill in the blank GeoFIPS column
df = df.append(state, ignore_index = True)
predicates= {} #call for US
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "us:*"
data= requests.get(url_str, params= predicates)
col_names = col_list
national=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
national['GeoFIPS'] = '0' #fill in the blank GeoFIPS column
df = df.append(national, ignore_index = True)
savename = df
print('Okay Finished')

Okay Finished

In [26]:
nine = savename

In [27]:
dataguide = dg10
var_list = list(dataguide['SF3 Variable']) #make variables list
var_list = deque(var_list)
var_list.appendleft(head2)
var_list.appendleft(head1)
col_list = list(dataguide['Column Name']) #make columns list
col_list.append(tail_cols1)
col_list.append(tail_cols2)
col_list = deque(col_list)
col_list.appendleft(head2)
col_list.appendleft(head1)
predicates= {} #call for all counties in state of TN
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "county:*"
predicates["in"]= "state:47"                                                             
data = requests.get(url_str, params= predicates)                                                                
col_names = col_list
df = pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
df = df.loc[df['GeoFIPS'].isin(GNRC)] #filter for counties in the region
predicates= {} #call for all counties in state of KY
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "county:*"
predicates["in"]= "state:21"                                                             
data = requests.get(url_str, params= predicates)                                                                
col_names = col_list
kycos = pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
kycos = kycos.loc[kycos['GeoFIPS'].isin(KY)] #filter for counties of concern in KY
df = df.append(kycos).reset_index(drop = True)
predicates= {} #call for all places in TN
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "place:*"
predicates["in"]= "state:47"
data= requests.get(url_str, params= predicates)
col_names = col_list
places=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
places=places.loc[places['GEO_ID'].isin(qlaces)] #filter for places in the region
df = df.append(places).reset_index(drop = True)
predicates= {} #call for all places in KY
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "place:*"
predicates["in"]= "state:21"
data= requests.get(url_str, params= predicates)
col_names = col_list
places=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
places=places.loc[places['GEO_ID'].isin(qlaces)] #filter for places of concern in KY
df = df.append(places).reset_index(drop = True)
col_list.remove(tail_cols2) #adjust the column list for different formats of geos
predicates= {} #call for state of TN
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "state:47"
data= requests.get(url_str, params= predicates)
col_names = col_list
state=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
state['GeoFIPS'] = '0' #fill in the blank GeoFIPS column
df = df.append(state, ignore_index = True)
predicates= {} #call for US
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "us:*"
data= requests.get(url_str, params= predicates)
col_names = col_list
national=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
national['GeoFIPS'] = '0' #fill in the blank GeoFIPS column
df = df.append(national, ignore_index = True)
savename = df
print('Okay Finished')

Okay Finished

In [28]:
ten = savename

In [29]:
dataguide = dg11
var_list = list(dataguide['SF3 Variable']) #make variables list
var_list = deque(var_list)
var_list.appendleft(head2)
var_list.appendleft(head1)
col_list = list(dataguide['Column Name']) #make columns list
col_list.append(tail_cols1)
col_list.append(tail_cols2)
col_list = deque(col_list)
col_list.appendleft(head2)
col_list.appendleft(head1)
predicates= {} #call for all counties in state of TN
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "county:*"
predicates["in"]= "state:47"                                                             
data = requests.get(url_str, params= predicates)                                                                
col_names = col_list
df = pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
df = df.loc[df['GeoFIPS'].isin(GNRC)] #filter for counties in the region
predicates= {} #call for all counties in state of KY
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "county:*"
predicates["in"]= "state:21"                                                             
data = requests.get(url_str, params= predicates)                                                                
col_names = col_list
kycos = pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
kycos = kycos.loc[kycos['GeoFIPS'].isin(KY)] #filter for counties of concern in KY
df = df.append(kycos).reset_index(drop = True)
predicates= {} #call for all places in TN
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "place:*"
predicates["in"]= "state:47"
data= requests.get(url_str, params= predicates)
col_names = col_list
places=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
places=places.loc[places['GEO_ID'].isin(qlaces)] #filter for places in the region
df = df.append(places).reset_index(drop = True)
predicates= {} #call for all places in KY
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "place:*"
predicates["in"]= "state:21"
data= requests.get(url_str, params= predicates)
col_names = col_list
places=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
places=places.loc[places['GEO_ID'].isin(qlaces)] #filter for places of concern in KY
df = df.append(places).reset_index(drop = True)
col_list.remove(tail_cols2) #adjust the column list for different formats of geos
predicates= {} #call for state of TN
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "state:47"
data= requests.get(url_str, params= predicates)
col_names = col_list
state=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
state['GeoFIPS'] = '0' #fill in the blank GeoFIPS column
df = df.append(state, ignore_index = True)
predicates= {} #call for US
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "us:*"
data= requests.get(url_str, params= predicates)
col_names = col_list
national=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
national['GeoFIPS'] = '0' #fill in the blank GeoFIPS column
df = df.append(national, ignore_index = True)
savename = df
print('Okay Finished')

Okay Finished

In [30]:
eleven = savename

In [31]:
dataguide = dg12
var_list = list(dataguide['SF3 Variable']) #make variables list
var_list = deque(var_list)
var_list.appendleft(head2)
var_list.appendleft(head1)
col_list = list(dataguide['Column Name']) #make columns list
col_list.append(tail_cols1)
col_list.append(tail_cols2)
col_list = deque(col_list)
col_list.appendleft(head2)
col_list.appendleft(head1)
predicates= {} #call for all counties in state of TN
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "county:*"
predicates["in"]= "state:47"                                                             
data = requests.get(url_str, params= predicates)                                                                
col_names = col_list
df = pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
df = df.loc[df['GeoFIPS'].isin(GNRC)] #filter for counties in the region
predicates= {} #call for all counties in state of KY
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "county:*"
predicates["in"]= "state:21"                                                             
data = requests.get(url_str, params= predicates)                                                                
col_names = col_list
kycos = pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
kycos = kycos.loc[kycos['GeoFIPS'].isin(KY)] #filter for counties of concern in KY
df = df.append(kycos).reset_index(drop = True)
predicates= {} #call for all places in TN
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "place:*"
predicates["in"]= "state:47"
data= requests.get(url_str, params= predicates)
col_names = col_list
places=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
places=places.loc[places['GEO_ID'].isin(qlaces)] #filter for places in the region
df = df.append(places).reset_index(drop = True)
predicates= {} #call for all places in KY
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "place:*"
predicates["in"]= "state:21"
data= requests.get(url_str, params= predicates)
col_names = col_list
places=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
places=places.loc[places['GEO_ID'].isin(qlaces)] #filter for places of concern in KY
df = df.append(places).reset_index(drop = True)
col_list.remove(tail_cols2) #adjust the column list for different formats of geos
predicates= {} #call for state of TN
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "state:47"
data= requests.get(url_str, params= predicates)
col_names = col_list
state=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
state['GeoFIPS'] = '0' #fill in the blank GeoFIPS column
df = df.append(state, ignore_index = True)
predicates= {} #call for US
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "us:*"
data= requests.get(url_str, params= predicates)
col_names = col_list
national=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
national['GeoFIPS'] = '0' #fill in the blank GeoFIPS column
df = df.append(national, ignore_index = True)
savename = df
print('Okay Finished')

Okay Finished

In [32]:
twelve = savename

In [33]:
dataguide = dg13
var_list = list(dataguide['SF3 Variable']) #make variables list
var_list = deque(var_list)
var_list.appendleft(head2)
var_list.appendleft(head1)
col_list = list(dataguide['Column Name']) #make columns list
col_list.append(tail_cols1)
col_list.append(tail_cols2)
col_list = deque(col_list)
col_list.appendleft(head2)
col_list.appendleft(head1)
predicates= {} #call for all counties in state of TN
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "county:*"
predicates["in"]= "state:47"                                                             
data = requests.get(url_str, params= predicates)                                                                
col_names = col_list
df = pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
df = df.loc[df['GeoFIPS'].isin(GNRC)] #filter for counties in the region
predicates= {} #call for all counties in state of KY
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "county:*"
predicates["in"]= "state:21"                                                             
data = requests.get(url_str, params= predicates)                                                                
col_names = col_list
kycos = pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
kycos = kycos.loc[kycos['GeoFIPS'].isin(KY)] #filter for counties of concern in KY
df = df.append(kycos).reset_index(drop = True)
predicates= {} #call for all places in TN
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "place:*"
predicates["in"]= "state:47"
data= requests.get(url_str, params= predicates)
col_names = col_list
places=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
places=places.loc[places['GEO_ID'].isin(qlaces)] #filter for places in the region
df = df.append(places).reset_index(drop = True)
predicates= {} #call for all places in KY
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "place:*"
predicates["in"]= "state:21"
data= requests.get(url_str, params= predicates)
col_names = col_list
places=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
places=places.loc[places['GEO_ID'].isin(qlaces)] #filter for places of concern in KY
df = df.append(places).reset_index(drop = True)
col_list.remove(tail_cols2) #adjust the column list for different formats of geos
predicates= {} #call for state of TN
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "state:47"
data= requests.get(url_str, params= predicates)
col_names = col_list
state=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
state['GeoFIPS'] = '0' #fill in the blank GeoFIPS column
df = df.append(state, ignore_index = True)
predicates= {} #call for US
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "us:*"
data= requests.get(url_str, params= predicates)
col_names = col_list
national=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
national['GeoFIPS'] = '0' #fill in the blank GeoFIPS column
df = df.append(national, ignore_index = True)
savename = df
print('Okay Finished')

Okay Finished

In [34]:
thirteen = savename

In [35]:
dataguide = dg14
var_list = list(dataguide['SF3 Variable']) #make variables list
var_list = deque(var_list)
var_list.appendleft(head2)
var_list.appendleft(head1)
col_list = list(dataguide['Column Name']) #make columns list
col_list.append(tail_cols1)
col_list.append(tail_cols2)
col_list = deque(col_list)
col_list.appendleft(head2)
col_list.appendleft(head1)
predicates= {} #call for all counties in state of TN
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "county:*"
predicates["in"]= "state:47"                                                             
data = requests.get(url_str, params= predicates)                                                                
col_names = col_list
df = pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
df = df.loc[df['GeoFIPS'].isin(GNRC)] #filter for counties in the region
predicates= {} #call for all counties in state of KY
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "county:*"
predicates["in"]= "state:21"                                                             
data = requests.get(url_str, params= predicates)                                                                
col_names = col_list
kycos = pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
kycos = kycos.loc[kycos['GeoFIPS'].isin(KY)] #filter for counties of concern in KY
df = df.append(kycos).reset_index(drop = True)
predicates= {} #call for all places in TN
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "place:*"
predicates["in"]= "state:47"
data= requests.get(url_str, params= predicates)
col_names = col_list
places=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
places=places.loc[places['GEO_ID'].isin(qlaces)] #filter for places in the region
df = df.append(places).reset_index(drop = True)
predicates= {} #call for all places in KY
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "place:*"
predicates["in"]= "state:21"
data= requests.get(url_str, params= predicates)
col_names = col_list
places=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
places=places.loc[places['GEO_ID'].isin(qlaces)] #filter for places of concern in KY
df = df.append(places).reset_index(drop = True)
col_list.remove(tail_cols2) #adjust the column list for different formats of geos
predicates= {} #call for state of TN
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "state:47"
data= requests.get(url_str, params= predicates)
col_names = col_list
state=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
state['GeoFIPS'] = '0' #fill in the blank GeoFIPS column
df = df.append(state, ignore_index = True)
predicates= {} #call for US
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "us:*"
data= requests.get(url_str, params= predicates)
col_names = col_list
national=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
national['GeoFIPS'] = '0' #fill in the blank GeoFIPS column
df = df.append(national, ignore_index = True)
savename = df
print('Okay Finished')

Okay Finished

In [36]:
fourteen = savename

In [37]:
dataguide = dg15
var_list = list(dataguide['SF3 Variable']) #make variables list
var_list = deque(var_list)
var_list.appendleft(head2)
var_list.appendleft(head1)
col_list = list(dataguide['Column Name']) #make columns list
col_list.append(tail_cols1)
col_list.append(tail_cols2)
col_list = deque(col_list)
col_list.appendleft(head2)
col_list.appendleft(head1)
predicates= {} #call for all counties in state of TN
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "county:*"
predicates["in"]= "state:47"                                                             
data = requests.get(url_str, params= predicates)                                                                
col_names = col_list
df = pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
df = df.loc[df['GeoFIPS'].isin(GNRC)] #filter for counties in the region
predicates= {} #call for all counties in state of KY
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "county:*"
predicates["in"]= "state:21"                                                             
data = requests.get(url_str, params= predicates)                                                                
col_names = col_list
kycos = pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
kycos = kycos.loc[kycos['GeoFIPS'].isin(KY)] #filter for counties of concern in KY
df = df.append(kycos).reset_index(drop = True)
predicates= {} #call for all places in TN
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "place:*"
predicates["in"]= "state:47"
data= requests.get(url_str, params= predicates)
col_names = col_list
places=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
places=places.loc[places['GEO_ID'].isin(qlaces)] #filter for places in the region
df = df.append(places).reset_index(drop = True)
predicates= {} #call for all places in KY
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "place:*"
predicates["in"]= "state:21"
data= requests.get(url_str, params= predicates)
col_names = col_list
places=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
places=places.loc[places['GEO_ID'].isin(qlaces)] #filter for places of concern in KY
df = df.append(places).reset_index(drop = True)
col_list.remove(tail_cols2) #adjust the column list for different formats of geos
predicates= {} #call for state of TN
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "state:47"
data= requests.get(url_str, params= predicates)
col_names = col_list
state=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
state['GeoFIPS'] = '0' #fill in the blank GeoFIPS column
df = df.append(state, ignore_index = True)
predicates= {} #call for US
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "us:*"
data= requests.get(url_str, params= predicates)
col_names = col_list
national=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
national['GeoFIPS'] = '0' #fill in the blank GeoFIPS column
df = df.append(national, ignore_index = True)
savename = df
print('Okay Finished')

Okay Finished

In [38]:
fifteen = savename

In [25]:
dataguide = dg17
var_list = list(dataguide['SF3 Variable']) #make variables list
var_list = deque(var_list)
var_list.appendleft(head2)
var_list.appendleft(head1)
col_list = list(dataguide['Column Name']) #make columns list
col_list.append(tail_cols1)
col_list.append(tail_cols2)
col_list = deque(col_list)
col_list.appendleft(head2)
col_list.appendleft(head1)
predicates= {} #call for all counties in state of TN
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "county:*"
predicates["in"]= "state:47"                                                             
data = requests.get(url_str, params= predicates)                                                                
col_names = col_list
df = pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
df = df.loc[df['GeoFIPS'].isin(GNRC)] #filter for counties in the region
predicates= {} #call for all counties in state of KY
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "county:*"
predicates["in"]= "state:21"                                                             
data = requests.get(url_str, params= predicates)                                                                
col_names = col_list
kycos = pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
kycos = kycos.loc[kycos['GeoFIPS'].isin(KY)] #filter for counties of concern in KY
df = df.append(kycos).reset_index(drop = True)
predicates= {} #call for all places in TN
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "place:*"
predicates["in"]= "state:47"
data= requests.get(url_str, params= predicates)
col_names = col_list
places=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
places=places.loc[places['GEO_ID'].isin(qlaces)] #filter for places in the region
df = df.append(places).reset_index(drop = True)
predicates= {} #call for all places in KY
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "place:*"
predicates["in"]= "state:21"
data= requests.get(url_str, params= predicates)
col_names = col_list
places=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
places=places.loc[places['GEO_ID'].isin(qlaces)] #filter for places of concern in KY
df = df.append(places).reset_index(drop = True)
col_list.remove(tail_cols2) #adjust the column list for different formats of geos
predicates= {} #call for state of TN
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "state:47"
data= requests.get(url_str, params= predicates)
col_names = col_list
state=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
state['GeoFIPS'] = '0' #fill in the blank GeoFIPS column
df = df.append(state, ignore_index = True)
predicates= {} #call for US
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "us:*"
data= requests.get(url_str, params= predicates)
col_names = col_list
national=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
national['GeoFIPS'] = '0' #fill in the blank GeoFIPS column
df = df.append(national, ignore_index = True)
savename = df
print('Okay Finished')

Okay Finished

In [57]:
seventeen.head()

,NAME,GEO_ID,assistance_renterocc_atorabovepovertylevel,assistance_renterocc_atorabovepovertylevel_wassistance,assistance_renterocc_atorabovepovertylevel_woassistance,poverty_total_byage_series,poverty_belowlevel,poverty_belowlevel_u5,poverty_belowlevel_5,poverty_belowlevel_6to11,poverty_belowlevel_12to17,poverty_belowlevel_18to64,poverty_belowlevel_65to74,poverty_belowlevel_75andover,poverty_atorabovelevel,poverty_atorabovelevel_u5,poverty_atorabovelevel_5,poverty_atorabovelevel_6to11,poverty_atorabovelevel_12to17,poverty_atorabovelevel_18to64,poverty_atorabovelevel_65to74,poverty_atorabovelevel_75andover,poverty_total_bysexbyage_whitealone_series,poverty_belowlevel_whitealone,poverty_atorabovelevel_whitealone,poverty_total_bysexbyage_blackafricanamericanalone_series,poverty_belowlevel_blackafricanamericanalone,poverty_atorabovelevel_blackafricanamericanalone,poverty_total_bysexbyage_americanindianalaskanativealone_series,poverty_belowlevel_americanindianalaskanativealone,poverty_atorabovelevel_americanindianalaskanativealone,poverty_total_bysexbyage_asianalone_series,poverty_belowlevel_asianalone,poverty_atorabovelevel_asianalone,poverty_total_bysexbyage_nativehawaiianotherpacificislanderalone_series,poverty_belowlevel_nativehawaiianotherpacificislanderalone,poverty_atorabovelevel_nativehawaiianotherpacificislanderalone,poverty_total_bysexbyage_someotherracealone_series,poverty_belowlevel_someotherracealone,poverty_atorabovelevel_someotherracealone,poverty_total_bysexbyage_twoormoreraces_series,poverty_belowlevel_twoormoreraces,poverty_atorabovelevel_twoormoreraces,poverty_total_bysexbyage_whitealonenothispanicorlatino_series,poverty_belowlevel_whitealonenothispanicorlatino,poverty_atorabovelevel_whitealonenothispanicorlatino,poverty_total_bysexbyage_hispanicorlatino_series,poverty_belowlevel_hispanicorlatino,StateFIPS,GeoFIPS
0,"Cheatham County, Tennessee",0500000US47021,1799,49,1750,35399,2635,263,61,197,291,1553,146,124,32764,2312,478,3221,2974,21188,1626,965,34168,2323,31845,513,226,287,134,0,134,60,0,60,2,0,2,174,30,144,348,56,292,33972,2323,31649,436,53,47,021
1,"Davidson County, Tennessee",0500000US47037,84104,2629,81475,546390,70960,8020,1651,8301,6192,40415,2959,3422,475430,29095,5289,34060,31602,320917,30380,24087,368751,29859,338892,139104,32952,106152,1905,253,1652,11163,1637,9526,286,94,192,13219,3671,9548,11962,2494,9468,358998,27550,331448,24891,6440,47,037
2,"Dickson County, Tennessee",0500000US47043,2932,178,2754,42503,4334,491,49,456,514,2255,244,325,38169,2442,590,3291,3472,24134,2485,1755,39885,3726,36159,1872,433,1439,131,28,103,59,9,50,0,0,0,88,42,46,468,96,372,39656,3722,35934,363,46,47,043
3,"Houston County, Tennessee",0500000US47083,453,19,434,7882,1430,126,26,152,150,722,144,110,6452,410,66,514,493,4003,585,381,7499,1306,6193,180,45,135,20,0,20,36,28,8,0,0,0,59,6,53,88,45,43,7467,1306,6161,86,6,47,083
4,"Humphreys County, Tennessee",0500000US47085,1141,66,1075,17713,1914,151,20,203,193,998,169,180,15799,885,148,1237,1379,9956,1344,850,16855,1721,15134,475,125,350,36,7,29,123,6,117,17,8,9,38,0,38,169,47,122,16728,1714,15014,182,12,47,085

In [26]:
seventeen = savename

In [27]:
dataguide = dg18
var_list = list(dataguide['SF3 Variable']) #make variables list
var_list = deque(var_list)
var_list.appendleft(head2)
var_list.appendleft(head1)
col_list = list(dataguide['Column Name']) #make columns list
col_list.append(tail_cols1)
col_list.append(tail_cols2)
col_list = deque(col_list)
col_list.appendleft(head2)
col_list.appendleft(head1)
predicates= {} #call for all counties in state of TN
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "county:*"
predicates["in"]= "state:47"                                                             
data = requests.get(url_str, params= predicates)                                                                
col_names = col_list
df = pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
df = df.loc[df['GeoFIPS'].isin(GNRC)] #filter for counties in the region
predicates= {} #call for all counties in state of KY
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "county:*"
predicates["in"]= "state:21"                                                             
data = requests.get(url_str, params= predicates)                                                                
col_names = col_list
kycos = pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
kycos = kycos.loc[kycos['GeoFIPS'].isin(KY)] #filter for counties of concern in KY
df = df.append(kycos).reset_index(drop = True)
predicates= {} #call for all places in TN
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "place:*"
predicates["in"]= "state:47"
data= requests.get(url_str, params= predicates)
col_names = col_list
places=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
places=places.loc[places['GEO_ID'].isin(qlaces)] #filter for places in the region
df = df.append(places).reset_index(drop = True)
predicates= {} #call for all places in KY
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "place:*"
predicates["in"]= "state:21"
data= requests.get(url_str, params= predicates)
col_names = col_list
places=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
places=places.loc[places['GEO_ID'].isin(qlaces)] #filter for places of concern in KY
df = df.append(places).reset_index(drop = True)
col_list.remove(tail_cols2) #adjust the column list for different formats of geos
predicates= {} #call for state of TN
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "state:47"
data= requests.get(url_str, params= predicates)
col_names = col_list
state=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
state['GeoFIPS'] = '0' #fill in the blank GeoFIPS column
df = df.append(state, ignore_index = True)
predicates= {} #call for US
get_vars= var_list
predicates["get"]= ",". join(get_vars)
predicates["for"]= "us:*"
data= requests.get(url_str, params= predicates)
col_names = col_list
national=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
national['GeoFIPS'] = '0' #fill in the blank GeoFIPS column
df = df.append(national, ignore_index = True)
savename = df
print('Okay Finished')

Okay Finished

In [28]:
eighteen = savename

In [50]:
eighteen.head()

,NAME,GEO_ID,poverty_atorabovelevel_hispanicorlatino,tenure_total_series,tenure_owneroccunits,tenure_renteroccunits,tenure_total_series_whitealone,tenure_owneroccunits_whitealone,tenure_renteroccunits_whitealone,tenure_total_series_blackafricanamericanalone,tenure_owneroccunits_blackafricanamericanalone,tenure_renteroccunits_blackafricanamericanalone,tenure_total_series_americanindianalaskanativealone,tenure_owneroccunits_americanindianalaskanativealone,tenure_renteroccunits_americanindianalaskanativealone,tenure_total_series_asianalone,tenure_owneroccunits_asianalone,tenure_renteroccunits_asianalone,tenure_total_series_nativehawaiianotherpacificislanderalone,tenure_owneroccunits_nativehawaiianotherpacificislanderalone,tenure_renteroccunits_nativehawaiianotherpacificislanderalone,tenure_total_series_someotherracealone,tenure_owneroccunits_someotherracealone,tenure_renteroccunits_someotherracealone,tenure_total_series_twoormoreraces,tenure_owneroccunits_twoormoreraces,tenure_renteroccunits_twoormoreraces,tenure_total_series_whitealonenothispanicorlatino,tenure_owneroccunits_whitealonenothispanicorlatino,tenure_renteroccunits_whitealonenothispanicorlatino,tenure_total_series_hispanicorlatino,tenure_owneroccunits_hispanicorlatino,tenure_renteroccunits_hispanicorlatino,tenure_age_total_series,tenure_age_total_ownerocc,tenure_ownerocc_15to24,tenure_ownerocc_25to34,tenure_ownerocc_35to44,tenure_ownerocc_45to54,tenure_ownerocc_55to59,tenure_ownerocc_60to64,tenure_ownerocc_65to74,tenure_ownerocc_75to84,tenure_ownerocc_85andover,tenure_age_total_renterocc,tenure_renterocc_15to24,tenure_renterocc_25to34,tenure_renterocc_35to44,StateFIPS,GeoFIPS
0,"Cheatham County, Tennessee",0500000US47021,383,12878,10766,2112,12488,10466,2022,177,157,20,22,16,6,25,14,11,0,0,0,52,39,13,114,74,40,12437,10430,2007,117,83,34,12878,10766,157,1826,2891,2468,920,726,967,633,178,2112,262,723,500,47,021
1,"Davidson County, Tennessee",0500000US47037,18451,237405,131384,106021,170659,104747,65912,54634,22549,32085,850,271,579,3881,1577,2304,108,35,73,3426,681,2745,3847,1524,2323,167887,103908,63979,6648,1680,4968,237405,131384,1587,18290,29113,29516,11270,9995,17372,11293,2948,106021,15072,34797,23301,47,037
2,"Dickson County, Tennessee",0500000US47043,317,16473,12528,3945,15534,11975,3559,694,417,277,67,45,22,22,2,20,0,0,0,18,0,18,138,89,49,15471,11932,3539,111,65,46,16473,12528,301,1866,2682,2689,1037,1052,1556,1068,277,3945,456,1004,926,47,043
3,"Houston County, Tennessee",0500000US47083,80,3216,2475,741,3071,2396,675,76,48,28,6,6,0,12,3,9,0,0,0,19,6,13,32,16,16,3055,2381,674,35,21,14,3216,2475,40,248,476,539,236,205,406,286,39,741,99,137,130,47,083
4,"Humphreys County, Tennessee",0500000US47085,170,7238,5641,1597,6928,5449,1479,188,114,74,15,12,3,27,20,7,7,0,7,7,0,7,66,46,20,6899,5435,1464,36,14,22,7238,5641,154,556,1151,1187,586,506,827,548,126,1597,155,406,336,47,085

In [9]:
seventeenth = []
eighteenth = []
nineteen = []

In [10]:
dataguides = [dg17, dg18]#, dg19]
names = [seventeenth, eighteenth]#, nineteen]

In [17]:
#wholedata = []
for guide in dataguides: #basically here is an empty list initiated each loop, also the new dataguide
    dataguide = guide
    var_list = list(dataguide['SF3 Variable']) #make variables list
    var_list = deque(var_list)
    var_list.appendleft(head2)
    var_list.appendleft(head1)
    col_list = list(dataguide['Column Name']) #make columns list
    col_list.append(tail_cols1)
    col_list.append(tail_cols2)
    col_list = deque(col_list)
    col_list.appendleft(head2)
    col_list.appendleft(head1)
    predicates= {} #call for all counties in state of TN
    get_vars= var_list
    predicates["get"]= ",". join(get_vars)
    predicates["for"]= "county:*"
    predicates["in"]= "state:47"                                                             
    data = requests.get(url_str, params= predicates)                                                                
    col_names = col_list
    df = pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
    df = df.loc[df['GeoFIPS'].isin(GNRC)] #filter for counties in the region
    predicates= {} #call for all counties in state of KY
    get_vars= var_list
    predicates["get"]= ",". join(get_vars)
    predicates["for"]= "county:*"
    predicates["in"]= "state:21"                                                             
    data = requests.get(url_str, params= predicates)                                                                
    col_names = col_list
    kycos = pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
    kycos = kycos.loc[kycos['GeoFIPS'].isin(KY)] #filter for counties of concern in KY
    df = df.append(kycos).reset_index(drop = True)
    predicates= {} #call for all places in TN
    get_vars= var_list
    predicates["get"]= ",". join(get_vars)
    predicates["for"]= "place:*"
    predicates["in"]= "state:47"
    data= requests.get(url_str, params= predicates)
    col_names = col_list
    places=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
    places=places.loc[places['GEO_ID'].isin(qlaces)] #filter for places in the region
    df = df.append(places).reset_index(drop = True)
    predicates= {} #call for all places in KY
    get_vars= var_list
    predicates["get"]= ",". join(get_vars)
    predicates["for"]= "place:*"
    predicates["in"]= "state:21"
    data= requests.get(url_str, params= predicates)
    col_names = col_list
    places=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
    places=places.loc[places['GEO_ID'].isin(qlaces)] #filter for places of concern in KY
    df = df.append(places).reset_index(drop = True)
    col_list.remove(tail_cols2) #adjust the column list for different formats of geos
    predicates= {} #call for state of TN
    get_vars= var_list
    predicates["get"]= ",". join(get_vars)
    predicates["for"]= "state:47"
    data= requests.get(url_str, params= predicates)
    col_names = col_list
    state=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
    state['GeoFIPS'] = '0' #fill in the blank GeoFIPS column
    df = df.append(state, ignore_index = True)
    predicates= {} #call for US
    get_vars= var_list
    predicates["get"]= ",". join(get_vars)
    predicates["for"]= "us:*"
    data= requests.get(url_str, params= predicates)
    col_names = col_list
    national=pd.DataFrame(columns=col_names, data=data.json()[1:], dtype=str)
    national['GeoFIPS'] = '0' #fill in the blank GeoFIPS column
    df = df.append(national, ignore_index = True).set_index('GEO_ID')
    dataguide = df
    #name.append(df)
    #wholedata = pd.DataFrame(columns = name.columns, data = name.values)
    #wholedata = pd.append(name)
print('Okay Finished')

Okay Finished

In [19]:
dg18.head()

      ID                                         Data Point                              Column Name    Category Sub Category SF3 Variable
782  783  Poverty: Income in the Past 12 Months At or Ab...  poverty_atorabovelevel_hispanicorlatino  Population      Poverty     P159H010
783  784                        Tenure: Total Tenure Series                      tenure_total_series     Housing       Tenure      H011001
784  785                       Tenure: Owner Occupied Units                     tenure_owneroccunits     Housing       Tenure      H011002
785  786                      Tenure: Renter Occupied Units                    tenure_renteroccunits     Housing       Tenure      H011010
786  787                   Tenure: Total Series White Alone           tenure_total_series_whitealone     Housing       Tenure      H009002

In [49]:
wholedata.head()

,NAME,poverty_atorabovelevel_hispanicorlatino,tenure_total_series,tenure_owneroccunits,tenure_renteroccunits,tenure_total_series_whitealone,tenure_owneroccunits_whitealone,tenure_renteroccunits_whitealone,tenure_total_series_blackafricanamericanalone,tenure_owneroccunits_blackafricanamericanalone,tenure_renteroccunits_blackafricanamericanalone,tenure_total_series_americanindianalaskanativealone,tenure_owneroccunits_americanindianalaskanativealone,tenure_renteroccunits_americanindianalaskanativealone,tenure_total_series_asianalone,tenure_owneroccunits_asianalone,tenure_renteroccunits_asianalone,tenure_total_series_nativehawaiianotherpacificislanderalone,tenure_owneroccunits_nativehawaiianotherpacificislanderalone,tenure_renteroccunits_nativehawaiianotherpacificislanderalone,tenure_total_series_someotherracealone,tenure_owneroccunits_someotherracealone,tenure_renteroccunits_someotherracealone,tenure_total_series_twoormoreraces,tenure_owneroccunits_twoormoreraces,tenure_renteroccunits_twoormoreraces,tenure_total_series_whitealonenothispanicorlatino,tenure_owneroccunits_whitealonenothispanicorlatino,tenure_renteroccunits_whitealonenothispanicorlatino,tenure_total_series_hispanicorlatino,tenure_owneroccunits_hispanicorlatino,tenure_renteroccunits_hispanicorlatino,tenure_age_total_series,tenure_age_total_ownerocc,tenure_ownerocc_15to24,tenure_ownerocc_25to34,tenure_ownerocc_35to44,tenure_ownerocc_45to54,tenure_ownerocc_55to59,tenure_ownerocc_60to64,tenure_ownerocc_65to74,tenure_ownerocc_75to84,tenure_ownerocc_85andover,tenure_age_total_renterocc,tenure_renterocc_15to24,tenure_renterocc_25to34,tenure_renterocc_35to44,StateFIPS,GeoFIPS
0,"Cheatham County, Tennessee",383,12878,10766,2112,12488,10466,2022,177,157,20,22,16,6,25,14,11,0,0,0,52,39,13,114,74,40,12437,10430,2007,117,83,34,12878,10766,157,1826,2891,2468,920,726,967,633,178,2112,262,723,500,47,021
1,"Davidson County, Tennessee",18451,237405,131384,106021,170659,104747,65912,54634,22549,32085,850,271,579,3881,1577,2304,108,35,73,3426,681,2745,3847,1524,2323,167887,103908,63979,6648,1680,4968,237405,131384,1587,18290,29113,29516,11270,9995,17372,11293,2948,106021,15072,34797,23301,47,037
2,"Dickson County, Tennessee",317,16473,12528,3945,15534,11975,3559,694,417,277,67,45,22,22,2,20,0,0,0,18,0,18,138,89,49,15471,11932,3539,111,65,46,16473,12528,301,1866,2682,2689,1037,1052,1556,1068,277,3945,456,1004,926,47,043
3,"Houston County, Tennessee",80,3216,2475,741,3071,2396,675,76,48,28,6,6,0,12,3,9,0,0,0,19,6,13,32,16,16,3055,2381,674,35,21,14,3216,2475,40,248,476,539,236,205,406,286,39,741,99,137,130,47,083
4,"Humphreys County, Tennessee",170,7238,5641,1597,6928,5449,1479,188,114,74,15,12,3,27,20,7,7,0,7,7,0,7,66,46,20,6899,5435,1464,36,14,22,7238,5641,154,556,1151,1187,586,506,827,548,126,1597,155,406,336,47,085

In [62]:
name

[                                                     NAME poverty_atorabovelevel_hispanicorlatino tenure_total_series tenure_owneroccunits  \
 GEO_ID
 0500000US47021                 Cheatham County, Tennessee                                     383               12878                10766
 0500000US47037                 Davidson County, Tennessee                                   18451              237405               131384
 0500000US47043                  Dickson County, Tennessee                                     317               16473                12528
 0500000US47083                  Houston County, Tennessee                                      80                3216                 2475
 0500000US47085                Humphreys County, Tennessee                                     170                7238                 5641
 0500000US47111                    Macon County, Tennessee                                     271                7916                 6224
 0500000US47119                    Maury County, Tennessee                                    1793               26444                19241
 0500000US47125               Montgomery County, Tennessee                                    5835               48330                30685
 0500000US47147                Robertson County, Tennessee                                    1024               19906                15229
 0500000US47149               Rutherford County, Tennessee                                    3827               66443                46408
 0500000US47161                  Stewart County, Tennessee                                     108                4930                 3908
 0500000US47165                   Sumner County, Tennessee                                    1710               48941                36970
 0500000US47169                Trousdale County, Tennessee                                      87                2780                 2120
 0500000US47187               Williamson County, Tennessee                                    2617               44725                36437
 0500000US47189                   Wilson County, Tennessee                                     972               32798                26705
 0500000US21003                     Allen County, Kentucky                                      45                6910                 5457
 0500000US21213                   Simpson County, Kentucky                                      30                6415                 4605
 1600000US4700200                    Adams city, Tennessee                                       0                 197                  160
 1600000US4702180             Ashland City town, Tennessee                                      64                1408                  840
 1600000US4704620              Belle Meade city, Tennessee                                      50                1081                 1033
 1600000US4705140               Berry Hill city, Tennessee                                      23                 400                  144
 1600000US4708280                Brentwood city, Tennessee                                     169                7711                 7400
 1600000US4709880                    Burns town, Tennessee                                      19                 565                  416
 1600000US4711980               Cedar Hill city, Tennessee                                       0                 100                   70
 1600000US4713080                Charlotte town, Tennessee                                      11                 395                  281
 1600000US4715160              Clarksville city, Tennessee                                    5321               36994                21340
 1600000US4716540                 Columbia city, Tennessee                                    1167               13121                 8309
 1600000US4716980               Coopertown town, Tennessee                                      40                1076                  960
 1600000US4718420             Cross Plains city, Tennessee                                      11                 510                  397
 1600000US4718820          Cumberland City town, Tennessee                                       7                 138                   96
 1600000US4720620                  Dickson city, Tennessee                                     127                4979                 3022
 1600000US4721400                    Dover city, Tennessee                                       7                 603                  419
 1600000US4722360               Eagleville city, Tennessee                                       4                 190                  142
 1600000US4724320                     Erin city, Tennessee                                       0                 590                  357
 1600000US4725440                 Fairview city, Tennessee                                     100                2113                 1604
 1600000US4727020             Forest Hills city, Tennessee                                      33                1723                 1685
 1600000US4727740                 Franklin city, Tennessee                                    1667               16090                10217
 1600000US4728540                 Gallatin city, Tennessee                                     539                8999                 5648
 1600000US4729920           Goodlettsville city, Tennessee                                      84                5621                 3494
 1600000US4730960               Greenbrier town, Tennessee                                      33                1941                 1470
 1600000US4733280           Hendersonville city, Tennessee                                     629               15795                11251
 1600000US4739660         Kingston Springs town, Tennessee                                      21                 990                  845
 1600000US4740160                Lafayette city, Tennessee                                      24                1677                 1151
 1600000US4741200                La Vergne city, Tennessee                                     622                6555                 5500
 1600000US4741520                  Lebanon city, Tennessee                                     352                8034                 4840
 1600000US4744840                   McEwen city, Tennessee                                       4                 726                  513
 1600000US4748980             Millersville city, Tennessee                                      89                1931                 1436
 1600000US4749460            Mitchellville city, Tennessee                                       2                  74                   64
 1600000US4750780             Mount Juliet city, Tennessee                                     213                4315                 3747
 1600000US4751080           Mount Pleasant city, Tennessee                                      13                1806                 1180
 1600000US4751560             Murfreesboro city, Tennessee                                    1625               26669                13944
 1600000US4752006  Nashville-Davidson (balance), Tennessee                                   18233              227395               124041
 1600000US4752820         New Johnsonville city, Tennessee                                       7                 745                  619
 1600000US4753460              Nolensville town, Tennessee                                      61                1013                  960
 1600000US4754780                 Oak Hill city, Tennessee                                       4                1826                 1709
 1600000US4757480                   Pegram town, Tennessee                                       5                 781                  687
 1600000US4759560            Pleasant View city, Tennessee                                      26                1002                  875
 1600000US4760280                 Portland city, Tennessee                                     203                3215                 2186
 1600000US4763140                 Ridgetop city, Tennessee                                       0                 391                  338
 1600000US4769080                  Slayden town, Tennessee                                       0                  76                   67
 1600000US4769420                   Smyrna town, Tennessee                                     789                9604                 6225
 1600000US4770500              Springfield city, Tennessee                                     656                5392                 3118
 1600000US4770580              Spring Hill city, Tennessee                                     233                2682                 2321
 1600000US4773460          Tennessee Ridge town, Tennessee                                      19                 544                  447
 1600000US4773900       Thompson's Station town, Tennessee                                      55                 417                  375
 1600000US4776860                  Vanleer town, Tennessee                                       0                 126                   88
 1600000US4778320                Watertown city, Tennessee                                       4                 542                  389
 1600000US4778560                  Waverly city, Tennessee                                      45                1764                 1152
 1600000US4779420             Westmoreland town, Tennessee                                       0                 813                  508
 1600000US4779980              White Bluff town, Tennessee                                      24                 915                  641
 1600000US4780200              White House city, Tennessee                                      23                2514                 2081
 1600000US2128918                  Franklin city, Kentucky                                       9                3243                 2121
 1600000US2169114               Scottsville city, Kentucky                                       0                1834                 1179
 0400000US47                                     Tennessee                                   88928             2232905              1561461
 0100000US                                   United States                                26652994           105480101             69816513

                  tenure_renteroccunits tenure_total_series_whitealone tenure_owneroccunits_whitealone tenure_renteroccunits_whitealone  \
 GEO_ID
 0500000US47021                    2112                          12488                           10466                             2022
 0500000US47037                  106021                         170659                          104747                            65912
 0500000US47043                    3945                          15534                           11975                             3559
 0500000US47083                     741                           3071                            2396                              675
 0500000US47085                    1597                           6928                            5449                             1479
 0500000US47111                    1692                           7793                            6182                             1611
 0500000US47119                    7203                          22078                           16912                             5166
 0500000US47125                   17645                          36772                           24940                            11832
 0500000US47147                    4677                          17805                           14192                             3613
 0500000US47149                   20035                          58241                           42200                            16041
 0500000US47161                    1022                           4731                            3782                              949
 0500000US47165                   11971                          45244                           35038                            10206
 0500000US47169                     660                           2422                            1891                              531
 0500000US47187                    8288                          41293                           34304                             6989
 0500000US47189                    6093                          30224                           25168                             5056
 0500000US21003                    1453                           6798                            5398                             1400
 0500000US21213                    1810                           5689                            4211                             1478
 1600000US4700200                    37                            181                             147                               34
 1600000US4702180                   568                           1303                             787                              516
 1600000US4704620                    48                           1071                            1033                               38
 1600000US4705140                   256                            308                             136                              172
 1600000US4708280                   311                           7335                            7062                              273
 1600000US4709880                   149                            543                             405                              138
 1600000US4711980                    30                             72                              52                               20
 1600000US4713080                   114                            353                             257                               96
 1600000US4715160                 15654                          26420                           16365                            10055
 1600000US4716540                  4812                          10042                            6846                             3196
 1600000US4716980                   116                           1055                             944                              111
 1600000US4718420                   113                            484                             390                               94
 1600000US4718820                    42                            126                              90                               36
 1600000US4720620                  1957                           4515                            2841                             1674
 1600000US4721400                   184                            561                             386                              175
 1600000US4722360                    48                            184                             138                               46
 1600000US4724320                   233                            523                             321                              202
 1600000US4725440                   509                           2068                            1570                              498
 1600000US4727020                    38                           1696                            1658                               38
 1600000US4727740                  5873                          13930                            9199                             4731
 1600000US4728540                  3351                           7258                            4922                             2336
 1600000US4729920                  2127                           5025                            3251                             1774
 1600000US4730960                   471                           1902                            1461                              441
 1600000US4733280                  4544                          14839                           10763                             4076
 1600000US4739660                   145                            973                             832                              141
 1600000US4740160                   526                           1670                            1151                              519
 1600000US4741200                  1055                           5651                            4788                              863
 1600000US4741520                  3194                           6795                            4388                             2407
 1600000US4744840                   213                            718                             511                              207
 1600000US4748980                   495                           1771                            1350                              421
 1600000US4749460                    10                             73                              63                               10
 1600000US4750780                   568                           4038                            3523                              515
 1600000US4751080                   626                           1324                             910                              414
 1600000US4751560                 12725                          22139                           12431                             9708
 1600000US4752006                103354                         161377                           97657                            63720
 1600000US4752820                   126                            729                             611                              118
 1600000US4753460                    53                            930                             883                               47
 1600000US4754780                   117                           1766                            1661                              105
 1600000US4757480                    94                            744                             652                               92
 1600000US4759560                   127                            995                             868                              127
 1600000US4760280                  1029                           3097                            2128                              969
 1600000US4763140                    53                            381                             333                               48
 1600000US4769080                     9                             74                              65                                9
 1600000US4769420                  3379                           8530                            5692                             2838
 1600000US4770500                  2274                           3963                            2521                             1442
 1600000US4770580                   361                           2371                            2073                              298
 1600000US4773460                    97                            539                             444                               95
 1600000US4773900                    42                            385                             346                               39
 1600000US4776860                    38                            124                              86                               38
 1600000US4778320                   153                            505                             370                              135

In [44]:
savename.head()

,NAME,GEO_ID,tenure_renterocc_45to54,tenure_renterocc_55to59,tenure_renterocc_60to64,tenure_renterocc_65to74,tenure_renterocc_75to84,tenure_renterocc_85andover,mortgage_total_series,mortgage_with,mortgage_without,earn_whitealone_total_series,earn_total_m_whitealone,earn_total_m_fulltime_whitealone,earn_m_fulltime_noearnings_whitealone,earn_m_fulltime_wearnings_whitealone,earn_m_fulltime_1to2499orloss_whitealone,earn_m_fulltime_2500to4999_whitealone,earn_m_fulltime_5000to7499_whitealone,earn_m_fulltime_7500to9999_whitealone,earn_m_fulltime_10000to12499_whitealone,earn_m_fulltime_12500to14999_whitealone,earn_m_fulltime_15000to17499_whitealone,earn_m_fulltime_17500to19999_whitealone,earn_m_fulltime_20000to22499_whitealone,earn_m_fulltime_22500to24999_whitealone,earn_m_fulltime_25000to29999_whitealone,earn_m_fulltime_30000to34999_whitealone,earn_m_fulltime_35000to39999_whitealone,earn_m_fulltime_40000to44999_whitealone,earn_m_fulltime_45000to49999_whitealone,earn_m_fulltime_50000to54999_whitealone,earn_m_fulltime_55000to64999_whitealone,earn_m_fulltime_65000to74999_whitealone,earn_m_fulltime_75000to99999_whitealone,earn_m_fulltime_100000ormore_whitealone,earn_total_m_other_whitealone,earn_m_other_noearnings_whitealone,earn_m_other_wearnings_whitealone,earn_m_other_1to2499orloss_whitealone,earn_m_other_2500to4999_whitealone,earn_m_other_5000to7499_whitealone,earn_m_other_7500to9999_whitealone,earn_m_other_10000to12499_whitealone,earn_m_other_12500to14999_whitealone,earn_m_other_15000to17499_whitealone,earn_m_other_17500to19999_whitealone,earn_m_other_20000to22499_whitealone,StateFIPS,GeoFIPS
0,"Cheatham County, Tennessee",0500000US47021,297,98,52,100,58,22,7744,5845,1899,26106,12855,7933,0,7933,36,7,72,76,146,187,264,237,484,339,1081,1080,1010,756,506,458,415,255,207,317,4922,2208,2714,378,246,240,229,182,83,180,90,75,47,021
1,"Davidson County, Tennessee",0500000US47037,14861,4159,3003,4858,4088,1882,116013,83416,32597,319639,152906,86785,16,86769,287,197,627,776,2077,1800,2908,2921,5950,3679,9685,9157,8221,6904,4469,4888,6272,3747,4805,7399,66121,27394,38727,5609,4166,4376,2709,3381,1904,2497,1344,1949,47,037
2,"Dickson County, Tennessee",0500000US47043,670,186,156,260,227,60,7918,5292,2626,31043,14995,8338,11,8327,36,57,61,109,225,228,254,321,544,463,1086,1206,928,713,499,409,320,232,325,311,6657,3153,3504,435,380,232,221,355,210,229,125,220,47,043
3,"Houston County, Tennessee",0500000US47083,107,50,50,73,58,37,1352,684,668,6035,2913,1345,0,1345,18,3,10,24,18,86,82,57,93,91,185,159,129,88,83,62,91,21,28,17,1568,910,658,98,51,70,30,43,22,60,29,71,47,083
4,"Humphreys County, Tennessee",0500000US47085,234,128,118,109,63,48,3417,1907,1510,13542,6569,3400,0,3400,32,18,35,23,79,74,168,161,275,189,407,401,264,221,198,233,296,174,59,93,3169,1738,1431,175,159,128,73,119,77,68,76,77,47,085

In [ ]:
last = thirteen

In [ ]:
dfs = [two,three,four,five,six,seven,eight,nine,ten,eleven,twelve]

In [ ]:
for df in dfs:
    df = df.drop(columns = ['NAME','StateFIPS','GeoFIPS'], inplace = True)

In [ ]:
one = one.drop(columns = ['StateFIPS','GeoFIPS'])
last = last.drop(columns = 'NAME')

In [ ]:
df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['GEO_ID'],
                                            how='outer'), dfs)

In [ ]:
dfs = [one, df_merged, last]
data = reduce(lambda  left,right: pd.merge(left,right,on=['GEO_ID'],
                                            how='outer'), dfs)

In [ ]:
data = data.set_index(['NAME', 'GEO_ID'])
data.head()

In [ ]:
transp = data.transpose()
transp.head()

In [ ]:
numcols = list(transp.columns)
numcols
transp[numcols] = transp[numcols].astype(float)

In [ ]:
data = transp

In [ ]:
GNRCCounties = [data[('Stewart County, Tennessee', '0500000US47161')],data[('Montgomery County, Tennessee', '0500000US47125')],
                data[('Houston County, Tennessee', '0500000US47083')],data[('Humphreys County, Tennessee', '0500000US47085')],
                data[('Dickson County, Tennessee', '0500000US47043')],data[('Cheatham County, Tennessee', '0500000US47021')],
                data[('Robertson County, Tennessee', '0500000US47147')],data[('Sumner County, Tennessee', '0500000US47165')],
                data[('Davidson County, Tennessee', '0500000US47037')],data[('Wilson County, Tennessee', '0500000US47189')],
                data[('Trousdale County, Tennessee', '0500000US47169')],data[('Williamson County, Tennessee', '0500000US47187')],
                data[('Rutherford County, Tennessee', '0500000US47149')]]
data['GNRC'] = sum(GNRCCounties)
GNRCCountiesAll = [data[('Stewart County, Tennessee', '0500000US47161')],data[('Montgomery County, Tennessee', '0500000US47125')],
                   data[('Houston County, Tennessee', '0500000US47083')],data[('Humphreys County, Tennessee', '0500000US47085')],
                   data[('Dickson County, Tennessee', '0500000US47043')],data[('Cheatham County, Tennessee', '0500000US47021')],
                   data[('Robertson County, Tennessee', '0500000US47147')],data[('Sumner County, Tennessee', '0500000US47165')],
                   data[('Davidson County, Tennessee', '0500000US47037')],data[('Wilson County, Tennessee', '0500000US47189')],
                   data[('Trousdale County, Tennessee', '0500000US47169')],data[('Williamson County, Tennessee', '0500000US47187')],
                   data[('Rutherford County, Tennessee', '0500000US47149')],data[('Maury County, Tennessee', '0500000US47119')]]
data['GNRC Region'] = sum(GNRCCountiesAll)
MPOCounties = [data[('Robertson County, Tennessee', '0500000US47147')],data[('Sumner County, Tennessee', '0500000US47165')],
               data[('Davidson County, Tennessee', '0500000US47037')],data[('Wilson County, Tennessee', '0500000US47189')],
               data[('Williamson County, Tennessee', '0500000US47187')],data[('Rutherford County, Tennessee', '0500000US47149')],
               data[('Maury County, Tennessee', '0500000US47119')]]
data['MPO'] = sum(MPOCounties)
RuthInc = [data[('Eagleville city, Tennessee', '1600000US4722360')],data[('La Vergne city, Tennessee', '1600000US4741200')],
           data[('Murfreesboro city, Tennessee', '1600000US4751560')],data[('Smyrna town, Tennessee', '1600000US4769420')]]
data[('Rutherford Incorporated', 'None')] = sum(RuthInc)
data[('Rutherford Unincorporated', 'None')] = data[('Rutherford County, Tennessee', '0500000US47149')] - data[('Rutherford Incorporated', 'None')]
WilsonInc = [data[('Lebanon city, Tennessee', '1600000US4741520')],data[('Mount Juliet city, Tennessee', '1600000US4750780')],
             data[('Watertown city, Tennessee', '1600000US4778320')]]
data[('Wilson Incorporated', 'None')] = sum(WilsonInc)
data[('Wilson Unincorporated', 'None')] = data[('Wilson County, Tennessee', '0500000US47189')] - data[('Wilson Incorporated', 'None')]
CheathInc = [data[('Ashland City town, Tennessee', '1600000US4702180')],data[('Kingston Springs town, Tennessee', '1600000US4739660')],
             data[('Pegram town, Tennessee', '1600000US4757480')],data[('Pleasant View city, Tennessee', '1600000US4759560')]]
data[('Cheatham Incorporated', 'None')] = sum(CheathInc)
data[('Cheatham Unincorporated', 'None')] = data[('Cheatham County, Tennessee', '0500000US47021')] - data[('Cheatham Incorporated', 'None')]
DicksInc = [data[('Burns town, Tennessee', '1600000US4709880')],data[('Charlotte town, Tennessee', '1600000US4713080')],
            data[('Dickson city, Tennessee', '1600000US4720620')],data[('Slayden town, Tennessee', '1600000US4769080')],
            data[('Vanleer town, Tennessee', '1600000US4776860')],data[('White Bluff town, Tennessee', '1600000US4779980')]]
data[('Dickson Incorporated', 'None')] = sum(DicksInc)
data[('Dickson Unincorporated', 'None')] = data[('Dickson County, Tennessee', '0500000US47043')] - data[('Dickson Incorporated', 'None')]
HumphInc = [data[('McEwen city, Tennessee', '1600000US4744840')],data[('New Johnsonville city, Tennessee', '1600000US4752820')],
            data[('Waverly city, Tennessee', '1600000US4778560')]]
data[('Humphreys Incorporated', 'None')] = sum(HumphInc)
data[('Humphreys Unincorporated', 'None')] = data[('Humphreys County, Tennessee', '0500000US47085')] - data[('Humphreys Incorporated', 'None')]
data[('Montgomery Incorporated', 'None')] = data[('Clarksville city, Tennessee', '1600000US4715160')]
data[('Montgomery Unincorporated', 'None')] = data[('Montgomery County, Tennessee', '0500000US47125')] - data[('Montgomery Incorporated', 'None')]

In [ ]:
data = data.transpose().reset_index()

In [ ]:
data.head()

In [ ]:
data.to_csv('../../data/SF32000.csv', index = False)