###### Imports and Settings

In [7]:
import pandas as pd
import numpy as np
import requests
#import io
import pickle
import dataframe_image as dfi
from collections import deque
from functools import reduce
import matplotlib.pyplot as plt
#pd.options.display.float_format = '{:,.0f}'.format
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.width', 150)
pd.options.mode.chained_assignment = None  # default='warn'

In [8]:
def percentchange(x, y):
    return (x-y)*100/y
def realchange(x, y):
    return x-y

# Historical

In [83]:
data = pd.read_csv('../data downloads/HistoricalPopulation.csv')
data = data.set_index(['NAME', 'GEO_ID'])
data.columns = pd.MultiIndex.from_product([['Population'], data.columns, ['None']])
data.head()

                                              Population                                                                                           \
                                                    1800 1810 1820 1830 1840 1850 1860 1870 1880 1890 1900 1910 1920 1930  1940  1950  1960  1970
                                                    None None None None None None None None None None None None None None  None  None  None  None
NAME                         GEO_ID
Adams city, Tennessee        1600000US4700200          0    0    0    0    0    0    0    0    0    0    0  542  672    0     0     0     0   458
Ashland City town, Tennessee 1600000US4702180          0    0    0    0    0    0    0    0    0    0    0  641  649  712   957  1024  1400  2027
Belle Meade city, Tennessee  1600000US4704620          0    0    0    0    0    0    0    0    0    0    0    0    0    0  2061  2831  3082     0
Berry Hill city, Tennessee   1600000US4705140          0    0    0    0    0    0    0    0    0    0    0    0    0    0     0  1248  1551     0
Brentwood city, Tennessee    1600000US4708280          0    0    0    0    0    0    0    0    0    0    0    0    0    0     0     0     0     0


                                               1980   1990   2000   2010   2020
                                               None   None   None   None   None
NAME                         GEO_ID
Adams city, Tennessee        1600000US4700200   600    587    566    633    624
Ashland City town, Tennessee 1600000US4702180  2329   2552   3641   4541   5193
Belle Meade city, Tennessee  1600000US4704620  3182   2839   2943   2912   2901
Berry Hill city, Tennessee   1600000US4705140  1113    802    674    537   2112
Brentwood city, Tennessee    1600000US4708280  9431  16392  23445  37060  45373

In [84]:
data[('Population % Change', 'None','1800-1810')] = percentchange(data[('Population','1810','None')], data[('Population','1800','None')])
data[('Population % Change', 'None','1810-1820')] = percentchange(data[('Population','1820','None')], data[('Population','1810','None')])
data[('Population % Change', 'None','1820-1830')] = percentchange(data[('Population','1830','None')], data[('Population','1820','None')])
data[('Population % Change', 'None','1830-1840')] = percentchange(data[('Population','1840','None')], data[('Population','1830','None')])
data[('Population % Change', 'None','1840-1850')] = percentchange(data[('Population','1850','None')], data[('Population','1840','None')])
data[('Population % Change', 'None','1850-1860')] = percentchange(data[('Population','1860','None')], data[('Population','1850','None')])
data[('Population % Change', 'None','1860-1870')] = percentchange(data[('Population','1870','None')], data[('Population','1860','None')])
data[('Population % Change', 'None','1870-1880')] = percentchange(data[('Population','1880','None')], data[('Population','1870','None')])
data[('Population % Change', 'None','1880-1890')] = percentchange(data[('Population','1890','None')], data[('Population','1880','None')])
data[('Population % Change', 'None','1890-1900')] = percentchange(data[('Population','1900','None')], data[('Population','1890','None')])
data[('Population % Change', 'None','1900-1910')] = percentchange(data[('Population','1910','None')], data[('Population','1900','None')])
data[('Population % Change', 'None','1910-1920')] = percentchange(data[('Population','1920','None')], data[('Population','1910','None')])
data[('Population % Change', 'None','1920-1930')] = percentchange(data[('Population','1930','None')], data[('Population','1920','None')])
data[('Population % Change', 'None','1930-1940')] = percentchange(data[('Population','1940','None')], data[('Population','1930','None')])
data[('Population % Change', 'None','1940-1950')] = percentchange(data[('Population','1950','None')], data[('Population','1940','None')])
data[('Population % Change', 'None','1950-1960')] = percentchange(data[('Population','1960','None')], data[('Population','1950','None')])
data[('Population % Change', 'None','1960-1970')] = percentchange(data[('Population','1970','None')], data[('Population','1960','None')])
data[('Population % Change', 'None','1970-1980')] = percentchange(data[('Population','1980','None')], data[('Population','1970','None')])
data[('Population % Change', 'None','1980-1990')] = percentchange(data[('Population','1990','None')], data[('Population','1980','None')])
data[('Population % Change', 'None','1990-2000')] = percentchange(data[('Population','2000','None')], data[('Population','1990','None')])
data[('Population % Change', 'None','2000-2010')] = percentchange(data[('Population','2010','None')], data[('Population','2000','None')])
data[('Population % Change', 'None','2010-2020')] = percentchange(data[('Population','2020','None')], data[('Population','2010','None')])

data[('Population Change', 'None','1800-1810')] = realchange(data[('Population','1810','None')], data[('Population','1800','None')])
data[('Population Change', 'None','1810-1820')] = realchange(data[('Population','1820','None')], data[('Population','1810','None')])
data[('Population Change', 'None','1820-1830')] = realchange(data[('Population','1830','None')], data[('Population','1820','None')])
data[('Population Change', 'None','1830-1840')] = realchange(data[('Population','1840','None')], data[('Population','1830','None')])
data[('Population Change', 'None','1840-1850')] = realchange(data[('Population','1850','None')], data[('Population','1840','None')])
data[('Population Change', 'None','1850-1860')] = realchange(data[('Population','1860','None')], data[('Population','1850','None')])
data[('Population Change', 'None','1860-1870')] = realchange(data[('Population','1870','None')], data[('Population','1860','None')])
data[('Population Change', 'None','1870-1880')] = realchange(data[('Population','1880','None')], data[('Population','1870','None')])
data[('Population Change', 'None','1880-1890')] = realchange(data[('Population','1890','None')], data[('Population','1880','None')])
data[('Population Change', 'None','1890-1900')] = realchange(data[('Population','1900','None')], data[('Population','1890','None')])
data[('Population Change', 'None','1900-1910')] = realchange(data[('Population','1910','None')], data[('Population','1900','None')])
data[('Population Change', 'None','1910-1920')] = realchange(data[('Population','1920','None')], data[('Population','1910','None')])
data[('Population Change', 'None','1920-1930')] = realchange(data[('Population','1930','None')], data[('Population','1920','None')])
data[('Population Change', 'None','1930-1940')] = realchange(data[('Population','1940','None')], data[('Population','1930','None')])
data[('Population Change', 'None','1940-1950')] = realchange(data[('Population','1950','None')], data[('Population','1940','None')])
data[('Population Change', 'None','1950-1960')] = realchange(data[('Population','1960','None')], data[('Population','1950','None')])
data[('Population Change', 'None','1960-1970')] = realchange(data[('Population','1970','None')], data[('Population','1960','None')])
data[('Population Change', 'None','1970-1980')] = realchange(data[('Population','1980','None')], data[('Population','1970','None')])
data[('Population Change', 'None','1980-1990')] = realchange(data[('Population','1990','None')], data[('Population','1980','None')])
data[('Population Change', 'None','1990-2000')] = realchange(data[('Population','2000','None')], data[('Population','1990','None')])
data[('Population Change', 'None','2000-2010')] = realchange(data[('Population','2010','None')], data[('Population','2000','None')])
data[('Population Change', 'None','2010-2020')] = realchange(data[('Population','2020','None')], data[('Population','2010','None')])

In [85]:
data.tail()

                                 Population                                                                                                          \
                                       1800  1810   1820   1830   1840   1850   1860   1870   1880   1890   1900   1910   1920   1930   1940   1950
                                       None  None   None   None   None   None   None   None   None   None   None   None   None   None   None   None
NAME                      GEO_ID
Dickson Unincorporated    NaN             0  4516   5190   7265   7074   8404   9982   9340  12460  13645  17272  17450  16092  14429  14852  14140
Humphreys Incorporated    NaN             0     0      0      0      0      0      0      0      0      0    786   1608   1689   1772   1935   2602
Humphreys Unincorporated  NaN             0  1511   4067   6187   5195   6422   9096   9326  11379  11720  12612  12300  11793  10267  10486   8428
Montgomery Incorporated   NaN             0     0      0      0      0      0      0      0      0      0   9431   8548   8110   9242  11831  16246
Montgomery Unincorporated NaN          2899  8021  12219  14349  16927  21045  20895  24747  28481  29697  26586  25124  24155  21640  21515  27940

                                                                                     Population % Change                                    \
                                   1960   1970   1980   1990    2000    2010    2020                None
                                   None   None   None   None    None    None    None           1800-1810   1810-1820  1820-1830  1830-1840
NAME                      GEO_ID
Dickson Unincorporated    NaN     12053  14514  18907  21821   25756   28646   30622                 inf   14.924712  39.980732  -2.629043
Humphreys Incorporated    NaN      4429   4764   7581   7010    7635    7806    7744                 NaN         NaN        NaN        NaN
Humphreys Unincorporated  NaN      7082   8796   8376   8785   10294   10732   11246                 inf  169.159497  52.126875 -16.033619
Montgomery Incorporated   NaN     22021  31719  54777  75494  103455  132929  166722                 NaN         NaN        NaN        NaN
Montgomery Unincorporated NaN     33624  31002  28565  25004   31313   39402   53347          176.681614   52.337614  17.431868  17.966409

                                                                                                                                               \

                                  1840-1850  1850-1860  1860-1870  1870-1880 1880-1890  1890-1900   1900-1910 1910-1920  1920-1930  1930-1940
NAME                      GEO_ID
Dickson Unincorporated    NaN     18.801244  18.776773  -6.431577  33.404711  9.510433  26.581165    1.030570 -7.782235 -10.334328   2.931596
Humphreys Incorporated    NaN           NaN        NaN        NaN        NaN       NaN        inf  104.580153  5.037313   4.914150   9.198646
Humphreys Unincorporated  NaN     23.618864  41.638119   2.528584  22.013725  2.996748   7.610922   -2.473834 -4.121951 -12.939880   2.133048
Montgomery Incorporated   NaN           NaN        NaN        NaN        NaN       NaN        inf   -9.362740 -5.124006  13.958076  28.013417
Montgomery Unincorporated NaN     24.327997  -0.712758  18.435032  15.088698  4.269513 -10.475806   -5.499135 -3.856870 -10.411923  -0.577634

                                                                                                                         Population Change  \
                                                                                                                                      None
                                  1940-1950  1950-1960  1960-1970  1970-1980  1980-1990  1990-2000  2000-2010  2010-2020         1800-1810
NAME                      GEO_ID
Dickson Unincorporated    NaN     -4.793967 -14.759547  20.418153  30.267328  15.412281  18.033087  11.220686   6.897996              4516
Humphreys Incorporated    NaN     34.470284  70.215219   7.563784  59.130982  -7.531988   8.915835   2.239686  -0.794261                 0
Humphreys Unincorporated  NaN    -19.626168 -15.970574  24.202203  -4.774898   4.882999  17.177006   4.254906   4.789415              1511
Montgomery Incorporated   NaN     37.317217  35.547212  44.039780  72.694599  37.820618  37.037380  28.489682  25.421842                 0
Montgomery Unincorporated NaN     29.862886  20.343593  -7.798001  -7.860783 -12.466305  25.231963  25.832721  35.391604              5122

                                                                                                                                                \

                                 1810-1820 1820-1830 1830-1840 1840-1850 1850-1860 1860-1870 1870-1880 1880-1890 1890-1900 1900-1910 1910-1920
NAME                      GEO_ID
Dickson Unincorporated    NaN          674      2075      -191      1330      1578      -642      3120      1185      3627       178     -1358
Humphreys Incorporated    NaN            0         0         0         0         0         0         0         0       786       822        81
Humphreys Unincorporated  NaN         2556      2120      -992      1227      2674       230      2053       341       892      -312      -507
Montgomery Incorporated   NaN            0         0         0         0         0         0         0         0      9431      -883      -438
Montgomery Unincorporated NaN         4198      2130      2578      4118      -150      3852      3734      1216     -3111     -1462      -969



                                 1920-1930 1930-1940 1940-1950 1950-1960 1960-1970 1970-1980 1980-1990 1990-2000 2000-2010 2010-2020
NAME                      GEO_ID
Dickson Unincorporated    NaN        -1663       423      -712     -2087      2461      4393      2914      3935      2890      1976
Humphreys Incorporated    NaN           83       163       667      1827       335      2817      -571       625       171       -62
Humphreys Unincorporated  NaN        -1526       219     -2058     -1346      1714      -420       409      1509       438       514
Montgomery Incorporated   NaN         1132      2589      4415      5775      9698     23058     20717     27961     29474     33793
Montgomery Unincorporated NaN        -2515      -125      6425      5684     -2622     -2437     -3561      6309      8089     13945

In [86]:
# drop stuff after 1990/1990-2000 growth as it would be the decennial census estimate and it would be redundant/confusing (already in main dataset)
data = data.drop(columns = [('Population','2000','None'), ('Population','2010','None'), ('Population','2020','None'), 
                 ('Population Change', 'None','2000-2010'), ('Population Change', 'None','2010-2020')])

In [87]:
data = data.stack([1, 1])
data = data.reset_index(drop = False)
data = data.rename(columns = {'level_2':'Year', 'level_3':'Time Frame'})
historical = data

In [88]:
historical.head(30)

                     NAME            GEO_ID  Year Time Frame  Population  Population % Change  Population Change
0   Adams city, Tennessee  1600000US4700200  1800       None         0.0                  NaN                NaN
1   Adams city, Tennessee  1600000US4700200  1810       None         0.0                  NaN                NaN
2   Adams city, Tennessee  1600000US4700200  1820       None         0.0                  NaN                NaN
3   Adams city, Tennessee  1600000US4700200  1830       None         0.0                  NaN                NaN
4   Adams city, Tennessee  1600000US4700200  1840       None         0.0                  NaN                NaN
5   Adams city, Tennessee  1600000US4700200  1850       None         0.0                  NaN                NaN
6   Adams city, Tennessee  1600000US4700200  1860       None         0.0                  NaN                NaN
7   Adams city, Tennessee  1600000US4700200  1870       None         0.0                  NaN                NaN
8   Adams city, Tennessee  1600000US4700200  1880       None         0.0                  NaN                NaN
9   Adams city, Tennessee  1600000US4700200  1890       None         0.0                  NaN                NaN
10  Adams city, Tennessee  1600000US4700200  1900       None         0.0                  NaN                NaN
11  Adams city, Tennessee  1600000US4700200  1910       None       542.0                  NaN                NaN
12  Adams city, Tennessee  1600000US4700200  1920       None       672.0                  NaN                NaN
13  Adams city, Tennessee  1600000US4700200  1930       None         0.0                  NaN                NaN
14  Adams city, Tennessee  1600000US4700200  1940       None         0.0                  NaN                NaN
15  Adams city, Tennessee  1600000US4700200  1950       None         0.0                  NaN                NaN
16  Adams city, Tennessee  1600000US4700200  1960       None         0.0                  NaN                NaN
17  Adams city, Tennessee  1600000US4700200  1970       None       458.0                  NaN                NaN
18  Adams city, Tennessee  1600000US4700200  1980       None       600.0                  NaN                NaN
19  Adams city, Tennessee  1600000US4700200  1990       None       587.0                  NaN                NaN
20  Adams city, Tennessee  1600000US4700200  None  1800-1810         NaN                  NaN                0.0
21  Adams city, Tennessee  1600000US4700200  None  1810-1820         NaN                  NaN                0.0
22  Adams city, Tennessee  1600000US4700200  None  1820-1830         NaN                  NaN                0.0
23  Adams city, Tennessee  1600000US4700200  None  1830-1840         NaN                  NaN                0.0
24  Adams city, Tennessee  1600000US4700200  None  1840-1850         NaN                  NaN                0.0
25  Adams city, Tennessee  1600000US4700200  None  1850-1860         NaN                  NaN                0.0
26  Adams city, Tennessee  1600000US4700200  None  1860-1870         NaN                  NaN                0.0
27  Adams city, Tennessee  1600000US4700200  None  1870-1880         NaN                  NaN                0.0
28  Adams city, Tennessee  1600000US4700200  None  1880-1890         NaN                  NaN                0.0
29  Adams city, Tennessee  1600000US4700200  None  1890-1900         NaN                  NaN                0.0

# Projections

In [89]:
#households
data = pd.read_csv('../data downloads/projections_households.csv')
data = data.set_index(['NAME', 'GEO_ID'])
data.columns = pd.MultiIndex.from_product([['Households Projected'], data.columns, ['None']])
#data.head()

In [90]:
data[('Households Projected % Change', 'None','2017-2020')] = percentchange(data[('Households Projected','2020','None')], data[('Households Projected','2017','None')])
data[('Households Projected % Change', 'None','2020-2025')] = percentchange(data[('Households Projected','2025','None')], data[('Households Projected','2020','None')])
data[('Households Projected % Change', 'None','2020-2035')] = percentchange(data[('Households Projected','2035','None')], data[('Households Projected','2020','None')])
data[('Households Projected % Change', 'None','2020-2045')] = percentchange(data[('Households Projected','2045','None')], data[('Households Projected','2020','None')])
data[('Households Projected % Change', 'None','2025-2035')] = percentchange(data[('Households Projected','2035','None')], data[('Households Projected','2025','None')])
data[('Households Projected % Change', 'None','2035-2045')] = percentchange(data[('Households Projected','2045','None')], data[('Households Projected','2035','None')])

data[('Households Projected Change', 'None','2017-2020')] = realchange(data[('Households Projected','2020','None')], data[('Households Projected','2017','None')])
data[('Households Projected Change', 'None','2020-2025')] = realchange(data[('Households Projected','2025','None')], data[('Households Projected','2020','None')])
data[('Households Projected Change', 'None','2020-2035')] = realchange(data[('Households Projected','2035','None')], data[('Households Projected','2020','None')])
data[('Households Projected Change', 'None','2020-2045')] = realchange(data[('Households Projected','2045','None')], data[('Households Projected','2020','None')])
data[('Households Projected Change', 'None','2025-2035')] = realchange(data[('Households Projected','2035','None')], data[('Households Projected','2025','None')])
data[('Households Projected Change', 'None','2035-2045')] = realchange(data[('Households Projected','2045','None')], data[('Households Projected','2035','None')])

In [91]:
data = data.stack([1, 1])
data = data.reset_index(drop = False)
data = data.rename(columns = {'level_2':'Year', 'level_3':'Time Frame'})
#data.tail()
hhs = data

In [92]:
#populations
data = pd.read_csv('../data downloads/projections_population.csv')
data = data.set_index(['NAME', 'GEO_ID'])
data.columns = pd.MultiIndex.from_product([['Population Projected'], data.columns, ['None']])
#data.head()

In [93]:
data[('Population Projected % Change', 'None','2017-2020')] = percentchange(data[('Population Projected','2020','None')], data[('Population Projected','2017','None')])
data[('Population Projected % Change', 'None','2020-2025')] = percentchange(data[('Population Projected','2025','None')], data[('Population Projected','2020','None')])
data[('Population Projected % Change', 'None','2020-2035')] = percentchange(data[('Population Projected','2035','None')], data[('Population Projected','2020','None')])
data[('Population Projected % Change', 'None','2020-2045')] = percentchange(data[('Population Projected','2045','None')], data[('Population Projected','2020','None')])
data[('Population Projected % Change', 'None','2025-2035')] = percentchange(data[('Population Projected','2035','None')], data[('Population Projected','2025','None')])
data[('Population Projected % Change', 'None','2035-2045')] = percentchange(data[('Population Projected','2045','None')], data[('Population Projected','2035','None')])

data[('Population Projected Change', 'None','2017-2020')] = realchange(data[('Population Projected','2020','None')], data[('Population Projected','2017','None')])
data[('Population Projected Change', 'None','2020-2025')] = realchange(data[('Population Projected','2025','None')], data[('Population Projected','2020','None')])
data[('Population Projected Change', 'None','2020-2035')] = realchange(data[('Population Projected','2035','None')], data[('Population Projected','2020','None')])
data[('Population Projected Change', 'None','2020-2045')] = realchange(data[('Population Projected','2045','None')], data[('Population Projected','2020','None')])
data[('Population Projected Change', 'None','2025-2035')] = realchange(data[('Population Projected','2035','None')], data[('Population Projected','2025','None')])
data[('Population Projected Change', 'None','2035-2045')] = realchange(data[('Population Projected','2045','None')], data[('Population Projected','2035','None')])

In [94]:
data = data.stack([1, 1])
data = data.reset_index(drop = False)
data = data.rename(columns = {'level_2':'Year', 'level_3':'Time Frame'})
#data.tail()
pops = data

In [95]:
#employment
data = pd.read_csv('../data downloads/projections_employment.csv')
data = data.set_index(['NAME', 'GEO_ID'])
data.columns = pd.MultiIndex.from_product([['Employment Projected'], data.columns, ['None']])
data.head()

                                             Employment Projected
                                                             2017    2020    2025    2035    2045
                                                             None    None    None    None    None
NAME                        GEO_ID
Cheatham County, Tennessee  0500000US47021                  14999   15598   16641   18551   20304
Davidson County, Tennessee  0500000US47037                 638807  663935  708262  794173  864682
Dickson County, Tennessee   1600000US4720620                25580   26652   28417   31114   33019
Houston County, Tennessee   0500000US47083                   2606    2728    2954    3365    3719
Humphreys County, Tennessee 0500000US47085                   8813    9027    9419   10092   10660

In [96]:
data[('Employment Projected % Change', 'None','2017-2020')] = percentchange(data[('Employment Projected','2020','None')], data[('Employment Projected','2017','None')])
data[('Employment Projected % Change', 'None','2020-2025')] = percentchange(data[('Employment Projected','2025','None')], data[('Employment Projected','2020','None')])
data[('Employment Projected % Change', 'None','2020-2035')] = percentchange(data[('Employment Projected','2035','None')], data[('Employment Projected','2020','None')])
data[('Employment Projected % Change', 'None','2020-2045')] = percentchange(data[('Employment Projected','2045','None')], data[('Employment Projected','2020','None')])
data[('Employment Projected % Change', 'None','2025-2035')] = percentchange(data[('Employment Projected','2035','None')], data[('Employment Projected','2025','None')])
data[('Employment Projected % Change', 'None','2035-2045')] = percentchange(data[('Employment Projected','2045','None')], data[('Employment Projected','2035','None')])

data[('Employment Projected Change', 'None','2017-2020')] = realchange(data[('Employment Projected','2020','None')], data[('Employment Projected','2017','None')])
data[('Employment Projected Change', 'None','2020-2025')] = realchange(data[('Employment Projected','2025','None')], data[('Employment Projected','2020','None')])
data[('Employment Projected Change', 'None','2020-2035')] = realchange(data[('Employment Projected','2035','None')], data[('Employment Projected','2020','None')])
data[('Employment Projected Change', 'None','2020-2045')] = realchange(data[('Employment Projected','2045','None')], data[('Employment Projected','2020','None')])
data[('Employment Projected Change', 'None','2025-2035')] = realchange(data[('Employment Projected','2035','None')], data[('Employment Projected','2025','None')])
data[('Employment Projected Change', 'None','2035-2045')] = realchange(data[('Employment Projected','2045','None')], data[('Employment Projected','2035','None')])

In [97]:
data = data.stack([1, 1])
data = data.reset_index(drop = False)
data = data.rename(columns = {'level_2':'Year', 'level_3':'Time Frame'})
#data.tail()
emp = data

In [98]:
emp.head()

                         NAME          GEO_ID  Year Time Frame  Employment Projected  Employment Projected % Change  Employment Projected Change
0  Cheatham County, Tennessee  0500000US47021  2017       None               14999.0                            NaN                          NaN
1  Cheatham County, Tennessee  0500000US47021  2020       None               15598.0                            NaN                          NaN
2  Cheatham County, Tennessee  0500000US47021  2025       None               16641.0                            NaN                          NaN
3  Cheatham County, Tennessee  0500000US47021  2035       None               18551.0                            NaN                          NaN
4  Cheatham County, Tennessee  0500000US47021  2045       None               20304.0                            NaN                          NaN

# Join all

In [99]:
frames = [historical, pops, emp, hhs]

In [108]:
data = reduce(lambda  left,right: pd.merge(left,right,on=['NAME', 'GEO_ID', 'Year', 'Time Frame'],
                                           how='outer'), frames)

In [109]:
data.tail(100)

,NAME,GEO_ID,Year,Time Frame,Population,Population % Change,Population Change,Population Projected,Population Projected % Change,Population Projected Change,Employment Projected,Employment Projected % Change,Employment Projected Change,Households Projected,Households Projected % Change,Households Projected Change
4852,"Thompson's Station town, Tennessee",1600000US4773900,None,2035-2045,NaN,NaN,NaN,NaN,69.526300,6913.0,NaN,40.260237,1052.0,NaN,67.745536,2428.0
4853,"Vanleer town, Tennessee",1600000US4776860,2017,None,NaN,NaN,NaN,379.0,NaN,NaN,133.0,NaN,NaN,149.0,NaN,NaN
4854,"Vanleer town, Tennessee",1600000US4776860,2020,None,NaN,NaN,NaN,392.0,NaN,NaN,137.0,NaN,NaN,153.0,NaN,NaN
4855,"Vanleer town, Tennessee",1600000US4776860,2025,None,NaN,NaN,NaN,409.0,NaN,NaN,147.0,NaN,NaN,158.0,NaN,NaN
4856,"Vanleer town, Tennessee",1600000US4776860,2035,None,NaN,NaN,NaN,420.0,NaN,NaN,157.0,NaN,NaN,163.0,NaN,NaN
4857,"Vanleer town, Tennessee",1600000US4776860,2045,None,NaN,NaN,NaN,453.0,NaN,NaN,164.0,NaN,NaN,172.0,NaN,NaN
4858,"Vanleer town, Tennessee",1600000US4776860,None,2017-2020,NaN,NaN,NaN,NaN,3.430079,13.0,NaN,3.007519,4.0,NaN,2.684564,4.0
4859,"Vanleer town, Tennessee",1600000US4776860,None,2020-2025,NaN,NaN,NaN,NaN,4.336735,17.0,NaN,7.299270,10.0,NaN,3.267974,5.0
4860,"Vanleer town, Tennessee",1600000US4776860,None,2020-2035,NaN,NaN,NaN,NaN,7.142857,28.0,NaN,14.598540,20.0,NaN,6.535948,10.0
4861,"Vanleer town, Tennessee",1600000US4776860,None,2020-2045,NaN,NaN,NaN,NaN,15.561224,61.0,NaN,19.708029,27.0,NaN,12.418301,19.0
4862,"Vanleer town, Tennessee",1600000US4776860,None,2025-2035,NaN,NaN,NaN,NaN,2.689487,11.0,NaN,6.802721,10.0,NaN,3.164557,5.0
4863,"Vanleer town, Tennessee",1600000US4776860,None,2035-2045,NaN,NaN,NaN,NaN,7.857143,33.0,NaN,4.458599,7.0,NaN,5.521472,9.0
4864,"Watertown city, Tennessee",1600000US4778320,2017,None,NaN,NaN,NaN,1554.0,NaN,NaN,748.0,NaN,NaN,600.0,NaN,NaN
4865,"Watertown city, Tennessee",1600000US4778320,2020,None,NaN,NaN,NaN,1621.0,NaN,NaN,832.0,NaN,NaN,631.0,NaN,NaN
4866,"Watertown city, Tennessee",1600000US4778320,2025,None,NaN,NaN,NaN,1742.0,NaN,NaN,988.0,NaN,NaN,678.0,NaN,NaN
4867,"Watertown city, Tennessee",1600000US4778320,2035,None,NaN,NaN,NaN,1917.0,NaN,NaN,1259.0,NaN,NaN,750.0,NaN,NaN
4868,"Watertown city, Tennessee",1600000US4778320,2045,None,NaN,NaN,NaN,2097.0,NaN,NaN,1527.0,NaN,NaN,830.0,NaN,NaN
4869,"Watertown city, Tennessee",1600000US4778320,None,2017-2020,NaN,NaN,NaN,NaN,4.311454,67.0,NaN,11.229947,84.0,NaN,5.166667,31.0
4870,"Watertown city, Tennessee",1600000US4778320,None,2020-2025,NaN,NaN,NaN,NaN,7.464528,121.0,NaN,18.750000,156.0,NaN,7.448494,47.0
4871,"Watertown city, Tennessee",1600000US4778320,None,2020-2035,NaN,NaN,NaN,NaN,18.260333,296.0,NaN,51.322115,427.0,NaN,18.858954,119.0
4872,"Watertown city, Tennessee",1600000US4778320,None,2020-2045,NaN,NaN,NaN,NaN,29.364590,476.0,NaN,83.533654,695.0,NaN,31.537242,199.0
4873,"Watertown city, Tennessee",1600000US4778320,None,2025-2035,NaN,NaN,NaN,NaN,10.045924,175.0,NaN,27.429150,271.0,NaN,10.619469,72.0
4874,"Watertown city, Tennessee",1600000US4778320,None,2035-2045,NaN,NaN,NaN,NaN,9.389671,180.0,NaN,21.286736,268.0,NaN,10.666667,80.0
4875,"Waverly city, Tennessee",1600000US4778560,2017,None,NaN,NaN,NaN,3717.0,NaN,NaN,3733.0,NaN,NaN,1711.0,NaN,NaN
4876,"Waverly city, Tennessee",1600000US4778560,2020,None,NaN,NaN,NaN,3813.0,NaN,NaN,3890.0,NaN,NaN,1763.0,NaN,NaN
4877,"Waverly city, Tennessee",1600000US4778560,2025,None,NaN,NaN,NaN,3936.0,NaN,NaN,4159.0,NaN,NaN,1822.0,NaN,NaN
4878,"Waverly city, Tennessee",1600000US4778560,2035,None,NaN,NaN,NaN,4081.0,NaN,NaN,4639.0,NaN,NaN,1893.0,NaN,NaN
4879,"Waverly city, Tennessee",1600000US4778560,2045,None,NaN,NaN,NaN,4205.0,NaN,NaN,5068.0,NaN,NaN,1951.0,NaN,NaN
4880,"Waverly city, Tennessee",1600000US4778560,None,2017-2020,NaN,NaN,NaN,NaN,2.582728,96.0,NaN,4.205733,157.0,NaN,3.039158,52.0
4881,"Waverly city, Tennessee",1600000US4778560,None,2020-2025,NaN,NaN,NaN,NaN,3.225806,123.0,NaN,6.915167,269.0,NaN,3.346568,59.0
4882,"Waverly city, Tennessee",1600000US4778560,None,2020-2035,NaN,NaN,NaN,NaN,7.028586,268.0,NaN,19.254499,749.0,NaN,7.373795,130.0
4883,"Waverly city, Tennessee",1600000US4778560,None,2020-2045,NaN,NaN,NaN,NaN,10.280619,392.0,NaN,30.282776,1178.0,NaN,10.663642,188.0
4884,"Waverly city, Tennessee",1600000US4778560,None,2025-2035,NaN,NaN,NaN,NaN,3.683943,145.0,NaN,11.541236,480.0,NaN,3.896817,71.0
4885,"Waverly city, Tennessee",1600000US4778560,None,2035-2045,NaN,NaN,NaN,NaN,3.038471,124.0,NaN,9.247683,429.0,NaN,3.063920,58.0
4886,"Westmoreland town, Tennessee",1600000US4779420,2017,None,NaN,NaN,NaN,2431.0,NaN,NaN,1312.0,NaN,NaN,919.0,NaN,NaN
4887,"Westmoreland town, Tennessee",1600000US4779420,2020,None,NaN,NaN,NaN,2723.0,NaN,NaN,1354.0,NaN,NaN,1037.0,NaN,NaN
4888,"Westmoreland town, Tennessee",1600000US4779420,2025,None,NaN,NaN,NaN,3104.0,NaN,NaN,1460.0,NaN,NaN,1196.0,NaN,NaN
4889,"Westmoreland town, Tennessee",1600000US4779420,2035,None,NaN,NaN,NaN,3864.0,NaN,NaN,1647.0,NaN,NaN,1503.0,NaN,NaN
4890,"Westmoreland town, Tennessee",1600000US4779420,2045,None,NaN,NaN,NaN,4769.0,NaN,NaN,1832.0,NaN,NaN,1857.0,NaN,NaN
4891,"Westmoreland town, Tennessee",1600000US4779420,None,2017-2020,NaN,NaN,NaN,NaN,12.011518,292.0,NaN,3.201220,42.0,NaN,12.840044,118.0
4892,"Westmoreland town, Tennessee",1600000US4779420,None,2020-2025,NaN,NaN,NaN,NaN,13.991921,381.0,NaN,7.828656,106.0,NaN,15.332690,159.0
4893,"Westmoreland town, Tennessee",1600000US4779420,None,2020-2035,NaN,NaN,NaN,NaN,41.902314,1141.0,NaN,21.639586,293.0,NaN,44.937319,466.0
4894,"Westmoreland town, Tennessee",1600000US4779420,None,2020-2045,NaN,NaN,NaN,NaN,75.137716,2046.0,NaN,35.302806,478.0,NaN,79.074253,820.0
4895,"Westmoreland town, Tennessee",1600000US4779420,None,2025-2035,NaN,NaN,NaN,NaN,24.484536,760.0,NaN,12.808219,187.0,NaN,25.668896,307.0
4896,"Westmoreland town, Tennessee",1600000US4779420,None,2035-2045,NaN,NaN,NaN,NaN,23.421325,905.0,NaN,11.232544,185.0,NaN,23.552894,354.0
4897,"White Bluff town, Tennessee",1600000US4779980,2017,None,NaN,NaN,NaN,3733.0,NaN,NaN,1347.0,NaN,NaN,1426.0,NaN,NaN
4898,"White Bluff town, Tennessee",1600000US4779980,2020,None,NaN,NaN,NaN,3935.0,NaN,NaN,1434.0,NaN,NaN,1501.0,NaN,NaN
4899,"White Bluff town, Tennessee",1600000US4779980,2025,None,NaN,NaN,NaN,4163.0,NaN,NaN,1566.0,NaN,NaN,1596.0,NaN,NaN
4900,"White Bluff town, Tennessee",1600000US4779980,2035,None,NaN,NaN,NaN,4490.0,NaN,NaN,1721.0,NaN,NaN,1725.0,NaN,NaN
4901,"White Bluff town, Tennessee",1600000US4779980,2045,None,NaN,NaN,NaN,4816.0,NaN,NaN,1810.0,NaN,NaN,1852.0,NaN,NaN
4902,"White Bluff town, Tennessee",1600000US4779980,None,2017-2020,NaN,NaN,NaN,NaN,5.411197,202.0,NaN,6.458797,87.0,NaN,5.259467,75.0
4903,"White Bluff town, Tennessee",1600000US4779980,None,2020-2025,NaN,NaN,NaN,NaN,5.794155,228.0,NaN,9.205021,132.0,NaN,6.329114,95.0
4904,"White Bluff town, Tennessee",1600000US4779980,None,2020-2035,NaN,NaN,NaN,NaN,14.104193,555.0,NaN,20.013947,287.0,NaN,14.923384,224.0
4905,"White Bluff town, Tennessee",1600000US4779980,None,2020-2045,NaN,NaN,NaN,NaN,22.388818,881.0,NaN,26.220363,376.0,NaN,23.384410,351.0
4906,"White Bluff town, Tennessee",1600000US4779980,None,2025-2035,NaN,NaN,NaN,NaN,7.854912,327.0,NaN,9.897829,155.0,NaN,8.082707,129.0
4907,"White Bluff town, Tennessee",1600000US4779980,None,2035-2045,NaN,NaN,NaN,NaN,7.260579,326.0,NaN,5.171412,89.0,NaN,7.362319,127.0
4908,"White House city, Tennessee",1600000US4780200,2017,None,NaN,NaN,NaN,12392.0,NaN,NaN,7501.0,NaN,NaN,4305.0,NaN,NaN
4909,"White House city, Tennessee",1600000US4780200,2020,None,NaN,NaN,NaN,13633.0,NaN,NaN,7914.0,NaN,NaN,4747.0,NaN,NaN
4910,"White House city, Tennessee",1600000US4780200,2025,None,NaN,NaN,NaN,15449.0,NaN,NaN,8490.0,NaN,NaN,5394.0,NaN,NaN
4911,"White House city, Tennessee",1600000US4780200,2035,None,NaN,NaN,NaN,18177.0,NaN,NaN,9787.0,NaN,NaN,6413.0,NaN,NaN
4912,"White House city, Tennessee",1600000US4780200,2045,None,NaN,NaN,NaN,20873.0,NaN,NaN,11071.0,NaN,NaN,7427.0,NaN,NaN
4913,"White House city, Tennessee",1600000US4780200,None,2017-2020,NaN,NaN,NaN,NaN,10.014526,1241.0,NaN,5.505933,413.0,NaN,10.267131,442.0
4914,"White House city, Tennessee",1600000US4780200,None,2020-2025,NaN,NaN,NaN,NaN,13.320619,1816.0,NaN,7.278241,576.0,NaN,13.629661,647.0
4915,"White House city, Tennessee",1600000US4780200,None,2020-2035,NaN,NaN,NaN,NaN,33.330888,4544.0,NaN,23.666919,1873.0,NaN,35.095850,1666.0
4916,"White House city, Tennessee",1600000US4780200,None,2020-2045,NaN,NaN,NaN,NaN,53.106433,7240.0,NaN,39.891332,3157.0,NaN,56.456710,2680.0
4917,"White House city, Tennessee",1600000US4780200,None,2025-2035,NaN,NaN,NaN,NaN,17.658101,2728.0,NaN,15.276796,1297.0,NaN,18.891361,1019.0
4918,"White House city, Tennessee",1600000US4780200,None,2035-2045,NaN,NaN,NaN,NaN,14.831930,2696.0,NaN,13.119444,1284.0,NaN,15.811633,1014.0
4919,GNRC,NaN,2017,None,NaN,NaN,NaN,1817546.0,NaN,NaN,1328547.0,NaN,NaN,711137.0,NaN,NaN
4920,GNRC,NaN,2020,None,NaN,NaN,NaN,1957419.0,NaN,NaN,1398218.0,NaN,NaN,764465.0,NaN,NaN
4921,GNRC,NaN,2025,None,NaN,NaN,NaN,2171887.0,NaN,NaN,1523206.0,NaN,NaN,845208.0,NaN,NaN
4922,GNRC,NaN,2035,None,NaN,NaN,NaN,2577014.0,NaN,NaN,1783924.0,NaN,NaN,996443.0,NaN,NaN
4923,GNRC,NaN,2045,None,NaN,NaN,NaN,3047760.0,NaN,NaN,2049126.0,NaN,NaN,1171266.0,NaN,NaN
4924,GNRC,NaN,None,2017-2020,NaN,NaN,NaN,NaN,7.695706,139873.0,NaN,5.244150,69671.0,NaN,7.498977,53328.0
4925,GNRC,NaN,None,2020-2025,NaN,NaN,NaN,NaN,10.956673,214468.0,NaN,8.939092,124988.0,NaN,10.562027,80743.0
4926,GNRC,NaN,None,2020-2035,NaN,NaN,NaN,NaN,31.653673,619595.0,NaN,27.585541,385706.0,NaN,30.345143,231978.0
4927,GNRC,NaN,None,2020-2045,NaN,NaN,NaN,NaN,55.702995,1090341.0,NaN,46.552683,650908.0,NaN,53.213816,406801.0
4928,GNRC,NaN,None,2025-2035,NaN,NaN,NaN,NaN,18.653226,405127.0,NaN,17.116398,260718.0,NaN,17.893229,151235.0
4929,GNRC,NaN,None,2035-2045,NaN,NaN,NaN,NaN,18.267111,470746.0,NaN,14.866216,265202.0,NaN,17.544707,174823.0
4930,MPO,NaN,2017,None,NaN,NaN,NaN,1586142.0,NaN,NaN,1242841.0,NaN,NaN,623540.0,NaN,NaN
4931,MPO,NaN,2020,None,NaN,NaN,NaN,1705438.0,NaN,NaN,1307591.0,NaN,NaN,668971.0,NaN,NaN
4932,MPO,NaN,2025,None,NaN,NaN,NaN,1887724.0,NaN,NaN,1423931.0,NaN,NaN,737550.0,NaN,NaN
4933,MPO,NaN,2035,None,NaN,NaN,NaN,2231736.0,NaN,NaN,1667304.0,NaN,NaN,865792.0,NaN,NaN
4934,MPO,NaN,2045,None,NaN,NaN,NaN,2633573.0,NaN,NaN,1913811.0,NaN,NaN,1014756.0,NaN,NaN
4935,MPO,NaN,None,2017-2020,NaN,NaN,NaN,NaN,7.521142,119296.0,NaN,5.209838,64750.0,NaN,7.285980,45431.0
4936,MPO,NaN,None,2020-2025,NaN,NaN,NaN,NaN,10.688515,182286.0,NaN,8.897278,116340.0,NaN,10.251416,68579.0
4937,MPO,NaN,None,2020-2035,NaN,NaN,NaN,NaN,30.859990,526298.0,NaN,27.509596,359713.0,NaN,29.421455,196821.0
4938,MPO,NaN,None,2020-2045,NaN,NaN,NaN,NaN,54.422090,928135.0,NaN,46.361592,606220.0,NaN,51.689087,345785.0
4939,MPO,NaN,None,2025-2035,NaN,NaN,NaN,NaN,18.223639,344012.0,NaN,17.091629,243373.0,NaN,17.387567,128242.0
4940,MPO,NaN,None,2035-2045,NaN,NaN,NaN,NaN,18.005580,401837.0,NaN,14.784766,246507.0,NaN,17.205518,148964.0
4941,GNRC Region,NaN,2017,None,NaN,NaN,NaN,1903165.0,NaN,NaN,1377922.0,NaN,NaN,744469.0,NaN,NaN
4942,GNRC Region,NaN,2020,None,NaN,NaN,NaN,2047709.0,NaN,NaN,1449601.0,NaN,NaN,799607.0,NaN,NaN
4943,GNRC Region,NaN,2025,None,NaN,NaN,NaN,2268607.0,NaN,NaN,1578132.0,NaN,NaN,882842.0,NaN,NaN
4944,GNRC Region,NaN,2035,None,NaN,NaN,NaN,2683897.0,NaN,NaN,1845791.0,NaN,NaN,1038007.0,NaN,NaN
4945,GNRC Region,NaN,2045,None,NaN,NaN,NaN,3164912.0,NaN,NaN,2117273.0,NaN,NaN,1216853.0,NaN,NaN
4946,GNRC Region,NaN,None,2017-2020,NaN,NaN,NaN,NaN,7.594927,144544.0,NaN,5.201964,71679.0,NaN,7.406353,55138.0
4947,GNRC Region,NaN,None,2020-2025,NaN,NaN,NaN,NaN,10.787568,220898.0,NaN,8.866647,128531.0,NaN,10.409489,83235.0
4948,GNRC Region,NaN,None,2020-2035,NaN,NaN,NaN,NaN,31.068282,636188.0,NaN,27.330969,396190.0,NaN,29.814646,238400.0
4949,GNRC Region,NaN,None,2020-2045,NaN,NaN,NaN,NaN,54.558680,1117203.0,NaN,46.059019,667672.0,NaN,52.181384,417246.0
4950,GNRC Region,NaN,None,2025-2035,NaN,NaN,NaN,NaN,18.305947,415290.0,NaN,16.960495,267659.0,NaN,17.575625,155165.0
4951,GNRC Region,NaN,None,2035-2045,NaN,NaN,NaN,NaN,17.922260,481015.0,NaN,14.708166,271482.0,NaN,17.229749,178846.0

In [112]:
data.to_csv('../output/HISTORICAL_PROJECTION.csv', index = False)